{% extends 'base.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}account/css/lr-common.css" />
{% endblock %}

{% block body %}

<div class="content">
    <h1 class="text-center masthead">
        <strong>忘记密码</strong><br>
        <span>聘宝，为你量身推荐好工作</span>
    </h1>
</div>
<div class="content">
    <div class="inner-content apply-code">
        <form id="forgetForm" accept-charset="utf-8" autocomplete="off" novalidate="novalidate">
            <div>
                <input type="email" class="input" placeholder="请输入注册邮箱" name="username" id="id_username" maxlength="60" aria-required="true"/>
            </div>
            {% csrf_token %}
            <div class="btn">
                <button type="button" id="id_submit" class="button">找回密码</button>
            </div>
            <div class="none">
                <span class="result"></span>
            </div>
        </form>
    </div>
</div>
<div class="content">
	<div class="none">
		<span class="malice tips"></span>
	</div>
	<div class="none">
        <span class="reset_send_resp tips"></span>
    </div>
    <div class="none">
        <span class="reset_send_info tips"></span>
    </div>
    <div class="none">
        <span class="reset_resend_info tips"></span>
    </div>
    <div class="inner-content notice">
        <p class="text-center">
            已有帐号？<a id="login" class="blue-line" href="{% url 'account-login' %}">登录</a>
        </p>
    </div>
</div>
{% endblock %}
{% block footer %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}common/js/jquery.validate.js"></script>
    <script src="{{ STATIC_URL }}common/js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}account/forget_password.min.js" ></script>
{% endblock %}
