{% extends 'base.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}account/css/lr-common.css" />
{% endblock %}

{% block body %}

<div class="content">
    <h1 class="text-center masthead">
        <strong class="c2c2c2c">设置密码</strong><br>
        <span class="c607d8b">聘宝，为你量身推荐好工作</span>
    </h1>
</div>
<div class="content">
    <div class="inner-content apply-code">
        <form id="resetForm" accept-charset="utf-8" accept-charset="utf-8" method="post" autocomplete="off" novalidate="novalidate">
            <div>
                <input type="password" class="input" placeholder="请输入新密码" name="password" id="id_password" maxlength="20" aria-required="true"/>
            </div>
            <div>
                <input type="password" class="input" placeholder="请再次输入新密码" name="confirm_password" id="id_confirm_password" maxlength="20" aria-required="true"/>
            </div>
            {% csrf_token %}
            <div>
                <button type="button" id="id_submit" class="button">确认修改</button>
            </div>
        </form>
    </div>
</div>
<div class="content">
    <div class="inner-content notice">
        <p class="text-center">
            已有帐号？<a id="login" class="blue-line" href="{% url 'account-login' %}">登录</a>
        </p>
    </div>
</div>
{% endblock %}
{% block footer %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}common/js/jquery.validate.js"></script>
    <script src="{{ STATIC_URL }}common/js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}account/reset_password.min.js" ></script>
{% endblock %}
