{% extends 'email_base.html' %}

{% block body %}
<!-- content start -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;font-family: 'Hiragino Sans GB', 'microsoft yahei', Helvetica, Arial, pxsans-serif;" width="640">
        <tbody>
            <tr>
                <td style="padding: 36px 50px;vertical-align: top;background:#fff;color:#444;">
                    <p style="font-size:15px; line-height:25px;"><span style="color:#0091fa;">{{ username|default:'15528252588@163.com' }}</span>, 您好！
                        <br/>
                        <br/>
                        请点击下面的链接来重置您在聘宝 · 求职版的登录密码:<br /><br />
                        <a href="{{ valid_url }}" style="color:#0091fa; text-decoration: underline;word-wrap: break-word; word-break: break-all;width:540px;">{{ valid_url|default:'http://www.pinbot.me' }}</a><br/><br/>
                        （本链接1天内有效）
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
<!-- content end -->
{% endblock %}
