*.pyc
/logs
/run.bat
/media/resumes/*
/media/staff/resumes/*
/run_org
*.orig
/pin_venv
settings_dev.py
settings_local_test.py
*.BASE.*
*.LOCAL.*
*.REMOTE.*
/public/CACHE
/.settings/*
.settings/org.eclipse.core.resources.prefs
*.DS_Store
msyh.ttf
*.swp
.#*
.setting/
*BACKUP*
*.org
/Brick/static_root
/static_root/
*.tmp
.idea/*
.pydev*
.project*
*.sublime-project
*.sublime-workspace
*BASE*
*LOCAL*
*REMOTE*
*.rest
*.prof
