<div style="background:#fff;font-family:Helvetica,Arial,Sans-serif;padding:20px 0;">
  <div style="width:80%;min-width:322px;margin:0 auto;background:#fff;color:#333;border:1px solid #c8c8c8;">
    <div style="margin:10px 10px 0;background:#f0f0f0;padding:20px;">
      <h1 style="margin:0;padding:0;margin-bottom:15px;line-height:1.5;margin-bottom:0;line-height:0;">
        <a href="http://pinbot.me" style="color:#5E93C9;"><img width="130px" src="http://t1.pinbot.me/email/g/img/logo.png" alt="&#328$6;&#23453;"></a>
      </h1>
    </div>
    <div id="email-body" style="padding:40px 20px;font-size:.95em;border-top:3px solid #273f57;border-bottom:3px solid #ccc;background:#f9f9f9;margin:0 10px;"><p style="line-height:1.5;margin-bottom:20px;word-break:break-word;"><strong>下面这些用户没有激活！</strong></p>

			{% for user in user_list %}
				{% for item in user %}
					{{item}} &nbsp;&nbsp;&nbsp;&nbsp;
				{% endfor %}
				</br>
			{% endfor %}

<p style="line-height:1.5;margin-bottom:20px;word-break:break-word;">再次感谢您的关注，愿聘宝在招聘之路上伴您一路同行！</p></div>
    <div style="color:#555;margin:0 10px 10px;padding:20px;font-size:.8em;background:#f0f0f0;">
      <h2 style="font-size:16px;font-weight:normal;margin:0;line-height:2;color:#000;">聘宝，专业人才推荐</h2>
      <p style="margin:0;line-height:2;">
        <a href="http://hopperclouds.com" style="color:#5E93C9;margin-right:5px;color:#333;">关于我们</a><span style="margin:0 3px;color:#999;">|</span
>
        <a href="http://weibo.com/u/3739464981" style="color:#5E93C9;margin-right:5px;color:#333;">关注聘宝</a>
      </p>
      <p style="margin:0;line-height:2;color:#999;">
        Copyright &copy; 2016 HopperClouds Inc.
      </p>
    </div>
  </div>
</div>


