<div class="main-subnav">
    <div id="resume-list-header">
        <ul class="main-subnav-list">
            <li class="first-child {{ reco_task }}">
                <a href="/partner/reco_task/#/list">任务认领</a>
            </li>
            <li class="{{ task_list }}">
                <a href="/partner/task_manage/">我的任务</a>
            </li>
            <li class="{{ my_resume }}">
                <a href="/partner/resume_manage/#/manage_detail/">我的简历</a>
            </li>
        </ul>
    </div>
</div>
{% include 'health/health.html' %}
{# include 'eggs/eggs.html' #}