{% extends 'base_account.html' %}

{% block content %}
<div class="register welcome">
    <div class="layout">
        <a class="logo" href="/" title=""></a>
        <div class="main">
            <div class="content">
                <h1 class="protocal-header">聘宝互助伙伴协议</h1>
                <div class="alert-protocal">
                    <div class="section">
                        <p class="title">一、权限</p>
                        <p>使用互助伙伴服务，需要先成为聘宝会员，否则不能使用该功能；</p>
                    </div>
                    <div class="section">
                        <p class="title">二、用户的权利和义务</p>
                        <p>1、聘宝依法禁止上传或以其它方式传送含有下列内容之一的信息：</p>
                        <div style="padding:0 0 11px 32px;">
                            <p>a 、反对宪法所确定的基本原则的；</p>
                            <p>b 、危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                            <p>c 、损害国家荣誉和利益的；</p>
                            <p>d 、煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                            <p>e 、破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                            <p>f 、散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                            <p>g 、散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                            <p>h 、侮辱或者诽谤他人，侵害他人合法权益的；</p>
                            <p>i 、含有法律、行政法规禁止的其他内容的。</p>
                        </div>
                        <p>2、为保证您的权益，您未授权推荐的用户将无法查看到简历，但是可能会存在不同的互助伙伴推荐相同的简历信息的情况；</p>
                        <p>3、聘宝提供互助伙伴推荐机制，互助伙伴推荐的简历将展现给对应的聘宝用户。互助用户推荐的简历被查看将获得相应的金币奖励，后续被下载也将获得相应的金币奖励，互助伙伴推荐的候选人进入面试、入职阶段也将获得对应的金币奖励，具体奖励金币数量以互助伙伴奖励说明页面为主。 </p>
                        <p>4、用户在推荐人才过程中需要对简历候选人的隐私权给与尊重和保护，在征得候选人知情并同意才可以进行推荐，由此产生隐私权纠纷的，责任由上传者自行承担；</p>
                        <p>5、为保证聘宝提供更好的服务，用户上传的简历需要至少包括姓名、联系电话、联系邮箱，工作经历、教育经历等基本信息，并确保以上信息的真实有效；若以上信息有误，将对用户执行相应的处罚，包括但不限于扣除已获得的金币奖励，取消互助伙伴权限等；</p>
                        <p>6、推荐要求：</p>
                        <div style="padding:0 0 11px 32px;">
                            <p>a、用户可以通过聘宝发布的职位进行简历推荐，聘宝只接受通过聘宝进行的人才推荐；对于以线下方式进行的推荐，用户将无法获得相应的金币奖励；</p>
                            <p>b、每次的简历推荐都将成为影响用户等级评定及其诚信和影响力的因素，因此，用户应认真对待每一次参与推荐的机会；</p>
                            <p>c、用户将不允许重复推荐同一候选人的简历，聘宝将会自动检测是否重复推荐并予以提示。聘宝无法完全避免重复上传，当出现重复的情况时，只有首先进行推荐的用户才有可能获得点数奖励；</p>
                        </div>
                    </div>
                    <div class="section">
                        <p class="title">三、聘宝的权利和义务</p>
                        <p>1、简历推荐后到达奖励节点（以上提到被查看、下载、进入面试、入职），聘宝应及时发放金币奖励至互助伙伴账户中；</p>
                        <p>2、若用户推荐的简历存在真实性或者无求职意愿等问题被聘宝HR用户举报，聘宝有权对该简历的推荐用户执行处罚，并扣除相应的已获得金币；若被举报次数达到两次及以上，聘宝有权取消该用户互助推荐的权限，无法再进行简历推荐功能；</p>
                    </div>
                    <div class="section">
                        <p class="title">四、服务风险及免责声明</p>
                        <p>1、本服务涉及到互联网服务，可能会受到各个环节不稳定因素的影响。因此服务存在因上述不可抗力，或者计算机病毒或黑客攻击、系统不稳定、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险，使用本服务的用户须承担以上风险。聘宝对服务之及时性、安全性、准确性不作担保，对因此导致用户不能上传简历，查看简历或其他问题不承担任何责任。对于不可抗力或非聘宝过错原因导致的用户数据损失、丢失或服务停止，聘宝将不承担任何责任。，用户应自行留档。</p>
                        <p>2、聘宝在使用用户推荐的简历时，有权标注聘宝的标识（包括但不限于相关的文字表述、聘宝的名称、LOGO等）。</p>
                    </div>
                    <div class="section">
                        <p class="title">五、协议修改</p>
                        <p>聘宝有权随时修改本协议的任意条款，一旦本协议的内容发生变动，聘宝将通过适当方式向用户提示修改内容。</p>
                    </div>
                </div>
            </div>
        </div><!-- main -->
    </div><!-- layout -->
</div><!-- register -->
{% endblock %}

{% block footer %}
{% endblock %}