{% extends 'base_revision.html' %}
{% load compress %}

{% block header %}
{{ block.super }}
    {% compress css %}
        <link href="{{ STATIC_URL }}partner/css/reco_task.css" type="text/css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}partner/css/index.css" type="text/css" rel="stylesheet" />
    {% endcompress %}
{% endblock %}

{% block app %} class="noheadershadow" {% endblock %}

{% block nav_header %}
{% include 'alpha/new-header.html' with upload_class="curr" %}
{% endblock %}

{% block content %}

<div class="partner-banner">
    <a href="/partner/reco_task/" title="成为互助伙伴"><img src="{{ STATIC_URL }}partner/images/banner_1920x532.jpg" alt="成为互助伙伴" width="100%"></a>
</div>

<div class="regular" id="regular">
    <h3 class="regular-title">互助奖励机制</h3>
    <table class="mt20">
        <tbody>
            <tr>
                <td colspan="6" class="border-none"></td>
                <td>&ge;10次</td>
                <td><span class="cf46c62">60%</span>佣金/次</td>
                <td class="border-none level">lv.5</td>
            </tr>
            <tr>
                <td colspan="4" class="border-none"></td>
                <td>&ge;10次</td>
                <td><span class="cf46c62">200</span>金币/次</td>
                <td>&ge;8次</td>
                <td><span class="cf46c62">40%</span>佣金/次</td>
                <td class="border-none level">lv.4</td>
            </tr>
            <tr>
                <td colspan="4" class="border-none"></td>
                <td>&ge;5次</td>
                <td><span class="cf46c62">130</span>金币/次</td>
                <td>&ge;5次</td>
                <td><span class="cf46c62">30%</span>佣金/次</td>
                <td class="border-none level">lv.3</td>
            </tr>
            <tr>
                <td colspan="2" class="border-none"></td>
                <td>&ge;20次</td>
                <td><span class="cf46c62">15</span>金币/次</td>
                <td>&ge;2次</td>
                <td><span class="cf46c62">100</span>金币/次</td>
                <td>&ge;2次</td>
                <td><span class="cf46c62">20%</span>佣金/次</td>
                <td class="border-none level">lv.2</td>
            </tr>
            <tr class="pre-bottom-row">
                <td>&ge;0次</td>
                <td><span class="cf46c62">1</span>金币/次</td>
                <td>&ge;0次</td>
                <td><span class="cf46c62">10</span>金币/次</td>
                <td>&ge;0次</td>
                <td><span class="cf46c62">80</span>金币/次</td>
                <td>&ge;0次</td>
                <td><span class="cf46c62">10%</span>佣金/次</td>
                <td class="border-none level">lv.1</td>
            </tr>
            <tr>
                <td colspan="2" class="state state-1">
                    <span>被查看（限时）</span>
                </td>
                <td colspan="2" class="state state-2">
                    <span>简历被下载</span>
                </td>
                <td colspan="2" class="state state-3">
                    <span>候选人进面试</span>
                </td>
                <td colspan="2" class="state state-4">
                    <span>候选人确认入职</span>
                </td>
                <td class="border-none"></td>
            </tr>
        </tbody>
    </table>
    <p class="text-center cffffff mt30 f13">*佣金：聘宝根据入职候选人的薪资收取的费用</p>
    <p class="text-center cffffff mt10 f13">*金币可在<a href="/payment/my_account/" target="_blank" class="c44b5e8 underline">我的钱包</a>中来兑换成RMB，兑换比例是1：1(以上奖励为试运行规则，最终解释权归聘宝所有)</p>
</div>

<div class="panel mt20">
    <h3 class="panel-title w-line">互助伙伴是什么</h3>
    <ul class="mt20 w790 partner-profile">
        <li>
            <i class="i-p-question"></i>
            闲暇时间帮助其他HR招人，有更多HR同时也在帮助你
        </li>
        <li>
            <i class="i-p-pen"></i>
            你的人才资源价值最大化同时，也能帮求职者更快找到工作
        </li>
        <li>
            <i class="i-p-money"></i>
            你的每一次有价值的分享，都将获得聘宝的互助奖励
        </li>
        <li>
            <i class="i-p-time"></i>
            自由支配个人时间，让工作成为更有价值的存在
        </li>
    </ul>
</div>

<div class="panel mt20">
    <h3 class="panel-title">任务流程</h3>
    <ul class="task-steps clearfix mt20">
        <li>
            <i class="p-icon i-book"></i><br>
            认领任务
        </li>
        <li>
            <i class="p-icon i-upload"></i><br>
            录入简历，跟进任务
        </li>
        <li>
            <i class="p-icon i-coins"></i><br>
            等待获取收益
        </li>
    </ul>
</div>

<div class="text-center home-foot">
    <p class="text-center">
        <a href="{% url 'partner-reco-task' %}" class="more-task opa-btn">立即认领任务</a>
    </p>
    <p class="text-center mt10">请阅读聘宝<a href="/partner/partner_agreement/" target="_blank" class="cf46c62">《互助伙伴用户协议》</a></p>
</div>

{% include 'health/health.html' %}
{# include 'eggs/eggs.html' #}

{% endblock %}

{% block footer %}
{{ block.super }}
{% compress js %}
    {% include 'angular.html' %}
    <script src="{{ STATIC_URL }}special_feed/js/edit_feed.js?20150422"></script>
    <script type="text/javascript">
        $(function(){
            if(window.location.search.length != 0){
                var top = $('#regular').offset().top;
                $(window).scrollTop(top);
            }
        });
    </script>
{% endcompress %}
{% endblock %}
