<div class="job_panel" ng-repeat="item in data.data" ng-click="toDetail(item.id)" data-id="{- item.id -}">
    <p class="date text-center">{- item.action_time -}</p>
    <div class="job-body">
        <h3 class="text-overflow">{- item.job__title -}</h3>
        <p class="text-overflow other">
            {- item.job__salary_min | formatMoney:item.job__salary_max -}
            <!-- &nbsp;{- item.job__bind_job__work_year | filterYear -}
            &nbsp;{- item.job__bind_job__degree | filterDegree -} -->
        </p>
        <p class="text-overflow">{- item.job__company__company_name -}</p>
        <p class="text-overflow">{- item.job__expect_area -}<span ng-show="item.job__company__company_stage"> , {- item.job__company__company_stage -}</span></p>
    </div>
    <p class="text-overflow status text-center" ng-disabled="item.company_action == 'no_reply' || item.company_action == 'unfit'">{- item.company_action | textSendStatus -}</p>
    <div class="job-handle">
        <div class="text-center mt20">
            <button type="button" class="button button-primary relative w100p" ng-show="item.company_action == 'download'" ng-click="createChat( item.id , $event )"><i class="i-chat"></i>发起会话</button>
            <button type="button" class="button button-primary relative w100p" ng-show="item.company_action == 'no_reply' || item.company_action == 'unfit'" ng-click="delete( item.id , $event )"><i class="i-chat-delete"></i>删除</button>
            <p class="wait text-center" ng-show="item.company_action == 'waiting'"><i class="i-clock"></i></p>
        </div>
    </div>
</div>
