/* ------- start variables -------- */
/* for test */
/* main red button */
/* sprite */
/* main red button */
/* main blue button */
/* dark blue button */
/* dark white button */
/* main background color */
/* main font color */
/* main border color */
/* main font family */
/* main font size */
/* ------- start variables -------- */
/* ------- start mixins -------- */
.no-space {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.clear-both {
  clear: both;
}
.transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* ------- end mixins -------- */
.taocan-content {
  width: 745px;
  margin: 0 auto;
  padding: 0 0 145px;
}
.w485 {
  width: 485px;
  margin: 0 auto;
}
.t-header {
  color: #000000;
  font-size: 22px;
  padding: 50px;
  text-align: center;
  line-height: 30px;
}
.cfc7524 {
  color: #fc7524;
}
.i-big-notice {
  background: url(../images/big_notice.png) center center;
  width: 39px;
  height: 44px;
  margin-top: 30px;
  margin-left: 80px;
}
.point-info {
  margin-left: 150px;
}
.point-info td {
  padding: 5px 0;
  line-height: 20px;
  color: #707070;
  width: 49%;
}
.t-hr {
  height: 3px;
  background: #eeeeee;
  border: none;
  line-height: 3px;
  margin: 50px 0 0;
}
.i-t-arr {
  background: url(../images/t_arr.png) 0 0;
  display: inline-block;
  width: 9px;
  height: 10px;
  margin-right: 5px;
}
.t-special-list {
  border: solid 1px #dcdcdc;
  width: 100%;
}
.t-special-list th {
  border-bottom: solid 1px #dcdcdc;
}
.t-special-list th,
.t-special-list td {
  line-height: 30px;
  padding: 5px;
  text-align: center;
  color: #010101;
}
.t-special-list td.line-td {
  padding: 0;
  height: 20px;
}
.c42b3e5 {
  color: #42b3e5;
}
.t-special-list .btn {
  border-radius: 0;
}
.t-add-special {
  padding: 50px 0 20px;
}
.renewal {
  color: #898989;
  padding: 20px 0 0;
}
.renewal a {
  border-radius: 0;
}
.renewal span {
  display: inline-block;
  padding-top: 15px;
}
/* 交易记录 */
.trading-records {
  width: 785px;
  margin: 0 auto;
  padding-bottom: 145px;
}
.trading-table th {
  color: #42b4e6;
}
.trading-table td {
  color: #000000;
}
.c32b16c {
  color: #32b16c;
}
