/* ------- start variables -------- */
/* for test */
/* main red button */
/* sprite */
/* z-index */
/* main red button */
/* main blue button */
/* dark blue button */
/* dark white button */
/* main background color */
/* main font color */
/* main border color */
/* main font family */
/* main font size */
/* ------- start variables -------- */
/* ------- start mixins -------- */
.no-space {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.clear-both {
  clear: both;
}
.userSelectNone {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*
content-box 在宽度和高度之外绘制元素的内边距和边框
border-box 为元素设定的宽度和高度决定了元素的边框盒
*/
/*
所有主流浏览器都不支持 appearance 属性
 */
.transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.transitionTransform {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}
.modalBoxShadow {
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.btnBoxShadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1) inset;
}
/* backface-visibility 属性定义当元素不面向屏幕时是否可见。 */
/* 超出字符显示省略号: 290px = 20个中文字符 */
/* ------- end mixins -------- */
.head {
  color: #607d8b;
  padding: 30px;
}
.set-time {
  color: #6f8a97;
  font-size: 13px;
}
.set-time p {
  padding: 0 0 20px;
  line-height: 30px;
}
.set-time label {
  color: #607d8b;
  font-size: 14px;
}
.panel {
  padding: 40px 0;
}
.grey-bg {
  background: #F9F9F9;
}
.city-list {
  width: 745px;
  margin: 0 auto;
}
.panel-title {
  color: #607d8b;
  font-size: 20px;
  text-align: center;
}
.pt10 {
  padding-top: 10px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.w325 {
  width: 325px;
}
.w240 {
  width: 240px;
}
.w770 {
  width: 770px;
}
.form-handle {
  padding: 60px 20px 50px;
}
.input-underline,
.input-underline:focus {
  border: none;
  border-bottom: solid 1px #47B5E8;
  text-align: center;
}
.input.input-underline.error,
.input.input-underline.ng-invalid {
  border: none !important;
  border-bottom: solid 1px #f46c62 !important;
}
/* CFD8DC */
.keywords .button {
  margin: 5px;
  position: relative;
  cursor: default;
  background: #47b5e8 !important;
  border: solid 1px #47b5e8 !important;
}
.keywords .button em {
  display: none;
  position: absolute;
  background: url(/static/special_feed/img/close_r_16x16.png) no-repeat;
  width: 16px;
  height: 16px;
  top: -8px;
  right: -8px;
  cursor: pointer;
}
.keywords .button:hover em {
  display: inline-block;
}
.recommand-word span,
.recommand-word a {
  display: inline-block;
  margin: 5px 5px 5px 0;
  font-size: 14px;
}
.recommand-word span {
  color: #666;
}
.recommand-word a {
  color: #47B5E8;
  text-decoration: underline;
}
/* button */
.choose-btn .button {
  margin: 0 20px;
  position: relative;
  padding: 10px 25px;
}
.choose-btn .button.active:after {
  content: ' ';
  display: inline-block;
  position: absolute;
  background: url(/static/special_feed/img/checked.png) no-repeat;
  width: 12px;
  height: 11px;
  right: 5px;
  top: 50%;
  margin-top: -5px;
}
.multi .button {
  margin-bottom: 20px;
}
.choose-small-btn .button,
.choose-small-btn .button:hover {
  margin: 0 5px 10px;
  position: relative;
  line-height: 29px;
  width: 98px;
  border: solid 1px #D2DBDF;
  padding: 0;
  color: #5e7c8b;
  background: #fff;
}
.choose-small-btn .button.active {
  background: #43B5EB;
  border: solid 1px #43B5EB;
  color: #fff;
}
/* icon-checkbox */
.icon-checkbox ~ label {
  font-size: 14px;
  color: #607d8b;
}
