/* notify*/
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none!important}ng\:form{display:block}
.setting-title {
    text-align: center;
    padding: 40px 0;
    font-size: 28px;
    font-weight: normal;
}
.notify-content{
    border: solid 1px #EEEEEE;
    border-top: none;
    margin-bottom: 100px;
}
.pb100{
    width: 700px;
    padding-bottom: 1px;
    border-top: solid 5px #313943;
    margin: 0 auto;
}
.notify-category{
    background: #F4F4F4;
}
.notify-category a{
    float: left;
    width: 50%;
    font-size: 18px;
    line-height: 66px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}
.notify-category a.active{
    color: #00b7ee;
}
.read-all{
    padding: 10px;
}
.read-all a{
    display: inline-block;
    color: #42b3e5;
    font-size: 12px;
    border: solid 1px #42b3e5;
    padding: 10px;
}
.notify{
    padding: 5px 20px 20px;
    border-top: solid 1px #ddd;
    position: relative;
    cursor: pointer;
}
.notify p{
    color: #666666;
    font-size: 12px;
}
.notify p.date{
    color: #000000;
    font-size: 12px;
    padding-right: 25px;
}
.notify h5{
    font-size: 14px;
    padding: 10px 0;
    color: #000000;
}
.notify:before{
    position: absolute;
    right: 20px;
    top: -1px;
    background: url(../img/remind_g_20x24.fw.png);
    background-size: 100%;
    content: ' ';
    width: 20px;
    height: 24px;
}
.notify.unread:before{
    position: absolute;
    right: 20px;
    top: -1px;
    background: url(../img/remind_r_20x24.fw.png);
    background-size: 100%;
    content: ' ';
    width: 20px;
    height: 24px;
}
.notify p a{
    color: #00b7ee;
}

.chat{
    padding: 5px 20px 20px;
    border-top: solid 1px #ddd;
    position: relative;
    cursor: pointer;
}
.chat p{
    color: #777;
    font-size: 14px;
}
.chat h4{
    font-size: 18px;
    padding: 10px 0;
    color: #000;
    font-weight: normal;
}
.chat h5{
    font-size: 14px;
    padding: 0 0 15px;
    color: #999999;
    font-weight: normal;
}
.chat:before{
    position: absolute;
    right: 20px;
    top: -1px;
    background: url(../img/remind_g_20x24.fw.png);
    background-size: 100%;
    content: ' ';
    width: 20px;
    height: 24px;
}
.chat.unread:before{
    position: absolute;
    right: 20px;
    top: -1px;
    background: url(../img/remind_r_20x24.fw.png);
    background-size: 100%;
    content: ' ';
    width: 20px;
    height: 24px;
}
.chat.no-tag:before{
    display: none;
}
.chat.no-tag .chat-date{
    display: none !important;
}
.i-book-list,.i-chat-record{
    display: inline-block;
    width: 48px;
    height: 43px;
}
.i-chat-record{
    background: url(../img/message_g_48x43.fw.png);
    background-size: 100%;
}
.i-book-list{
    background: url(../img/address_g_48x43.fw.png);
    background-size: 100%;
}
a.active .i-chat-record{
    background: url(../img/message_b_48x43.fw.png);
    background-size: 100%;
}
a.active .i-book-list{
    background: url(../img/address_b_48x43.fw.png);
    background-size: 100%;
}
.chat p.chat-date{
    padding-right: 30px;
    color: #ccc;
    font-size: 14px;
}

/* detail */
.chat-header{
    padding: 30px;
}
.i-back{
    display: inline-block;
    vertical-align: middle;
    background: url(../img/arrow_g_48x48.fw.png);
    background-size: 100%;
    width: 48px;
    height: 48px;
    margin-top: 20px;
}
.card{
    margin-left: 70px;
}
.chat-header h2{
    font-size: 18px;
    color: #000;
    padding: 10px 0;
}
.chat-header p{
    font-size: 14px;
    color: #999999;
}
.view-more{
    margin-top: 20px;
    color: #777;
    font-size: 18px;
}
.details{
    border: none;
    background: none;
}
.p50{
    padding: 0 50px 50px;
}
.details aside{
    margin-top: 30px;
}
.details aside .avatar{
    float: left;
    width: 70px;
    border: solid 1px #ddd;
    background: #fff;
    color: #0091fa;
    line-height: 70px;
    text-align: center;
    font-size: 16px;
}
.details aside .chat-info{
    margin-left: 90px;
}
.details aside .chat-info p{
    display: inline-block;
    background: #fff;
    color: #666666;
    font-size: 14px;
    padding: 20px;
    border: solid 1px #ddd;
    position: relative;
}
.details aside .chat-info p:before,.details aside .chat-info p:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border: solid 10px transparent;
}
.details aside .chat-info p:before{
    left: -21px;
    top: 10px;
    border-right: solid 10px #ddd;
}
.details aside .chat-info p:after{
    left: -20px;
    top: 10px;
    border-right: solid 10px #fff;
}
.details aside .time{
    color: #999;
    padding: 5px 0;
    font-size: 14px;
    display: block;
    clear: both;
    width: 100%;
}

.details aside.self .avatar{
    float: right;
}
.details aside.self .chat-info{
    margin-right: 90px;
    margin-left: 0;
    text-align: right;
}
.details aside.self .chat-info p:before{
    right: -21px;
    top: 10px;
    left: auto;
    border-right: solid 10px transparent;
    border-left: solid 10px #ddd;
}
.details aside.self .chat-info p:after{
    right: -20px;
    top: 10px;
    left: auto;
    border-right: solid 10px transparent;
    border-left: solid 10px #fff;
}
.send-chat{
    border-top: solid 1px #eee;
    padding: 20px 0;
    text-align: center;
}
.send-chat-box .textarea{
    width: 80%;
    padding: 10px;
    height: 60px;
    margin-left: 2%;
}
.send-chat-box .button{
    background: #00B6F1;
    color: #fff;
    width: 13%;
    border: solid 1px #00B6F1;
    height: 82px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.send-chat-box .button[disabled]{
    background: #ccc;
    border: solid 1px #ccc;
}