<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>企业名片邮件</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<style>
    *{margin: 0;padding:0;}
</style>
</head>
<body style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="65">
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%" style="margin: 0 auto;">
    <tr>
        <td bgcolor="#fff" style="background:#fff;">
            <table width="670" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                <tr>
                    <td bgcolor="#fff" style="background:#fff;border:solid 1px #D4D4D4">

                        <!-- head start -->
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                <tr>
                                    <td bgcolor="#fff" style="padding:15px 0; background:#fff; border-bottom:solid 1px #D4D4D4">
                                        <table width="595" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                            <tr>
                                                <td width="150"><a href="http://www.pinbot.me/" target="_blank" title="聘宝 | 专业人才推荐"><img border="0" src="newsletter/logo1.jpg" alt="推荐好工作, 给优秀的你"></a></td>
                                                <td style="font-size:14px;color:#999">推荐好工作, 给优秀的你</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        <!-- head end-->

                        <!-- content start -->
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                <tr>
                                    <td>
                                        <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                            <tr>
                                                <td>
                                                    <p style="color:#333333;font-size:14px;line-height:2em;padding-top:40px;">
                                                        Hi 张轩，<br>
我是聘宝人才顾问，我叫Caroline，我们在网络上看到你的简历，很高兴认识你。聘宝是垂直互联网领域的专业招聘顾问团队，我们向优秀的候选人推荐优质的工作机会。下面的工作机会是我们为你挑选的，请查阅，并在邮件最后给予我们反馈。谢谢！<br>如果你对该机会感兴趣，请<a href="#" style="color:#3398DA" title="点击这里" target="_blank">点击这里</a>。我们将推动企业HR第一时间与你联系。
                                                    </p>
                                                    <p style="color:#999;font-size:12px;padding-top:20px;padding-bottom:35px;">
                                                        如果下面的图片不能正常显示，请<a href="#" style="color:#333333" title="点击这里" target="_blank">点击这里</a>查看。
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                            <tr>
                                                <td style="background:#F9F9F9;border:solid 1px #E8E8E8;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                                        <tr>
                                                            <th><h4 style="text-align:left; margin-top:25px;"><span style="background:#3498DB;color:#fff;display:inline-block;padding:10px 30px;">企业信息</span></h4></th>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom:10px;">
                                                                <table width="522" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                                                    <tr>
                                                                        <td>
                                                                            <table width="510" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                                                                <tr>
                                                                                    <td width="30" valign="top" style="border-bottom:dashed 1px #ccc;"><img src="newsletter/arr.gif" alt="" style="margin-top:40px"></td>
                                                                                    <td valign="top" style="border-bottom:dashed 1px #ccc;padding-bottom: 10px;">
                                                                                        <h4 style="font-size:14px;padding:38px 0 15px;">公司名称</h4>
                                                                                        <p style="color:#333;font-size:14px; padding-bottom:20px">
                                                                                            广州逸成教育信息咨询有限公司
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="30" valign="top" style="border-bottom:dashed 1px #ccc;"><img src="newsletter/arr.gif" alt="" style="margin-top:40px"></td>
                                                                                    <td valign="top" style="border-bottom:dashed 1px #ccc;padding-bottom: 10px;">
                                                                                        <h4 style="font-size:14px;padding:38px 0 15px;">公司亮点</h4>
                                                                                        <p style="color:#333;font-size:14px;padding-bottom:20px">
                                                                                            “建立最最具影响力的培训教育体系，成为培训行业的领头人”
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="30" valign="top" style="border-bottom:dashed 1px #ccc;"><img src="newsletter/arr.gif" alt="" style="margin-top:40px"></td>
                                                                                    <td valign="top" style="border-bottom:dashed 1px #ccc;padding-bottom: 10px;">
                                                                                        <h4 style="font-size:14px;padding:38px 0 15px;">公司简介</h4>
                                                                                        <p style="color:#333;font-size:12px;line-height:1.8em;color:#666;padding-bottom:20px">
                                                                                            逸成教育集团成立于2000年，致力于学历教育开发与培训、职业培训和就业服务，充分提高学员职场竞争力。逸成教育集团的培训课程和服务范围广阔，从学历教育、职业资格认证、技能培训，到与职业相关的就业服务，客户遍及全国多个大中城市，已经培训10余万名学员。目前，逸成教育标准化的课程体系，已成为职业培训领域的模板。
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="30" valign="top" style="border-bottom:dashed 1px #ccc;"><img src="newsletter/arr.gif" alt="" style="margin-top:40px"></td>
                                                                                    <td valign="top" style="border-bottom:dashed 1px #ccc;padding-bottom: 10px;">
                                                                                        <h4 style="font-size:14px;padding:38px 0 15px;">核心团队</h4>
                                                                                        <p style="color:#333;font-size:12px;line-height:1.8em;color:#666;padding-bottom:20px">
                                                                                            逸成教育集团成立于2000年，致力于学历教育开发与培训、职业培训和就业服务，充分提高学员职场竞争力。逸成教育集团的培训课程和服务范围广阔，从学历教育、职业资格认证、技能培训，到与职业相关的就业服务。
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="30" valign="top" style="border-bottom:dashed 1px #ccc;"><img src="newsletter/arr.gif" alt="" style="margin-top:40px"></td>
                                                                                    <td valign="top" style="padding-bottom: 10px;border-bottom:dashed 1px #ccc;">
                                                                                        <h4 style="font-size:14px;padding:38px 0 15px;">发展阶段和计划</h4>
                                                                                        <p style="color:#333;font-size:12px;line-height:1.8em;color:#666;padding-bottom:20px">
                                                                                            逸成教育集团成立于2000年，致力于学历教育开发与培训、职业培训和就业服务，充分提高学员职场竞争力。逸成教育集团的培训课程和服务范围广阔。逸成教育集团成立于2000年，致力于学历教育开发与培训、职业培训和就业服务，充分提高学员职场竞争力。逸成教育集团的培训课程和服务范围广阔。
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="30" valign="top"><img src="newsletter/arr.gif" alt="" style="margin-top:40px"></td>
                                                                                    <td valign="top" style="padding-bottom: 10px;">
                                                                                        <h4 style="font-size:14px;padding:38px 0 15px;">产品地址</h4>
                                                                                        <p style="color:#333;font-size:12px;line-height:1.8em;color:#666;padding-bottom:20px">
                                                                                            <a target="_blank" href="http://www.pinbot.me/" style="color:#3C99DF;font-size:14px;" title="">http://www.pinbot.me/</a>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td style="background:#F9F9F9;border:solid 1px #E8E8E8;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="margin:0 auto;">
                                                        <tr>
                                                            <th><h4 style="text-align:left;"><span style="background:#3498DB;color:#fff;display:inline-block;padding:10px 30px;">招聘岗位</span></h4></th>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom:10px;">
                                                                <table width="522" border="0" cellpadding="0" cellspacing="0" align="center" style="margin:0 auto;">
                                                                    <tr>
                                                                        <td>
                                                                            <table width="510" border="0" cellpadding="0" cellspacing="0" align="center">
                                                                                <tr>
                                                                                    <td height="50" colspan="2"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="30" valign="top"></td>
                                                                                    <td valign="top" style="border-left:solid 4px #D5D5D5;padding-left:15px">
                                                                                        <h4 style="font-size:16px;">产品经理</h4>
                                                                                        <p style="color:#333;font-size:14px; padding:15px 0;">
                                                                                            <strong style="color:#3699DB;">4k-6k</strong> <strong style="color:#CCCCCC;">|</strong> 广州 <strong style="color:#CCCCCC;">|</strong> 经验1年以下 <strong style="color:#CCCCCC;">|</strong> 大专及以上
                                                                                        </p>
                                                                                        <p style="margin:0;color:#333;font-size:14px;">
                                                                                            职位诱惑：年轻的团队 个人提升空间大
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td height="50" colspan="2"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="30" valign="top" style="border-bottom:dashed 1px #ccc;"><img src="newsletter/arr.gif" alt="" style="margin-top:20px"></td>
                                                                                    <td valign="top" style="border-bottom:dashed 1px #ccc;padding-bottom: 50px;">
                                                                                        <h4 style="font-size:14px; padding:15px 0;">招聘要求</h4>
                                                                                        <p style="color:#333;font-size:12px; line-height:1.8em">
                                                                                            1.美术、平面设计相关专业，专科及以上学历（应届生亦可）；<br>
                                                                                            2.熟练使用Photoshop，AI或者Coredraw等平面工具；<br>
                                                                                            3.有良好的色彩表达能力；<br>
                                                                                            4.有较为扎实美术功底；<br>
                                                                                            5.应聘时请提供作品。
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td height="50" colspan="2"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="30" valign="top"><img src="newsletter/arr.gif" alt="" style="margin-top:20px"></td>
                                                                                    <td valign="top" style="padding-bottom: 50px;">
                                                                                        <h4 style="font-size:14px;padding:15px 0;">岗位要求</h4>
                                                                                        <p style="color:#333;font-size:12px; line-height:1.8em">
                                                                                            1.美术、平面设计相关专业，专科及以上学历（应届生亦可）；<br>
                                                                                            2.熟练使用Photoshop，AI或者Coredraw等平面工具；<br>
                                                                                            3.有良好的色彩表达能力；<br>
                                                                                            4.有较为扎实美术功底；<br>
                                                                                            5.应聘时请提供作品。
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style="font-size:14px;color:#2D3235;padding:50px 0 30px;text-align:center">喜欢这份工作吗？点击下列按钮告诉我们你的想法吧。</p>
                                                    <p style="padding:0 0 50px;text-align:center">
                                                        <a href="#" target="_blank" title="我愿意与企业沟通" style="display:inline-block;background:#3498DB;color:#fff;padding:15px 50px; border-radius:3px; text-decoration:none;">我愿意与企业沟通</a><a href="#" target="_blank" title="我暂时不感兴趣" style="display:inline-block;background:#FFFFFF;color:#3498DB; border:solid 1px #3699DB;padding:14px 49px; text-decoration:none;margin-left:10px;border-radius:3px;">我暂时不感兴趣</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        <!-- content end-->

                        <!-- footer start -->
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td style="padding:10px 0; border-top:solid 1px #D4D4D4; background:url(newsletter/shadow.jpg) left top no-repeat;">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                            <tr>
                                                <td >
                                                    <p style="text-align:center;font-size:12px;color:#949494; padding-top:40px;"><span style="color:#666">联系聘宝 |</span>&nbsp;&nbsp;电话： 028-83330727&nbsp;&nbsp;&nbsp;&nbsp;邮箱： hello@hopperclouds.com&nbsp;&nbsp;&nbsp;&nbsp;地址： 成都高新区天府新谷</p>
                                                    <p style="text-align:center;font-size:12px;color:#999; padding:15px 0 20px">推荐好工作，给优秀的你</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        <!-- footer end-->

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="65">
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
</body>
</html>