
<div id="rss-tip-popup-bg">
  <div id="rss-tip-wrapper">
    <div id="rss-tip-body">
      <div id="rss-tip-body-wrapper">
        <h2>每日早8点 聘宝为您推荐</h2>
        <p>您好！为了更精准地推荐人才，即日起提交订阅后，结果会在隔日早8:00为您呈现，记得查收哦！</p>
        <p class="rss-tip-control">
          <a href="javascript:(function() {var n = document.getElementById('rss-tip-popup-bg');n.parentNode.removeChild(n)}()), void(0);">我知道了</a>
        </p>
        <a href="javascript:(function() {var n = document.getElementById('rss-tip-popup-bg');n.parentNode.removeChild(n)}()), void(0);" title="点击关闭" class="rss-tip-close"></a>
      </div>
    </div>
  </div>
</div>

