
<div id="help">
  
  <div class="content">

    <div class="header">
      <div class="nav">
        <a href="#" class="on">产品问题</a>
        <a href="#">购买问题</a>
      </div>
      <p>
        您好！这里是我们整理的一些常见问题，希望对您有所帮助。若有其他问题欢迎来电咨询。电话 028-88888 或 在线咨询 (27982283)
      </p>
    </div>

    <div class="body">

      <div class="article">
        <div class="faq-list">
          <p class="question">
            首页增加付费说明页面，导航-首页，插件，付费，注册，登录？
          </p>
          <p class="answer">
            pinbot是企业智能招聘助手，帮助企业 pinbot是企业智能招聘助手，帮助企业  ppinbot是企业智能招聘助手，帮助企业 pinbot是企业智能招聘助手，帮助企业 pinbot是企业智能招聘助手，帮助企业 pinbot是企业智能招聘助手，帮助企业 inbot是企业智能招聘助手，帮助企业
          </p>
        </div>

        <div class="faq-list">
          <p class="question">
            首页增加付费说明页面，导航-首页，插件，付费，注册，登录？
          </p>
          <p class="answer">
            pinbot是企业智能招聘助手，帮助企业 pinbot是企业智能招聘助手，帮助企业  ppinbot是企业智能招聘助手，帮助企业 pinbot是企业智能招聘助手，帮助企业 pinbot是企业智能招聘助手，帮助企业 pinbot是企业智能招聘助手，帮助企业 inbot是企业智能招聘助手，帮助企业
          </p>
        </div>
      </div>
      
      <div class="more">
        <a href="#">查看更多</a>  
      </div>
    </div>
  </div>

</div>
