
<div class="resume-list-control clearfix">

  <ul class="control-action">
    <li> <a href="#" class="btn-add-fav"><i class="ic ic-fav"></i>关注</a></li>
    <li> <a href="#" class="btn-del-fav">取消关注</a> </li>
    <li> <a href="#" class="btn-del-resume" title="删除简历"><i class="ic ic-del-resume"></i></a> </li>
  </ul>

  <ul class="control-filter">
    <li class="dropdown-filter"> 
      <a href="#">按工作年限筛选</a> 
      <ul class="dropdown-filter-menu">
        <li><a href="#">5-10年</a></li>
        <li><a href="#">2年以上</a></li>
        <li><a href="#">0-2年</a></li>
      </ul>
    </li>

    <li class="dropdown-filter"> 
      <a href="#">按月薪筛选</a> 
      <ul class="dropdown-filter-menu">
        <li><a href="#">1W以上</a></li>
        <li><a href="#">5K-1W</a></li>
        <li><a href="#">2K以上</a></li>
      </ul> 
    </li>
 
    <li> <a href="#" class="btn-filter-score curr">评分</a> </li>
    <li> <a href="#" class="btn-filter-date curr">时间</a> </li>
    <li> 
      <a href="#" class="btn-filter-latest">
        <i class="ic ic-filter-latest selected"></i>
        最近分析简历
      </a> 
    </li>
  </ul>

</div>
 
