<div class="temporary-popup-bg"></div>
<div class="temporary-popup">
  <a href="#" title="返回" class="temporary-popup-close"></a>
  <div class="temporary-popup-body">
    <p>官方报价请参考下表，可联系官方销售代表进行购买。官方QQ: <strong>64331963</strong>，客服热线: <strong>028-83330727</strong></p>
    <table>
      <thead>
        <tr>
          <th>套餐</th>
          <th>订阅数</th>
          <th>简历数</th>
          <th>适用招聘规模</th>
          <th>套餐原价</th>
          <th>优惠价</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>799套餐 </td>
          <td>2       </td>
          <td>30      </td>
          <td>3-6人   </td>
          <td>900     </td>
          <td>799     </td>
        </tr>

        <tr>
          <td>  1999套餐   </td>
          <td>  3          </td>
          <td>  80         </td>
          <td>  10人左右   </td>
          <td>  2880       </td>
          <td>  1999       </td>
        </tr>

        <tr>
         <td>   4599套餐  </td>
         <td>   4         </td>
         <td>   200       </td>
         <td>   25人左右  </td>
         <td>   6980      </td>
         <td>   4599      </td>
        </tr>
        <tr>
          <td>  7299套餐     </td>
          <td>  5            </td>
          <td>  300          </td>
          <td>  40人左右     </td>
          <td>  10440        </td>
          <td>  7299         </td>
        </tr>
      </tbody>
    </table>
      <div class="temporary-contact">
        <a target="_blank" class="qq-btn" href="http://wpa.qq.com/msgrd?v=3&uin=64331963&site=qqmenu=yes">立即咨询</a>
      </div>
  </div>
</div>
