body {
    background: #212121 url('../img/beijing_1920x1775.png') no-repeat 0 0;
    background-size: 100%;
}
/** header **/
.header {
    padding: 20px 0 0;
}
.header .logo {
    background: url('../img/logo_162x48.png') no-repeat 0 0;
    width: 100px;
    background-size: contain;
}
.header .option {
    float: right;
    height: 34px;
    line-height: 34px;
}
.header .option a {
    color: #fff;
    padding: 0 10px;
    margin: -2px;
}
.header .option a.first {
    border-right: 1px solid #fff;
}
/** content **/
.content .inner-content {
    width: 100%;
}
.content .inner-content p {
    text-align: center;
}
p.title, p.description, p.slogen {
    margin-top: 100px;
}
p.thumb {
    display: none;
}
.content .inner-content p.title img {
    width: 100%;
}
.content .inner-content p.description {
    text-align: left;
    text-indent: 24%;
}
.content .inner-content p.description img {
    width: 51.2%;
}
.content .inner-content ul.btn-field {
    margin: 0 auto;
    padding-top: 50px;
}
.content .inner-content ul.btn-field li {
    text-align: center;
    height: 66px;
}
.content .inner-content ul.btn-field li.qz-required {
    background: url(../img/pc/Copywriter2_360x56.png) no-repeat center 0;
}
.content .inner-content ul.btn-field li.zp-required {
    background: url(../img/pc/Copywriter3_294x21.png) no-repeat center 0;
}
.content .inner-content ul.btn-field li a {
    display: block;
    width: 226px;
    height: 66px;
    margin: 0 auto;
}
.content .inner-content ul.btn-field li a.qz-button {
    background: url(../img/pc/Button_1_226x66.png) no-repeat center;
}
.content .inner-content ul.btn-field li a.zp-button {
    background: url(../img/pc/Button_2_226x66.png) no-repeat center;
}
.content .inner-content p.add-info {
    height: 66px;
    background: url(../img/pc/Copywriter4_479x66.png) no-repeat center;
    background-size: contain;
}
.content .inner-content p.code-img {
    position: relative;
}
.content .inner-content p.code-img img {
    width: 226px;
}
.content .inner-content p.code-img .i-tip {
    display: block;
    width: 191px;
    height: 54px;
    background: url(../img/pc/Copywriter5_191x54.png) no-repeat center;
    position: absolute;
    right: 0;
    top: 35%;
}
/*.content .inner-content p.slogen img {
    width: 61.3%;
}
.content .inner-content ul.progress {
    position: relative;
    margin-top: 50px;
}
.content .inner-content ul.progress li {
    font-size: 1.5em;
    color: #ccc;
    text-indent: 24.3%;
    margin-top: 3.2%;
}
.content .inner-content ul.progress li.first {
    line-height: 1.5;
}
.content .inner-content ul.progress li.code-img img {
    width: 24%;
}*/
.content .inner-content p.ps {
    color: #bbb;
    text-align: left;
    padding: 20px 40px;
    background: #393939;
    width: 70%;
    margin: 68px auto 0;
    font-size: 17px;
}
.content .inner-content p.ps a {
    text-decoration: underline;
}
/*.content .inner-content .i-progress {
    position: absolute;
    width: 6.6%;
    left: 19.2%;
    top: 0;
}
.content .inner-content .i-tip {
    position: absolute;
    width: 30%;
    right: 16%;
    top: 20%;
}*/
/** footer **/
.footer{
    padding: 68px 0;
}
.footer p,.footer p a{
    color: #999999;
    font-size: 14px;
    line-height: 1.5em;
}
/** rules **/
.ce55166 {
    color: #e55166;
}
.pc {
    display: block;
}
.mobile {
    display: none;
}
.mt20 {
    margin-top: 20px;
}
.mt50 {
    margin-top: 50px;
}
@media (min-width: 320px) and (max-width: 760px) {
    body {
        background: #212121;
    }
    .header .option {
        display: none;
    }
    p.thumb {
        display: none;
    }
    p.title {
        margin-top: 0px;
    }
    .content .inner-content p.title img {
        width: 288px;
    }
    .content .inner-content p.time img {
        width: 256px;
    }
    p.description, p.slogen {
        margin-top: 40px;
    }
    .content .inner-content p.description {
        text-align: center;
        text-indent: 0
    }
    .content .inner-content p.description img {
        width: 256px;
    }
    .content .inner-content ul.btn-field {
        padding-top: 0px;
    }
    .content .inner-content ul.btn-field li {
        max-width: 288px;
        margin: 0 auto;
        height: 50px;
        margin-top: 35px;
    }
    .content .inner-content ul.btn-field li.qz-required {
        background: url(../img/mobile/Copywriter2_459x66.png) no-repeat center 0;
        background-size: contain;
    }
    .content .inner-content ul.btn-field li.zp-required {
        background: url(../img/mobile/Copywriter3_371x26.png) no-repeat center 0;
        background-size: 85%;
    }
    .content .inner-content ul.btn-field li a {
        width: 60%;
        height: 100%;
    }
    .content .inner-content ul.btn-field li a.qz-button {
        background: url(../img/mobile/Button_310x69.png) no-repeat center;
        background-size: contain;
    }
    .content .inner-content ul.btn-field li a.zp-button {
        background: url(../img/mobile/Button_2_310x69.png) no-repeat center;
        background-size: contain;
    }
    .content .inner-content p.add-info {
        max-width: 288px;
        margin: 10px auto 0 !important;
        height: 50px;
        background: url(../img/mobile/Copywriter4_516x65.png) no-repeat center;
        background-size: contain;
    }
    .content .inner-content p.code-img {
        max-width: 288px;
        margin: 0 auto !important;
    }
    .content .inner-content p.code-img .i-tip {
        display: block;
        width: 150px;
        height: 84px;
        background: url(../img/mobile/Copywriter5_264x84.png) no-repeat center;
        position: static;
        margin: 0 auto;
        background-size: contain;
    }
    .content .inner-content p.code-img img {
        width: 60%;
        margin: 0 !important;
    }
    /*.content .inner-content p.slogen img {
        width: 288px;
    }
    .content .inner-content ul.progress {
        width: 288px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .content .inner-content ul.progress li {
        font-size: .85em;
        text-indent: 25px;
        margin-top: 28px;
        letter-spacing: 1px;
    }
    .content .inner-content ul.progress li.first {
        line-height: 1.2;
    }
    .content .inner-content ul.progress li.code-img {
        margin-top: 20px;
    }
    .content .inner-content ul.progress li.code-img img {
        width: 160px;
    }
    .content .inner-content .i-progress {
        width: 41px;
        left: 0;
    }
    .content .inner-content .i-tip {
        width: 85px;
        right: 0px;
    }*/
    .content .inner-content p.ps {
        margin: 45px auto 0;
        width: 290px;
        padding: 10px 15px;
        font-size: 13px;
    }
    .footer {
        padding: 45px 0;
    }
    .footer p, .footer p a {
        font-size: 13px;
    }
    /** rules **/
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mt20 {
        margin-top: 10px;
    }
}