.layout {
	padding: 0;
	margin: 0 auto;
}
.main {
	margin: 0;
	border: 0;
}
.main .header {
	background: #fff;
}
.main .content {
	padding-top: 0;
}
.main .header h1 {
	margin-bottom: 0;
	font-size: 24px;
	font-weight: normal;
}
.main .header h1.notice {
	background: url("./l_notice.png") no-repeat center center;
	height: 36px;
}
.main .content h2 a {
	text-decoration: underline;
	cursor: pointer;
}
.price .layout{
	background:#fff;
	border:1px solid #e5e5e5;
	margin:30px auto;
	padding:55px 0 80px
}
.price .price-header{
	text-align:center;
	padding-bottom:20px
}
.price .price-header h1{
	font-size:2.2em
}
.price .price-header .price-summary{
	margin:30px 0;
	font-size: 16px;
}
.price .standard-header .price-summary {
	font-size: 16px;
}
.price .price-header .price-summary li{
	display:inline;
	margin:0 24px
}
.price .price-header .price-summary li strong{
	font-weight:bold
}
.price .price-list{
	text-align:center
}
.price .price-list p {
	text-align: left;
	padding: 0 73px 10px;
}
.price .price-list p span strong {
	color: #fc7524;
}
.price .price-list ul{
	margin-left:-35px;
	display:inline-block
}
.price .price-list li{
	width:377.5px;
	margin-left:35px;
	display:block;
	float:left;
	border:1px solid #e5e5e5;
}
.price .price-list .price-list-799 .price-other-count span{
	color:#999
}
.price .price-list .price-list-header{
	margin:10px;
	padding:20px 0;
	border-radius:3px;
	font-size: 24px;
}
.price .price-list .price-list-header strong{
	font-weight: normal;
}
.price .price-list .price-list-header em{
	color: #fc7524;
	font-weight: bold;
	font-size: 24px;
}
.price .price-list .price-list-content{
	padding:15px;
	text-align:left;
	color:#666
}
.price .price-list .price-list-content h4{
	margin-bottom: 1em;
	color: #000;
	text-align: center;
	font-weight: normal;
	font-size: 16px;
}
.price .price-list .price-list-content .price-resume-count strong, .price .price-list .price-list-content .price-other-count strong{
	color: #fc7524;
	font-weight: bold;
	font-size: 1.2em;
	padding-right: 10px;
	margin-left: 40px;
}
.price .price-list .price-list-content .price-other-count{
	margin-top:1.8em
}
.price .price-list .price-list-content .price-other-count h4 {
	position:relative;
	font-weight: normal;
	font-size: 16px;
}
.price .price-list .price-list-content p{
	padding: 8px 0px 24px 0px;
	border-bottom: 1px dotted #e3e3e3;
	font-size: 13px;
	text-align: center;
}
.price .price-list .price-list-content p span{
	line-height:1.2em;
}
.price .price-list .price-list-content p span.price-fix-pos {
	margin-left: -40px;
}
.price .price-list .price-list-content p.last-child{
	border-bottom:none
}
.price .price-list .price-list-content p.fix-length {
	padding-bottom: 45px;
}
.price .price-list .price-list-content p.other-detail {
	padding-bottom: 0px;
	text-align: center;
	padding-right: 0;
}
.price .price-list .price-list-content p.other-detail .protocal {
    color: #42b3e5;
    text-decoration: underline;
}
.price .price-list .price-list-content p.other-detail:before {
	content: '*';
	color: #fc7524;
	position: absolute;
	top: 8px;
	font-size: 13px;
	left: 75px;
}
.price .price-list-content p{
	position:relative;
}
