<table border="0" cellpadding="0" cellspacing="0" height="65" width="100%">
    <tbody>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tbody>
        <tr>
            <td bgcolor="#fff" style="background:#fff; vertical-align:top"><!-- head start -->
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="700">
                    <tbody>
                        <tr>
                            <td bgcolor="#30373F" style="padding:10px 0;">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="595">
                                    <tbody>
                                        <tr>
                                            <td><a href="http://www.pinbot.me/" target="_blank" title="聘宝 | 专业人才推荐"><img alt="聘宝 | 专业人才推荐" border="0" src="http://pinbot.me/static/beta/email/logo.png" /></a></td>
                                            <td style="text-align:right;font-size:12px;color:#999">聘宝 | 专业人才推荐</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- head end--><!-- content start -->

                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="700">
                    <tbody>
                        <tr>
                            <td bgcolor="#F7F7F7" style="padding:35px 0 0;background:#F7F7F7">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="595">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center;">
                                                <h4 style="width:141px;text-align:center;padding:20px 0; border-top:solid 1px #3498DB; border-bottom:solid 1px #3498DB;margin: 0 auto;">用户购买简历通知</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="font-size:14px;color:#333; padding:30px 20px 0px;">亲爱的聘宝管理员，</p>

                                                <p style="color:#666;font-size:12px;padding:10px 20px 0px; line-height:1.8em;">{{ user.first_name }}({{ user.username }}) 在{% now 'Y-m-d H:i' %}购买了一份简历，请点击这里<span style="color:#f90"><a href="http://www.pinbot.me/resumes/display/{{ resume_id }}/">查看</a>购买的简历</span></p>

                                                <p style="color:#666;font-size:12px;padding:0px 20px; line-height:1.8">感谢您的辛勤劳动和付出，<strong style="color:#666666">祝您生活愉快！</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align:center;padding:60px 35px 70px;"><a href="http://pinbot.me" style="display:inline-block;background:#2F383F;color:#fff;padding:15px 55px; font-size:12px; text-decoration:none;" target="_blank" title="返回聘宝">返回聘宝</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- content end --><!-- footer start -->

                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="700">
                    <tbody>
                        <tr>
                            <td bgcolor="#EAEAEA" style="padding:10px 0;">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="595">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p style="color:#333; font-size:14px; padding:20px 0 10px;">聘宝 专业人才推荐</p>

                                                <p style="color:#666; font-size:12px; padding:0px 0 10px;">精准推荐 专属服务</p>
                                            </td>
                                            <td style="text-align:right;font-size:12px;color:#999">
                                                <p style="color:#666; font-size:14px;padding:20px 0 10px;"><a href="http://www.pinbot.me/" style="color:#666;font-size:12px; text-decoration:none;" target="_blank" title="聘宝">关于我们</a> | <a href="http://weibo.com/u/3739464981" style="color:#666;font-size:12px;text-decoration:none;" target="_blank" title="关注聘宝">关注聘宝</a></p>

                                                <p style="color:#666; font-size:12px; font-family:Verdana,arial;padding:0px 0 10px;">Copyright &copy; 2014 HopperClouds Inc.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- footer end--></td>
        </tr>
    </tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" height="65" width="100%">
    <tbody>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
