<script id="JS_agreement" type="text/html">
    <div class="service-agreement">
        <p class="text-right"><a class="i-layerout-close JS_close_layerout" title="关闭" href="javascript:;"></a></p>
        <h2 class="text-center">人才伙伴用户协议</h2>
        <div class="agreement-info">
            一、权限<br>
            1、使用人才伙伴服务前，需要通过人才伙伴注册入口注册账号，或者为已有账号开通人才伙伴权限，<br>
            否则不能使用该功能；<br>
            2、注册时应提供真实、合法、有效的个人信息以便于聘宝为您提供服务；对于提供虚假信息的注册用户，聘宝有权责令更改或补充，对拒不执行的，视为自动放弃相关的权益和责任；<br>
            3、用户申请成为人才伙伴成功后，不得更改账号，但可通过个人设置中进行密码的变更，为维护自身权益，用户不应将账号及密码泄漏或提供第三人知悉或出借或转让与他人使用，
            如因用户自身过错或过失而导致账号或密码泄漏而给用户自身造成损失，用户应自行承担责任。<br><br>

            二、用户的权利和义务<br>
            1、聘宝依法禁止上传或以其它方式传送含有下列内容之一的信息：<br>
             a 、反对宪法所确定的基本原则的； <br>
             b 、危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
             c 、损害国家荣誉和利益的；<br>
             d 、煽动民族仇恨、民族歧视，破坏民族团结的；<br>
             e 、破坏国家宗教政策，宣扬邪教和封建迷信的； <br>
             f 、散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
             g 、散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br>
             h 、侮辱或者诽谤他人，侵害他人合法权益的；<br>
             i 、含有法律、行政法规禁止的其他内容的。<br>
            2、为保证您的权益，未通过审核的简历将无法被其他用户查看到，但是可能<br>
            会存在不同的人才伙伴拥有同样的简历信息的情况；<br>
            3、聘宝提供人才伙伴推荐机制，用户上传的简历审核通过后将会进入聘宝的人才库并可能被其他用户查看到。
            用户上传成功一份简历将获得相应积分，如果该简历后续被其他用户下载，每下载一次也可以获得相应积分；<br>
            4、用户在上传过程中需要对简历候选人的隐私权给与尊重和保护，在征得候选人知情并同意才可以进行上传，由此产生隐私权纠纷的，责任由上传者自行承担；<br>
            5、上传要求：<br>
            a、用户通过聘宝上传的一切内容，均应为简历文本，上传文件格式应为word/txt/pdf中的一种；<br>
            b、为保证聘宝提供更好的服务，用户上传的简历需要至少包括姓名、联系电话、联系邮箱，工作经历、教育经历等基本信息，并确保以上信息的真实有效；
            若以上信息有误，将对用户执行相应的触发，包括但不限于扣除已获得的点数，取消上传简历权限等；<br>
            c、用户同意该协议则视为允许聘宝可对其上传的简历进行编辑等操作；<br>
            6、推荐要求：<br>
            a、用户可以通过聘宝发布的职位分类进行简历上传，聘宝只接受通过聘宝进行
            的人才推荐；对于以线下方式进行的推荐，用户将无法获得相应的点数奖励；<br>
            b、每次的简历上传都将成为影响用户等级评定及其诚信和影响力的因素，
            因此，用户应认真对待每一次参与推荐的机会；<br>
            c、为确保推荐信息真实有效，用户上传的简历将经过聘宝的审核，
            聘宝有权对不符合要求的简历予以拒绝；<br>
            d、用户将不允许重复上传同一候选人的简历，聘宝将会自动检测是否重复上传
            并予以提示。聘宝无法完全避免重复上传，当出现重复的情况时，只有首先继
            续上传的用户才有可能获得点数奖励；<br><br>

            三、聘宝的权利和义务<br>
            a、简历上传成功，聘宝应在一个工作日内审核简历内容并将审核结果反馈给用户；<br>
            b、简历上传成功并经过审核，聘宝应立即发放点数奖励至上传人账户中；<br>
            c、若用户上传的简历存在真实性或者无求职意愿等问题，聘宝有权对该简历的上
            传用户执行相应的处罚，并扣除相应的已获得点数；若该类简历达到一定的数量，
            聘宝有权取消该用户人才伙伴的权限，并无法再次使用简历上传功能；<br><br>

            五、服务风险及免责声明<br>
            1、本服务涉及到互联网服务，可能会受到各个环节不稳定因素的影响。因此
            服务存在因上述不可抗力，或者计算机病毒或黑客攻击、系统不稳定、互联网络、
            通信线路原因等造成的服务中断或不能满足用户要求的风险，使用本服务的用户
            须承担以上风险。聘宝对服务之及时性、安全性、准确性不作担保，对因此导致
            用户不能上传简历，查看简历或其他问题不承担任何责任。对于不可抗力或非
            聘宝过错原因导致的用户数据损失、丢失或服务停止，聘宝将不承担任何责任，
            用户应自行留档。<br>
            2、聘宝在使用用户上传的简历时，有权标注聘宝的标识（包括但不限于相关
            的文字表述、聘宝的名称、LOGO等）。<br><br>

            六、协议修改<br>
            聘宝有权随时修改本协议的任意条款，一旦本协议的内容发生变动，聘宝
            将通过适当方式向用户提示修改内容。<br>
        </div>
        <p class="agreement-handle text-center">
            <a href="javascript:;" title="我知道了" class="btn btn-primary JS_close_layerout">我知道了</a>
        </p>
    </div>
</script>
<script>
    $(function(){
        $(document).on( 'click' , '#JS_show_agreement' , function(){
            var html = $('#JS_agreement').html();
            $.LayerOut({
                html: html
            });
        });
        $( '.JS_control_abled' ).on( 'change' , function(){
            var $this = $( this ),
                bool = $this.prop( 'checked' ),
                $dom = $( '#' + $this.attr( 'data-for' ) );
            $dom.attr( 'disabled' , !bool );
        });
    });
</script>
