{% extends 'base.html' %}
{% load compress %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}alpha/styles/common.min.css?20150511" />
<link rel="stylesheet" href="{{STATIC_URL}}beta/styles/app/welcome.css?fb6069cc" />
{% endblock %}

{% block content %}
<div class="register welcome">
    <div class="layout">
        <a class="logo" href="/" title=""></a>

        <div class="main">
            <div class="header">
                <h1>请设置你的密码</h1>
            </div>

            <div class="content set-passwoed">
                <form method="POST" action="." id="JS_resetpassword_form">
                    <div class="form-group clearfix">
                        <label>用户名</label>
                        <span>{{ username }}</span>
                    </div>
                    <div class="form-group clearfix">
                        <label for="">输入密码</label>
                        <input type="password" name="password" value="" placeholder="" class="input" data-equired data-reg="isNull" style="width:70% !important;">
                    </div>
                    <div class="form-group clearfix">
                        <label for="">确认密码</label>
                        <input type="password" name="confirm_password" value="" placeholder="" class="input" data-equired data-reg="isNull" style="width:70% !important;">
                    </div>
                    <div class="form-group clearfix">
                        <label for=""></label>
                        <a class="btn btn-welcome-submit" id="JS_reset_password" data-ajax_common_type="form" data-ajax_verify="formalVerify" data-callback="signResult" data-errorCallback="signErrorResult" data-before="beforeSubmit">确定</a>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="{{ STATIC_URL }}alpha/scripts/jq.js?20140815"></script>
<script src="{{ STATIC_URL }}alpha/scripts/common.min.js?20140815"></script>
<script src="{{ STATIC_URL }}alpha/scripts/form.min.js"></script>
<script src="{{ STATIC_URL }}users/reset_password.min.js?20150131"></script>
{% endblock %}
