{% extends 'base_account.html' %}

{% block content %}
<div class="register welcome">
    <div class="layout">
        <a class="logo" href="/" title=""></a>
        <div class="main">
            <div class="content">
                <h1 class="protocal-header">聘宝会员协议</h1>
                <div class="alert-protocal">
                    <div class="section">

                        <p>欢迎使用聘宝产品，在正式使用聘宝产品进行招聘之前，请认真阅读以下协议内容。若您注册时勾选了同意该协议，则默认您已经完全了解并愿意遵守本协议内容。</p>
                    </div>
                    <div class="section">
                        <p class="title">一、权限</p>
                        <p>1、使用聘宝服务前，需要通过聘宝统一注册入口注册账号，且必须完成账号激活，否则不能使用该功能。</p>
                        <p>2、注册时应提供真实、合法、有效的个人信息以便于聘宝为您提供服务；对于提供虚假信息的注册用户，聘宝有权责令更改或补充，对拒不执行的，视为自动放弃相关的权益和责任。

                        <p>3、用户注册成功后，不得更改账号，但可通过个人设置中进行密码的变更，为维护自身权益，用户不应将账号及密码泄漏或提供第三人知悉或出借或转让与他人使用，如因用户自身过错或过失而导致账号或密码泄漏而给用户自身造成损失，用户应自行承担责任。</p>
                    </div>
                    <div class="section">
                        <p class="title">二、服务内容</p>
                        <p>聘宝为您提供岗位候选人推荐服务，具体服务内容如下：</p>
                        <p>1、聘宝根据您的招聘需求提供两种服务模式，自助型招聘模式以及省心型招聘模式；选择自助型招聘模式，您需要根据选择支付有效期内的费用，费用内容包括可以提交的职位数量以及每周可使用的聘点；选择省心型费用，您需要根据招聘的候选人人数，月薪范围，以及服务周期支付对应的费用，并由聘宝人才顾问为您提供服务。
</p>
                        <p>2、聘宝根据您提供的招聘岗位候选人要求，包括但不限于：专业技能、工作经验、工作地域、薪资水平等，通过其“聘宝”系统进行岗位候选人简历的筛选、推荐。你需要保证上述信息真实、准确。</p>
                        <p>3、聘宝根据招聘岗位候选人要求，完成对招聘岗位候选人简历的筛选后，通过其系统向你推荐符合岗位需求的候选人简历。由你确认简历信息是否与其需求匹配，再自行决定是否下载候选人简历。
</p>
                        <p>4、你需使用10聘点方可下载简历，且聘宝保证所下载简历包含有效联系方式，否则视为无效下载，你支付的10点下载点数需以加赠下载点数的方式予以返还。</p>
                        <p>5、聘宝在确保所下载简历真实、有效后，不负责自助型用户与岗位候选人之间的联系、面试等后续环节。</p>
                        <p>6、服务期间，聘宝将根据你的会员级别给予你相应的定制数量以及每周下载点数用于简历的下载(下载点数以周为单位进行赠送，不累计,但下载简历无有效联系方式的，需聘宝加赠相应下载点数，即10点/份无效简历)。</p>
                    </div>
                    <div class="section">
                        <p class="title">三、你的义务</p>
                        <p>除按服务内容要求承担义务以外，你还需要承担以下义务：</p>
                        <p>1、您需承诺使用聘宝仅用于自身招聘，不得从事任何其他活动，不得发布除招聘信息以外的其他信息。
</p>
                        <p>2、您有义务向聘宝支付所选择服务模式对应的费用，并在服务期满后进行续费，否则聘宝将停止对应的服务。</p>
                    </div>
                    <div class="section">
                        <p class="title">四、协议修改</p>
                        <p>聘宝有权随时修改本协议的任意条款，一旦本协议的内容发生变动，聘宝将通过适当方式向用户提示修改内容。
</p>
                    </div>
                </div>
            </div>
        </div><!-- main -->
    </div><!-- layout -->
</div><!-- register -->
{% endblock %}