<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>{{start_date}}到{{end_date}}一周数据统计报表</title>
	<link href="{{ STATIC_URL }}statis/css/basic.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="{{ STATIC_URL }}statis/js/enhance.js"></script>		
	<script type="text/javascript">
		// Run capabilities test
		enhance({
			loadScripts: [
				'{{ STATIC_URL }}statis/js/excanvas.js',
				'{{ STATIC_URL }}statis/js/jquery.min.js',
				'{{ STATIC_URL }}statis/js/visualize.jQuery.js',
				'{{ STATIC_URL }}statis/js/weekly-report.js',
			],
			loadStyles: [
				'{{ STATIC_URL }}statis/css/visualize.css',
				'{{ STATIC_URL }}statis/css/visualize-light.css'
			]	
		});   
    </script>
</head>
<body>
      <H2>简历点击统计</H2>
      <table border="1">
	  <tr>
	  	<th>用户</th>
	  	{% for day in date_list %}
	  	<th>{{day}}</th>
	  	{% endfor %}
	  </tr>
	  {% for username,user_click_list in week_click_dict.items %}
	  <tr>
	  	<th>{{username}}</th>
		  {% for click_list in user_click_list %}
		  <td>
		  {% for data in click_list%}
		  {{data}}&nbsp;&nbsp;&nbsp;
		  {% endfor %}
		  </td>
		  {% endfor %}
	  {% endfor %}
	  </tr>
	 </table>
</body>
</html>
