<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>推荐好工作, 给优秀的你</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<style>
    *{margin: 0;padding:0;}
    html,body{width:100%;height: 100%; background: #C8C8C8;}
</style>
</head>
<body>
<div style="background:url({{pic_url}}/come_soon.jpg) top center no-repeat; height:100%;">
</div>
</body>
</html>