<!doctype html>
<html>
<head>
<title>聘宝全新领域重磅开启</title>
<meta name="keywords" content="聘宝！全新领域，重磅开启" />
<meta name="description" content="聘宝全新领域重磅开启">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta http-equiv="pragma" content="no-cache">
<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
<link href="/static/b_common/css/common.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="{{ STATIC_URL }}activity/qixi2015/css/normalize.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}activity/new_field/new_field_mobile.css?20160316">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
    <body>
        <div class="field_header">
            <div class="field_contain">
                <div class="field_logo"></div>
                <div class="header-content">
                    <div class="field_title"></div>
                    <p class="header-p-1">2016年4月<i></i>Pinbot 聘宝</p>
                    <p class="header-p-2">全新领域·重磅开启</p>
                    <p class="header-p-3">聘宝开通<strong>医疗健康</strong>领域招聘服务</p>
                    <a href="/users/account_register/?from=new_industry" class="go-register">企业注册</a>
                    <p class="header-p-4">注册即送价值<strong>100</strong>元聘点包<br>用于下载人才简历</p>
                    <div class="header-bottom-box">
                        <div class="header-bottom">
                            <div class="header-bottom-1">制药/生物工程</div>
                            <div class="header-bottom-2">医疗/护理/卫生</div>
                            <div class="header-bottom-3">医疗设备/器械</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="field_contain field-plate-two">
                <h2>聘宝让医疗健康招聘更简单</h2>
                <div class="field-advantage">
                    <div class="field-icon-4">7x24h聘宝伴你</div>
                    <div class="field-icon-5">1/3更高效匹配</div>
                    <div class="field-icon-6">自选服务让效果说话</div>
                </div>
                <div class="field-plate-two-word">
                    <h4>持续主动推荐简历</h4>
                    <p>7*24h持续主动推荐<br>平均每天推荐10份简历<br>预防人才简历短缺现象发生</p>
                </div>
            </div>
        </div>
        <div class="f-bg-025993 field-plate-three-box grad">
            <div class="field-plate-three">
                <h4>简历高匹配度</h4>
                <p>每推送3份简历<br>就有1份符合企业招聘需求<br>候选人才更为匹配<br>杜绝企业内部推荐人才不靠谱现象
                </p>
            </div>
        </div>
        <div>
            <div class="field-plate-four">
                <h4>以效果为导向付费</h4>
                <p>聘宝服务模式分为自助和省心两种<br>自助型服务提供简历推荐及下载<br>省心型服务以招聘结果为导向进行付费</p>
            </div>
        </div>
        <div class="field-plate-five-box grad">
            <div class="field-plate-five">
                <h2>致力招聘，满载辉煌</h2>
                <p class="plate-five-p-1">已超过<strong>8000+</strong>家互联网企业正在使用聘宝</p>
                <p class="plate-five-p-2">自2013年起<br>聘宝致力于互联网招聘<br>赢得了大批企业忠睐</p>
                <ul class="clearfix">
                    <li class="media_1"><p>中国电信（翼支付）<br>世界500强企业</p></li>
                    <li class="media_2"><p>中国平安<br>中国首家股份制保险企业</p></li>
                    <li class="media_3"><p>新浪微博<br>国内用户最多的微博平台</p></li>
                    <li class="media_4"><p>凤凰网<br>中国领先综合门户网站</p></li>
                    <li class="media_5"><p>陌陌<br>知名移动社交工具</p></li>
                    <li class="media_6"><p>今日头条<br>手机资讯阅读应用</p></li>
                    <li class="media_7"><p>网易<br>中国3大门户网站之一</p></li>
                    <li class="media_8"><p>期待您的加入<br>全新医疗健康领域</p></li>
                </ul>
            </div>
        </div>
        <div class="field-plate-six-box">
            <div class="field-plate-six">
                <h2><i></i>Pinbot 聘宝一站式智能招聘发布会</h2>
                <div class="activity-time">
                    <div><p class="f-c-27b6e6">4月16日</p><p>北京站</p></div>
                    <div class="chengdu-site"><p class="f-c-3cd677">4月24日</p><p>成都站</p></div>
                </div>
                <p class="plate-six-p-1">4月16日、24日聘宝将分别在北京、成都举办一站式智能招聘发布会<br>现场行业领袖、大咖汇聚，诚邀您莅临</p>
                <div class="go-name">
                    <i class="right-arow"></i>
                    <a href="javascript:;" class="js-go-name">立即报名</a>
                    <i class="left-arow"></i>
                </div>
                <p class="plate-six-p-2">Copyright © 2013 - 2016 HopperClouds</p>
            </div>
        </div>
     <script src="/static/beta/scripts/lib.js"></script>
      <script src="/static/alpha/scripts/jquery.cookie.js"></script>
      <script src="/static/alpha/scripts/jquery.form.js"></script>
      <script src="/static/alpha/scripts/jquery.validate.js"></script>
      <script src="/static/b_common/js/pb.js"></script>
      <script src="/static/alpha/scripts/common.js?20140815"></script>
        <script type="text/javascript">
        $('.js-go-name').click(function(){
            console.log(1);
            var content = '';
            content += '<p class="mt20 text-center"><a class="btn btn-small btn-red f-mg-lr-20" href="/users/account_register/?from=new_industry">新用户请注册</a></p>';
            content += '<p class="mt20 text-center"><a class="btn btn-small btn-dark-blue f-mg-lr-20" href="/signin/?from=new_industry">老用户请登录</a></p>';
            content += '<p class="mt20 caaaaaa text-center" >小宝提示：参加本次活动需要先注册成为聘宝用户哦！</p>';
            var modalHtml = PB.boxHtml('Δ Pinbot 聘宝智能招聘服务新品发布会', content, false, '', '老用户请登录', undefined, 'btn-red', false);
            PB.modal(modalHtml, function() {
                //直接关闭
                document.location.href = trgUrl;
            }, undefined, function(e) {
                e.stopPropagation();
                document.location.href = trgUrl;
            }, undefined, 'btn-red');
        })

        </script>

    </body>
</html>
