/* account */
.i-email,.i-weixin{
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    left: 20%;
}
.i-email{
    background: url(../img/email_48x48.fw.png) 0 0 no-repeat;
    background-size: 100%;
}
.i-weixin{
    background: url(../img/wechat_48x48.fw.png) 0 0 no-repeat;
    background-size: 100%;
}
.user-info{
    margin: 0 auto;
}
.user-info p {
    font-size: 20px;
    color: #777;
    padding: 20px 0;
    position: relative;
    text-align: center;
}
.button-long{
    width: 60%;
}
.btns-2 .button{
    margin: 0 10px;
}
.change-password>p:first-child{
    padding: 50px 0 0;
}
.i-eye{
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 5px;
    margin-top: 15px;
    width: 32px;
    height: 28px;
    background: url(../img/visibility_48x28.fw.png) 0 0 no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.i-eye.active{
    background: url(../img/eye_48x28.fw.png) 0 0 no-repeat;
    background-size: 100%;
}
.i-switch{
    display: inline-block;
    width: 48px;
    height: 28px;
    background: url(../img/off_48x27.fw.png) 0 0 no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 10px;
}
.switch{
    margin-top: 5px;
    right: 0;
    top: 5px;
    position: absolute;
    color: #777;
    cursor: pointer;
}
.switch.active{
    color: #5DDF91;
}
.switch.active .i-switch{
    background: url(../img/on_48x27.fw.png) 0 0 no-repeat;
    background-size: 100%;
}
.setting{
    padding: 15px 0;
    font-size: 18px;
    color: #777;
    position: relative;
}
.privacy h2{
    padding: 100px 0 50px;
}

/* media queries */
@media ( min-width: 320px ) and ( max-width: 760px ) {  /* 手机设备 */
    .i-email,.i-weixin{
        width: 32px;
        height: 32px;
        margin-right: 10px;
        margin-top: -16px;
        left: 0;
        top: 50%;
    }
    .user-info {
        width: 288px;
    }
    .user-info p {
        font-size: 16px;
        padding: 10px 40px;
        width: 208px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .change-password>p:first-child{
        padding: 30px 0 0;
        width: 288px;
        margin: 0 auto;
    }
    .i-eye,.i-eye.active{
        right: 10px;
        margin-top: 8px;
        width: 30px;
        height: 17px;
        top: 4px;
    }
    .privacy h2{
        padding: 60px 0 20px;
    }
    .setting{
        font-size: 14px;
    }
    .i-switch{
        width: 32px;
        height: 18px;
        margin-right: 5px;
    }
    .button-long {
        width: 100%;
    }
    .edit-pwd-form input {
        padding: 8.5px 10px;
    }
    .form-panel .btn-group {
        padding-bottom: 40px;
    }
    .btns-2 .button {
        width: 40%;
    }
    @media ( min-width: 481px ) and ( max-width: 760px ){   /* 大屏手机设备 */

    }
}
@media ( min-width: 761px ) and ( max-width: 1024px ) { /* pad设备(不区分横竖屏) */

}
@media ( min-width: 1025px ){   /* pc设备(默认) */


}