html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	font-family: 'Helvetica Neue', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}
body {
	line-height:1
}
ol,ul {
	list-style:none
}
blockquote,q {
	quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
body {
	background:#f2f2f2 url(../../images/index/wall.png) 0 0 repeat;
	font-family:"Helvetica Neue","Microsoft YaHei",Helvetica,Arial,Sans-serif
}
.layout {
	width:940px;
	padding:0 10px;
	margin:50px auto
}
.btn {
	padding:6px 15px;
	text-decoration:none;
	border-radius: 0;
}
.btn:hover {
	opacity:.95;
	filter:alpha(opacity=95)
}
.btn-enter {
	background:#f60 url(../../images/index/btn-enter-arrow.png) right center no-repeat;
	color:#fff;
	padding-right:30px;
	font-size:.9em
}
.btn-register {
	background:#42b3e5;
	color:#fff;
	font-size:.9em
}
.btn-login {
	background:#333;
	color:#fff;
	font-size:.9em
}
.btn-register-now,.btn-big-action {
	padding:15px 120px;
	background:#42b3e5;
	color:#fff
}
.btn-big-action {
	font-weight:bold
}
.btn-welcome-submit {
	border:none;
	padding:14px;
	background:#42b3e5;
	color:#fff;
	font-size:1.2em;
	display:inline-block;
	width:322px;
	cursor:pointer
}
.btn-welcome-submit[disabled]{
	background: #666;
	cursor: default;
	color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
}
.logo {
	display:inline-block;
	*display:inline;
	*zoom:1;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	background:url(../../images/logo/logo-beta.png) 0 0 no-repeat;
	width:125px;
	height:38px
}
.main {
	margin:50px 0;
	background:#fff;
	border:1px solid #e7e7e7
}
.main .header {
	background:#fafafa;
	text-align:center;
	padding:30px 0
}
.main .header h1 {
	font-size:1.8em
}
.main .header .steps,.main .header .steps_3 {
	position:relative;
	padding-top:44px;
	font-size:.8em
}
.main .header .steps:before {
	content:'';
	top:0;
	left:50%;
	position:absolute;
	width:484px;
	height:34px;
	margin-left:-255px;
	background:url(../../images/index/steps.png) center 0 no-repeat
}
.main .header .steps_3:before {
	content: '';
	top: 0;
	left: 50%;
	position: absolute;
	width: 334px;
	height: 34px;
	margin-left: -167px;
	background: url(../../images/index/steps_3.png) center 0 no-repeat;
}
.main .header .steps span {
	margin:0 46px
}
.main .header .at-step-1 .step1,.main .header .at-step-2 .step1,.main .header .at-step-2 .step2,.main .header .at-step-3 .step1,.main .header .at-step-3 .step2,.main .header .at-step-3 .step3 {
	color:#42b3e5
}
.main .header .at-step-2:before {
	background-position:0 -44px
}
.main .header .at-step-3:before {
	background-position:0 -89px
}
.main .content {
	padding:60px 50px;
	text-align:center
}
.main .content .checkmail {
	margin:80px 0
}
.main .content .checkmail .checkmail-main {
	display:inline-block;
	padding:40px 10px 40px 40px;
	background:url(../../images/index/welcome-info.png) 0 center no-repeat
}
.main .content .checkmail .checkmail-main .mail-link {
	text-decoration:underline
}
.main .content .checkmail .checkmail-suggest {
	font-size:.8em;
	color:#666;
	margin-top:-20px;
	margin-bottom:50px
}
.main form {
	display:inline-block;
	font-size:.9em
}
.main .set-passwoed form{
    width: 450px;
}
.main form div.account-div {
	border-bottom: 1px dashed #dcdcdc;
	padding-bottom: 18px;
	margin-bottom: 30px;
}
.main form p {
	margin-bottom:10px;
	position:relative;
	text-align:left
}
.main form p.checkbox-p {
	margin-top: 1.5em;
}
.main form p.error {
	color:#f00;
	width: 320px;
	margin: 0 auto;
	margin-bottom:20px;
	line-height: 20px;
	background: none;
	z-index: 1;
	box-shadow: none;
}
.main form p#captcha-field:before,.main form p#captcha-field:after {
	content:"";
	display:table
}
.main form p#captcha-field:after {
	clear:both
}
.ie6 .main form p#captcha-field,.ie7 .main form p#captcha-field {
	zoom:1
}
.main form p#captcha-field input {
	width:165px;
	float:left
}
.main form p#captcha-field img {
	float:right;
	display:inline-block;
	width:125px;
	height:38px;
	cursor:pointer;
	position:relative;
	top:3px
}
.main form p.checkbox-p a {
	color: #42b3e5;
	text-decoration: underline;
}
.main form a {
	color:#111
}
.main form a.btn-welcome-submit{
	color:#fff;
	width: 300px;
}
.main form a.signin, .main form a.signup {
	color: #42b3e5;
	text-decoration: underline;
}
.main form .btn-link-forgetpwd {
	position:absolute;
	right:0;
	font-size:.9em;
	bottom: 3px;
}
.main form input {
	font-size:1.1em;
	border:1px solid #bbb;
	padding:10px;
	background:#fff;
	width:300px;
	box-shadow:inset 0 0 1px 1px rgba(123,125,125,0.2)
}
.main form input[type="checkbox"],.main form input[type="radio"]{
	width: auto;
}
.main form .checkbox-p input[type="checkbox"] {
	vertical-align: text-bottom;
}
.main form input.tip-error{
	color: #f60;
}
.main form #rememberme,.main form #agreement {
	width:auto;
	border:inherit;
	box-shadow:none;
	padding:0;
	vertical-align:middle;
	margin:0
}
.main form label {
	vertical-align:middle;
	font-size:.9em;
	text-align: right;
	display: inline-block;
	color: #999;
	width: 80px;
	padding-right: 15px;
}
.main form label.rememberme {
	display: inline;
}
.main form .form-group{
    text-align: left;
    padding-bottom: 30px;
}
.main form .form-group label{
    display: inline-block;
    width: 17%;
    font-size: 14px;
    color: #000000;
}
.main form .form-group input{
    width: 75%;
    display: inline-block;
}
.main form .form-group .btn{
    width: 225px;
}
.main form div.toggle_div {
}
.main form div.toggle_div label {
	margin-top: -359px;
}
.main form div.toggle_div label span.fix-span {
	margin-right: -10px;
	padding-top: 10px;
	display: inline-block;
}
.main form ul.field_list {
	display: inline-block;
	width: 322px;
	margin-left: -4.5px;
}
.main form ul.field_list li {
	float: left;
	width: 64px;
	margin-bottom: 5px;
	padding: 8px 5px;
	font-size: 12px;
	background: #eee;
	border: 1px solid #dcdcdc;
	margin-left: 6px;
	cursor: pointer;
}
.main form ul.field_list li:first-child,  .main form ul.field_list li.first{
	margin-left: 0;
}
.main form ul.field_list li a {
	color: #7d7d7d;
}
.main form ul.field_list li.selected {
	background: #999;
	border: 1px solid #898989;
}
.main form ul.field_list li.selected a {
	color: #fff;
}
.main form .form-control {
	margin-top: 1.5em;
	margin-bottom:1em;
}
.register h1 {
	margin-bottom:20px
}

/* layer */
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-dialog {
    width: 700px;
    margin-top: 117.5px;
    margin: 30px auto;
    position: relative;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    /*border-radius: 6px;*/
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-header{
    padding: 20px 20px;
    background: #F0F0F0;
    /*border-radius: 6px;*/
}
.modal-header h4{
    color: #574e48;
    font-size: 18px;
}
.modal-header span{
    color: #574e48;
}
.modal-body{
    color: #574e48;
    font-size: 12px;
    line-height: 20px;
    padding: 20px;
}
.modal-handle{
    text-align:center;
    padding: 20px 0 40px;
}
.modal-handle a{
    margin: 0 10px;
}
.layer-button{
    line-height: 40px;
    display: inline-block;
    padding: 0 60px;
    opacity: .9;
    border-radius: 3px;
    filter:alpha(opacity=90);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.layer-button.blue-button{
    background: #42B3E5;
    color: #fff;
    font-size: 14px;
}
.layer-button.grey-button{
    background: #999999;
    color: #fff;
    font-size: 14px;
}
a.layer-button:hover{
    opacity: 1;
    filter:alpha(opacity=100);
}
a.layer-button:active{
    box-shadow: 0 3px 5px rgba(0,0,0,.1) inset;
}
.i-l-notice{
    background: url(/static/alpha/images/entry/l_notice.png) 0 0 no-repeat;
    width: 31px;
    height: 36px;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    vertical-align: -12px;
}
.alert-notice{
    padding: 5px 0 10px 50px;
    background: url(/static/alpha/images/info-icon.png) 0 5px no-repeat;
    font-size: 16px;
    line-height: 1.8em;
    color: #333;
}

/**/
.i-gou{
	background: url(../../images/index/gou.png) 0 0 no-repeat;
	display: inline-block;
	width: 43px;
	height: 40px;
	vertical-align: -11px;
	margin-right: 10px;
}

/* 20141112 */
.user-tab{
	width: 600px;
	margin: 0 auto;
	margin-top: 40px;
	border: solid 2px #42b4e6;
}
.user-tab a{
	width: 50%;
	color: #42b4e6;
	background: #fff;
	text-align: center;
	font-size: 16px;
	display: inline-block;
	float: left;
	line-height: 20px;
	padding: 10px 0;
	text-decoration: none;
}
.user-tab a.active{
	color: #fff;
	background: #42b4e6;
	cursor: default;
}

/* 协议 */
.i-layerout-close{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(/static/payment/image/layer_close.png) 0 0 no-repeat;
}
.service-agreement h2{
    font-size: 28px;
    color: #333;
    letter-spacing: 2px;
    font-weight: normal;
    padding: 0 0 30px;
}
.agreement-info{
    border: solid 1px #F3F3F3;
    padding: 20px 40px;
    line-height: 1.8em;
    color: #333;
    height: 280px;
    overflow-y: auto;
}
.agreement-handle{
    padding: 40px 0 10px;
}
.agreement-handle a{
    margin: 0 5px;
    padding: 6px 40px;
}
.agreement-layerout-down{
    padding: 0 0 10px;
}
.agreement-layerout-down a{
    color: #666666;
    margin-left: 10px;
}
.agreement-layerout-down a:hover{
    color: #42B3E5;
}
.agreement-layerout-handle{
    padding: 40px 0 10px;
}
.agreement-layerout-handle .btn{
    margin-left: 150px;
    margin-right: 10px;
}
.blue-btn{
    color: #42B3E5;
}
.blue-btn:hover{
    text-decoration: underline;
}
.i-bingo{
    background: url(/static/alpha/images/entry/bingo.png) 0 0 no-repeat;
    width: 14px;
    height: 13px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: -1px;
    overflow: hidden;
}
.i-close-pay{
    background: url(/static/payment/image/l_error.png) 0 0 no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: -7px;
    margin-right: 20px;
}
.i-g-bingo{
    background: url(/static/payment/image/g_bingo.png) 0 0 no-repeat;
    width: 43px;
    vertical-align: -7px;
    height: 40px;
    margin-right: 20px;
    display: inline-block;
}
.payment-result h2{
    font-size: 33px;
    padding: 50px 0;
    text-align: center;
    font-weight: normal;
}
.re-detail{
    font-size: 16px;
    color: #333;
    padding: 0 0 50px;
    text-align: center;
}
.package-info{
    border: solid 1px #F3F3F3;
    background: #FCFCFC;
    width: 580px;
    margin: 0 auto;
    display: block;
    padding: 40px 0;
    text-align: center;
    color: #666;
    line-height: 3em;
}
.package-info span{
    font-size: 14px;
    color: #333;
}
.package-info strong{
    color: #FC7224;
    font-size: 22px;
    font-weight: normal;
}
.payment-handlers{
    text-align: center;
    padding: 50px 0 100px;
}
.payment-handlers a{
    margin: 0 20px 0 10px;
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.main .content .checkmail .checkmail-main.i-correct,.i-correct{
	background: url(../../images/index/g_right.png) 0 center no-repeat;
}
.c42b4e6{
	color: #42b4e6;
}
.fc863f {
	color: #fc863f;
}
.modal-body h1 {
	font-size: 18px;
	padding: 10px 0 20px;
	text-align: center;
}
.alert-protocal {
	text-align: center;
	max-height: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.alert-protocal p {
	text-align: left;
	padding: 0;
	font-size: 14px;
	line-height: 180%;
}
.alert-protocal p span.placeholder {
	opacity: 0;
}
.alert-protocal .close {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.opt-part {
	margin: 0 auto;
	text-align: center;
}
.opt-part a.readed {
	background: #42b3e5;
	color: #fff;
	border: none;
	display: inline-block;
	padding: 14px 60px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
}
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	opacity: 0;
	border: none;
	background: none;
}