body {
  color: #607D8B;
}
.task-state {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 75px;
  z-index: 7999;
  cursor: pointer;
}
.task-state-undo {
  background: url(/static/task/images/PINBOT.gif) no-repeat;
}
.task-state-finish {
  background: url(/static/task/images/pinbot_money.gif) no-repeat;
}
.task-state-all-finish {
  background: url(/static/task/images/PINBOT.png) no-repeat;
}
.black-bg {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8000;
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}
/*所有任务*/
.task-contain {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8100;
  width: 600px;
  font-size: 14px;
  background-color: #fff;
  height: 535px;
  color: #5e7c8b;
}
.task-head {
  position: relative;
  padding-top: 114px;
}
.blue-bg {
  background: url(/static/task/images/banner1.jpg) no-repeat;
}
.task-banner {
  background: url(/static/task/images/task_banner.jpg) no-repeat;
}
.task-tip-word {
  padding: 30px 0px 30px 85px;
  line-height: 30px;
  color: #666;
  font-size: 14px;
}
.js-task-tip-contain {
  height: 400px;
}
.close-task {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 50px;
  width: 50px;
  background: url(/static/task/images/close_w.png) no-repeat center center;
}
.return-task {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  padding-left: 33px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 13px;
  background: url(/static/task/images/return16x24.png) no-repeat 7px center;
}
.task-contain .red-bg {
  background: url(/static/task/images/banner2.jpg) no-repeat;
}
.task-head > a#js-task-close {
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.task-head > a#js-task-return {
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
}
.task-head .task-notice {
  height: 32px;
  width: 500px;
  padding-left: 100px;
  overflow: hidden;
  background: url(/static/task/images/speaker.png) #ffd254 no-repeat 60px center;
}
.task-head .task-notice ul {
  width: 500px;
}
.task-head .task-notice ul li {
  height: 32px;
  font-size: 13px;
  line-height: 32px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.task-tab > a {
  float: left;
  width: 300px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 20px;
  color: #5e7c8b;
  border-bottom: 2px solid #f2f2f2;
}
.task-tab > a.task-tab-current {
  color: #805122;
  border-bottom: 2px solid #ffd254;
}
.task-slide-contain {
  position: relative;
  padding: 0px 0 10px 0;
}
.task-slide-contain ul.task-slide-main {
  height: 240px;
  width: 600px;
}
.task-slide-contain ul.task-slide-main li {
  height: 32px;
  margin-top: 10px;
  line-height: 32px;
  padding-left: 38px;
  text-align: center;
}
.task-slide-contain ul.task-slide-main li:first-child {
  height: 40px;
}
.float-left {
  float: left;
}
.align-left {
  text-align: left !important;
}
.task-slide-contain ul.task-slide-main li div.task-name-title-public {
  line-height: 40px;
  font-size: 16px;
  color: #484848;
}
.task-slide-contain ul.task-slide-main li div.task-name-title {
  width: 185px;
}
.task-slide-contain ul.task-slide-main li div.task-number-title {
  width: 90px;
}
.task-slide-contain ul.task-slide-main li div.task-gift-title {
  width: 144px;
}
.task-slide-contain ul.task-slide-main li div.task-name {
  position: relative;
  width: 185px;
  line-height: 32px;
  color: #5e7c8b;
}
.task-slide-contain ul.task-slide-main li div.task-name a em {
  font-style: normal !important;
  text-decoration: underline;
}
.task-slide-contain ul.task-slide-main li div.task-name a span {
  text-decoration: none !important;
}
.task-slide-contain ul.task-slide-main li div.task-number {
  width: 90px;
  color: #999;
  line-height: 32px;
}
.task-slide-contain ul.task-slide-main li p.task-gift {
  width: 144px;
  height: 32px;
  color: #F76A58;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.task-slide-contain ul.task-slide-main li a.task-go {
  height: 32px;
  width: 100px;
  color: #fff;
  text-align: center;
  line-height: 32px;
}
.task-slide-contain ul.task-slide-main li div.task-name span.task-descript {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  width: 149px;
  padding: 5px 8px;
  color: #5e7c8b;
  line-height: 22px;
  background-color: #E8EDF0;
  z-index: 8200;
}
.task-slide-contain ul.task-slide-main li div.task-name span.task-descript:after {
  position: absolute;
  left: 0;
  top: -40px;
  display: block;
  content: "";
  width: 149px;
  height: 31px;
  padding: 5px 8px;
  z-index: 8200;
}
.task-slide-contain ul.task-slide-main li div.task-name span.task-descript em {
  display: block;
  width: 0;
  height: 0;
  font-size: 13px;
  line-height: 22px;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent #E8EDF0;
  /*透明 透明  黄*/
  position: absolute;
  top: -8px;
  left: 10px;
}
.task-slide-contain ul.task-slide-main li.task-unfinish div.task-number span {
  color: #5e7c8b;
}
.task-slide-contain ul.task-slide-main li a.bcF76A58 {
  background-color: #F76A58;
}
.task-slide-contain ul.task-slide-main li a.bcffd254 {
  background-color: #ffd254;
  color: #666 !important;
}
.task-slide-contain .tast-slide-page {
  position: absolute;
  bottom: 0;
  height: 66px;
  width: 600px;
}
.task-slide-contain .tast-slide-page > a {
  float: right;
}
/*我的奖品*/
.my-gift {
  display: none;
}
.c44b5e8 {
  color: #44b5e8;
}
.c999999 {
  color: #999 !important;
}
.cf76a58 {
  color: #f76a58 !important;
}
.my-gift ul.task-slide-main li {
  padding-left: 23px !important;
}
.task-gift-name {
  width: 140px !important;
}
.task-gift-gift {
  width: 130px !important;
}
.task-time-gift {
  width: 100px !important;
  line-height: 32px;
}
/*分页插件样式*/
.task-page-code {
  padding-top: 40px;
  text-align: center;
}
.task-page-code a,
.task-page-code span {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 2px;
  color: #999;
}
.task-page-code a:hover {
  color: #333;
}
.task-page-code span.current {
  color: #333;
  text-decoration: underline;
}
.task-page-code span.disabled {
  color: #999 !important;
}
.task-page-code .prev-page {
  background: url(/static/resume/images/sprite.png) no-repeat -315px -435px;
}
.task-page-code .prev-page-disabled {
  background: url(/static/resume/images/sprite.png) no-repeat -375px -435px;
}
.task-page-code .next-page {
  background: url(/static/resume/images/sprite.png) no-repeat -195px -435px;
}
.task-page-code .next-page-disabled {
  background: url(/static/resume/images/sprite.png) no-repeat -255px -435px;
}
/*二级界面样式*/
.mt20 {
  margin-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt45 {
  padding-top: 45px;
}
.pt85 {
  padding-top: 85px;
}
.pd20 {
  padding-bottom: 20px;
}
.pd80 {
  padding-bottom: 80px;
}
.pd110 {
  padding-bottom: 110px;
}
.bcCFD8DD {
  background-color: #CFD8DD;
  cursor: default;
}
.gift-congratulation {
  color: #5e7c8b;
  line-height: 70px;
  text-align: center;
}
.gift-congratulation strong {
  font-style: normal;
  font-size: 20px;
  color: #F76A58;
}
.gift-instrction {
  text-align: center;
}
.gift-instrction a {
  text-decoration: underline !important;
}
.gift-instrction img {
  padding: 20px 0 28px;
}
.gift-botton {
  display: block;
  width: 240px;
  height: 46px;
  margin: auto;
  line-height: 46px;
  text-align: center;
  font-size: 18px;
  color: #333;
  background-color: #ffd254;
}
.task-name-box {
  position: relative;
  color: #666;
  padding: 0px 0 10px 85px;
  width: 320px;
  margin: auto;
}
.task-name-box > label {
  position: absolute;
  left: 0;
  top: 10px;
  line-height: 30px;
}
.task-name-box > input {
  padding: 5px 10px;
  line-height: 20px;
  color: #666;
  width: 300px;
  border-bottom: 1px solid #aaa;
}
.task-error-tip {
  display: none;
  position: absolute;
  top: 0px;
  right: -70px;
  line-height: 30px;
  color: red;
}
.province-city-box {
  position: relative;
  width: 320px;
}
.province-city-box > label {
  line-height: 30px;
}
.province-city-box > input {
  padding: 5px 10px;
  line-height: 20px;
  color: #666;
  width: 116px;
  border-bottom: 1px solid #aaa;
}
.street-box {
  position: relative;
  width: 320px;
  margin-top: 10px;
}
.street-box > input {
  padding: 5px 10px;
  line-height: 20px;
  color: #666;
  width: 233px;
  border-bottom: 1px solid #aaa;
}
.gift-pindian {
  display: none;
}
.gift-hongbao {
  display: none;
}
.gift-real-gift {
  display: none;
}
.submit-sucess {
  display: none;
}
.gift-null {
  padding-top: 160px;
  line-height: 26px;
  background: url(/static/task/images/empty_pinbot.png) no-repeat center 40px;
}
.gift-null div {
  line-height: 24px;
}
.show-box {
  display: block !important;
}
.hide-box {
  display: none !important;
}
.task-close-tip {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 600px;
  height: 193px;
  background-color: #fff;
  z-index: 8100;
}
.js-close-task-tip {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 50px;
  width: 50px;
  background: url(/static/b_common/img/close.png) no-repeat 10px 12px;
}
.task-start-tip {
  font-size: 14px;
  line-height: 30px;
  color: #666;
  padding-top: 40px;
  padding-left: 120px;
}
.confirm-box {
  margin-left: 240px;
  margin-top: 30px;
}
.confirm-box label {
  float: left;
  padding-top: 22px;
  height: 20px;
}
.confirm-box label input {
  line-height: 20px;
}
.confirm-box label span {
  line-height: 20px;
}
.task-start-confirm {
  float: left;
  border: none;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: #42b3e5;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.hongbao-explan {
  line-height: 26px;
  padding: 5px 60px 60px 60px;
}
.relative {
  position: relative;
}
.data-loading {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
  background: url(/static/partner/images/loading.gif) no-repeat center center;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.u-urgent-alert {
  display: block;
  position: absolute;
  height: 32px;
  line-height: 32px;
  width: 1600px;
  left: 0;
  top: 0;
}
