<form method="post" action="{% url 'vip-confirm-refund-order' op_id %}">
    {% csrf_token %}
    <div id="div_id_pay_status" class="form-group">
        <label for="id_pay_status" class="control-label requiredField">
        审核状态<span class="asteriskField">*</span>
        </label>
        <div class="controls ">
            <select class="adminselectwidget form-control" id="id_pay_status" name="operation">
                <option value="1">已退款</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block btn-sm">确定</button>
</form>
