<div class="inner-content common_form gender_form work_year_form degree_form">
    <p><a ng-click="back()"><img src="{- static_url -}my_resume/img/arrow_1_32x46.fw.png"/></a>请选择你的学历</p>
    <ul>
        <li ng-repeat="degree in data.degree_meta">
            <a class="button" id="{- degree[0] -}"  ng-click="setDegree(degree[0])" ng-class="{'checked': check_degree(degree)}">{- degree[1] -}
                <span ng-class="{'checked':check_degree(degree), 'unchecked': false}">
            </a>
        </li>
    </ul>
    <div class="opt_part">
        <a class="button confirm" ng-click="confirm()">确认</a>
    </div>
</div>
