/* activity */
body{
	background: #3E567A;
}
.banner{
	width: 100%;
	height: 815px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-position: top center;
}
.content{
	width: 990px;
	margin: 0 auto;
	padding-bottom: 35px;
	position: relative;
}
.img-list{
	z-index: -1;
}
.img-list img{
	display: block;
	width: 100%;
	background: #3E567A;
}
.login{
	width: 187px;
	height: 62px;
	display: block;
	position: absolute;
	left: 127px;
	top: 2465px;
	text-align: right;
	cursor: pointer;
	background: url(../images/cursor.jpg) left top no-repeat;
}
.login img{
	width: 52px;
	height: 51px;
	margin-right: 8px;
	display: inline-block;
}
.weibo{
	width: 110px;
	height: 24px;
	display: block;
	position: absolute;
	left: 689px;
	top: 3421px;
	text-align: right;
	cursor: pointer;
	background: url(../images/weibo.jpg) left top no-repeat;
}