/* print */
*{
	margin: 0;
	padding: 0;
}
ul,ol,dl{
	list-style: none;
}
.right{
	float: right;
}
.left{
	float: left;
}
.clearBoth{
	clear: both;
}
.r{
	text-align: right;
}
.c{
	text-align: center;
}
.print-body{
	color: #000;
	font-size: 14px;
	line-height: 2em;
	width: 680px;
	padding: 0 55px;
	margin: 0 auto;
}
.print-body p{
	line-height: 2.5em;
}
.ul{
	margin: 10px 0;
}
.print-head{
	font-size: 14px;
	text-align: center;
}
.signature{
	padding: 5px 0 5px 30px;
}
.signature span,.signature code{
	display: inline-block;
	line-height: 20px;
	height: 19px;
	vertical-align: middle;
	overflow: hidden;
}
.signature code{
	border-bottom: solid 1px #000;
}
.w50{
	width: 50px;
}
.mt30{
	margin-top: 30px;
}
.print-table,.print-table td,.print-table th{
	border: solid 1px #000;
}
.print-table{
	border-collapse: collapse;
}
.print-table td,.print-table th{
	padding: 5px;
	text-align: left;
	font-weight: normal;
}
.pl22{
	padding-left: 22px;
}
.contract-footer{
	padding: 5px 22px;	
}
.contract-footer span{
	display: inline-block;
	width: 75px;
}
.interval{
	padding-right: 210px;
}