.main-subnav {
	background:#fff;
	border-bottom:1px solid #ddd;
	text-align:center;
	padding:15px 0;
}
.main-subnav-list li {
	display:inline;
	margin:0 10px;
	border-left:1px solid #ddd;
	padding-left:20px;
}
.main-subnav-list li.first-child {
	border-left:none;
}
.main-subnav-list li a {
	color:#000;
}
.main-subnav-list li.on a {
	font-weight:bold;
	color: #41B2E5;
}
#resume-list {
	padding:0 0 30px 0;
}
#resume-list .aside {
	display:none;
	float:right;
	margin-right:-130px;
	width:100px;
}
#resume-list-empty {
	padding:30px;
	width:960px;
	margin:0 auto;
	background:#fff;
	margin-bottom:50px;
}
#resume-list-empty .header {
	text-align:center;
	margin-top:20px;
}
#resume-list-empty .empty-list-1 {
	height:400px;
	position:relative;
	background:url(../images/empty-list-1.jpg) center center no-repeat;
}
#resume-list-empty .empty-list-1 .title {
	position:absolute;
	top:180px;
	left:520px;
}
#resume-list-empty .empty-list-1 p {
	position:absolute;
	bottom:-20px;
	width:100%;
	text-align:center;
}
#resume-list-empty .empty-list-2 {
	height:400px;
	position:relative;
	background:url(../images/empty-list-1.jpg) center center no-repeat;
}
#resume-list-empty .empty-list-2 .title {
	position:absolute;
	top:180px;
	left:520px;
}
#resume-list-empty .empty-list-2 p {
	position:absolute;
	bottom:-20px;
	width:100%;
	text-align:center;
}
#resume-list-empty .empty-list-3 {
	height:400px;
	position:relative;
	background:url(/static/b_common/img/empty.png) center center no-repeat;
}
#resume-list-empty .empty-list-3 .empty-list-3-wrap {
	position:absolute;
	top:150px;
	left:150px;
}
#resume-list-empty .empty-list-3 .empty-list-3-wrap h2 {
	display:inline-block;
	background:url(../images/info-icon.png) 0 center no-repeat;
	padding:10px 0;
	padding-left:40px;
}
#resume-list-empty .empty-list-3 .empty-list-3-wrap p {
	margin:20px 0;
}
#resume-list-empty .empty-list-3 .empty-list-3-wrap .action {
	padding-top:20px;
}
#resume-list-empty .empty-list-3 .empty-list-3-wrap .action a {
	padding:10px 50px;
	background:#42b3e5;
	color:#fff;
	font-weight:bold;
}
#resume-list-empty .title {
	font-size:16px;
	font-weight:normal;
}
#resume-list-empty .expect-feature {
	margin:0 auto;
	border-top:1px solid #ddd;
	padding-top:20px;
}
#resume-list-empty .expect-feature li {
	background:#f2f2f2;
	width:230px;
	float:left;
	position:relative;
}
#resume-list-empty .expect-feature li.feature-plugin {
	margin:0 134px;
}
#resume-list-empty .expect-feature li .feature-link {
	text-align:center;
	margin:20px 0;
}
#resume-list-empty .expect-feature li .feature-link a {
	padding:10px 0;
	display:block;
	width:100%;
	font-size:16px;
	background:#f90;
	color:#fff;
	font-weight:bold;
	-webkit-transition:all .2s ease;
	transition:all .2s ease;
}
#resume-list-empty .expect-feature li .feature-link a:hover {
	filter:alpha(opacity=90);
	opacity:.9;
}
#resume-list-empty .expect-feature li .disabled-link a {
	background:#999;
	color:#fff;
}
#resume-list-empty .expect-feature li .disabled-link a:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
#resume-list-empty .expect-feature li .feature-title {
	text-align:center;
	font-size:14px;
}
#resume-list-empty .expect-feature li .disc {
	margin-top:10px;
	line-height:2;
}
.resume-list-table {
	}.resume-list-table table {
	width:100%;
	font-size:13px;
}
.resume-list-table th {
	text-align:left;
	background:#f5f5f5;
	color:#666;
	border-bottom:1px solid #e6e6e6;
	padding:15px 10px;
	margin-bottom:5px;
}
.resume-list-table td {
	color:#333;
	padding: 15px 10px;
	border-bottom:1px solid #e6e6e6;
	vertical-align:top;
	text-align:left;
	line-height: 20px;
}
.resume-list-table td.date-field p {
	position:relative;
}
.resume-list-table td .resume-link {
	opacity:0;
	filter:alpha(opacity=0);
	position:absolute;
	left:-40px;
	width:40px;
	height:35px;
	color:#42b3e5;
	line-height:35px;
	text-align:center;
	background:#fff;
	top:-9px;
	border:1px solid #ddd;
	border-right:none;
}
.resume-list-table td .resume-link:hover {
	text-decoration:underline;
	line-height: 20px;
}
.resume-list-table td p {
	line-height:20px;
	text-align:left;
}
.resume-list-table td p span {
	line-height:20px;
	display:inline-block;
	margin-right:10px;
}
.resume-list-table td p.brief-comment {
	margin-top:10px;
	padding-left:10px;
	position:relative;
	left:-10px;
	background:url(../images/brief-circle.png) 0 center no-repeat;
	color:#666;
}
.resume-list-table td p.work-range {
	color:#666;
	font-size:.9em;
}
.resume-list-table td p.work-company {
	margin-top:10px;
	padding-left:10px;
	position:relative;
	left:-10px;
	background:url(../images/recent-circle.png) left 8px no-repeat;
}
.resume-list-table td p.school {
	background:url(../images/recent-circle.png) left 8px no-repeat;
	padding-left:10px;
	position:relative;
	left:-10px;
}
.resume-list-table td p.school .degree {
	font-size:.9em;
}
/*.resume-list-table td.comment-field {
	position:relative;
}*/
.resume-list-table td.comment-field span {
	margin-bottom:10px;
}
.resume-list-table td.comment-field a {
	display:none;
	background:#fff;
	position:absolute;
	right:15px;
	bottom:10px;
	padding:3px 10px;
	color:#fff;
	font-weight:bold;
	background:#42b3e5;
}
.resume-list-table td.comment-field a:hover {
	opacity:.9;
	filter:alpha(opacity=90);
}
.resume-list-table td.default-item {
	text-align:center;
}
.resume-list-table td > div {
	word-break:break-all;
}
.resume-list-table td:last-child span {
	display:inline-block;
}
.resume-list-table td {
	background:#fff;
}
.hover-layer .resume-list-table td{
	cursor: pointer;
}
.resume-list-table tr.newest,.resume-list-table tr.newest td {
	background:#f8fafc;
}
.resume-list-table tr.resume-faved td:first-child p {
	position:relative;
}
.resume-list-table tr.resume-faved td:first-child p:after {
	content:'已关注';
	position:absolute;
	left:50%;
	bottom:-22px;
	margin-left:-5px;
}
.hover-layer .resume-list-table .hover td{
	background: #F5FBFE;
}
.resume-list-control {
	height:35px;
}
.resume-list-control li {
	display:inline;
}
.resume-list-control li.split {
	color:#333;
	margin:0 8px;
}
.control-action {
	float:left;
}
.control-action a {
	color:#111;
	padding:2px 5px;
	-webkit-transition:all .2s ease;
	transition:all .2s ease;
}
.control-action a:hover {
	background:#eee;
	border-radius:2px;
}
.control-action .ic-fav {
	top:4px;
}
.btn-del-resume {
	margin-left:5px;
	position:relative;
	top:2px;
	display:inline-block;
	padding-bottom:0 !important;
}
.control-filter {
	float:right;
}
.control-filter li {
	margin-left:5px;
}
.btn-filter-date,.btn-filter-score {
	padding:3px 15px;
	border:1px solid #ccc;
	background:#fcfcfc;
	color:#999;
	font-weight:bold;
}
.btn-filter-date.curr,.btn-filter-score.curr {
	color:#f90;
}
.btn-filter-latest {
	color:#666;
	margin-left:20px;
}
.btn-filter-latest i {
	position:relative;
	top:2px;
}
.dropdown-filter {
	position:relative;
}
.dropdown-filter > a {
	display:inline-block;
	width:100px;
	text-align:center;
	border:1px solid #ccc;
	padding:3px 30px 3px 10px;
	color:#666;
	position:relative;
}
.dropdown-filter > a.on {
	-webkit-box-shadow:4px 4px 2px rgba(125,125,125,0.5);
	box-shadow:4px 4px 2px rgba(125,125,125,0.5);
}
.dropdown-filter > a:before {
	content:' ';
	position:absolute;
	width:1px;
	height:15px;
	background:#dbdbdb;
	right:21px;
	top:5px;
}
.dropdown-filter > a:after {
	content:' ';
	position:absolute;
	background:url('../images/sprite.png?v=2') no-repeat -301px -766px;
	width:5px;
	height:4px;
	right:8px;
	top:50%;
	margin-top:-2px;
}
.dropdown-filter:hover .dropdown-filter-menu {
	display:block;
}
.dropdown-filter:hover > a {
	-webkit-box-shadow:4px 4px 2px rgba(125,125,125,0.5);
	box-shadow:4px 4px 2px rgba(125,125,125,0.5);
}
.dropdown-filter .dropdown-filter-menu {
	position:absolute;
	display:none;
	background:#fff;
	border:1px solid #ccc;
	width:140px;
	z-index:999;
	border-top:0;
	margin-top:-1px;
	padding-top:5px;
	left:0;
	-webkit-box-shadow:4px 4px 2px rgba(125,125,125,0.5);
	box-shadow:4px 4px 2px rgba(125,125,125,0.5);
	-webkit-transition:all .5s ease;
	transition:all .5s ease;
}
.dropdown-filter .dropdown-filter-menu li,.dropdown-filter .dropdown-filter-menu a {
	margin:0;
	display:block;
}
.dropdown-filter .dropdown-filter-menu a {
	text-align:center;
	padding:4px 0;
	color:#333;
}
.dropdown-filter .dropdown-filter-menu a:hover {
	background:#ebebeb;
}
.resume-list-pager {
	margin-top:30px;
	margin-right:35px;
}
.resume-list-pager p {
	text-align:right;
	font-size:12px;
}
.resume-list-pager p * {
	padding:4px 8px;
	border:1px solid #cacaca;
	color:#5f5f5f;
}
.resume-list-pager p i {
	padding:0;
	border:none;
}
.resume-list-pager p a:hover {
	background-color:#eee;
}
.resume-list-pager p .dot {
	border:none;
	position:relative;
	top:-3px;
	padding:5px 2px;
}
.resume-list-pager p .curr {
	background:#cecece;
	border-color:#b2b2b2;
}
.resume-list-pager p .pager-prev,.resume-list-pager p .pager-next {
	color:#999;
}
.resume-list-pager p .pager-prev i {
	vertical-align:middle;
	margin-right:5px;
}
.resume-list-pager p .pager-next i {
	vertical-align:middle;
	margin-left:5px;
}
.resume-upload p {
	text-align:center;
	border:1px solid #ccc;
	padding:15px 0;
	background:#fafafa;
	-webkit-box-shadow:1px 1px 2px rgba(125,125,125,0.5);
	box-shadow:1px 1px 2px rgba(125,125,125,0.5);
	border-radius:5px;
	margin-bottom:20px;
}
.resume-upload p .ic {
	margin-bottom:10px;
}
.resume-upload p a {
	color:#111;
}
.disabled {
	opacity:.4;
	filter:alpha(opacity=40);
}


/* 140808 新增*/
.list-a,.copy-a,.delete-a{
	display: inline-block;
	line-height: 20px;
	margin: 0 5px;
	font-size: 12px;
	vertical-align: middle;
}
.list-a{
	padding: 0 10px;
	background: #fff;
	border: solid 1px #CCCCCC;
	box-shadow: 2px 2px #E5E5E5;
	color: #666666;
}
.list-a:hover{
	color: #42B3E5;
}
.copy-a{
	padding: 0 5px;
	color: #42B3E5;
	position: relative;
	outline: 0;
}
.copy-a span{
	display: inline-block;
	position: absolute;
	top: 25px;
	color: #999999;
	text-align: center;
	width: 52px;
	padding: 0 10px;
	margin-left: -11px;
	border: solid 1px #ccc;
	background: #fff;
}
.resume-list-table td:last-child .copy-a span{
	display: none;
}
.copy-span{
	display: inline-block;
	color: #999;
	line-height: 20px;
	margin: 0 5px;
	font-size: 12px;
	vertical-align: middle;
}
.tarr{
	background: url(../images/entry/arr.png) 0 0 no-repeat;
    width: 10px;
    height: 5px;
    display: inline-block;
    overflow: hidden;
}
.copy-a span i{
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -4px;
}
.delete-a{
	padding: 0 5px;
	color: #999999
}
.copy-a:hover,.delete-a:hover{
	text-decoration: underline;
}
.no-list{
	padding: 200px 0;
	text-align: center !important;
	font-size: 14px;
}
.i-l-notice{
	background: url(../images/entry/l_notice.png) 0 0 no-repeat;
    width: 31px;
    height: 36px;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    vertical-align: -12px;
}
.list-passed{
	color: #FD4600 !important;
}
.a-blue{
	color: #5BB2E0;
}
.cef7f40{
	color: #ef7f40;
}
.c333{
	color: #333;
}
.c999{
	color:#999;
}
.w140{
	width: 140px;
}
.w100{
	width: 100px;
}
.w70{
	width: 70px;
}
.bought-search{
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}
.bought-search .drop-select{
	margin-right: 20px;
}

/* 20141126 */
.status-icon{
	display: inline-block;
	position: relative;
}
.status-icon span{
	display: none;
	border: solid 1px #fbcaa1;
	padding: 5px;
	color: #707070;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 100px;
	margin-left: -58px;
	text-align: center;
	background: #fffefb;
}
.status-icon span:before{
	border: solid 5px transparent;
	border-bottom: solid 5px #fbc89e;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: -11px;
	content: ' ';
}
.status-icon span:after{
	border: solid 5px transparent;
	border-bottom: solid 5px #fffefb;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	content: ' ';
	top: -10px;
}
.status-icon:hover span{
	display: inline-block;
}
.i-r-status{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/entry/status_icon.png) no-repeat;
}
.i-r-wait{
	background-position: 0 0;
}
.i-r-pass{
	background-position: -16px 0;
}
.i-r-error{
	background-position: -32px 0;
}
.table-center th,.table-center td{
	text-align: center;
}
.blue-a{
	color: #42b4e6;
}
.cfc7524{
	color: #fc7524;
}
.i-edit-mark{
	background: url(/static/mark/img/mark_resume.png) -29px 0 no-repeat;
	width: 22px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}
.i-mark-info{
	background: url(/static/mark/img/mark_resume.png) 0 0 no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: 3px;
}
.i-mark-info code{
	position: absolute;
	padding: 5px;
	background: #fff;
	border: solid 1px #CFD8DC;
	color: #607d8b;
	font-size: 13px;
	display: none;
	font-style: normal;
	width: 130px;
	line-height: 20px;
	left: -54px;
	top: 25px;
	cursor: default !important;
}
.i-mark-info code::before{
	content: ' ';
	width: 0;
	height: 0;
	position: absolute;
	border: solid 5px transparent;
	border-bottom: solid 5px #CFD8DC;
	left: 50%;
	margin-left: -10px;
	top: -10px;
}
.i-mark-info code::after{
	content: ' ';
	width: 0;
	height: 0;
	position: absolute;
	border: solid 5px transparent;
	border-bottom: solid 5px #fff;
	left: 50%;
	margin-left: -10px;
	top: -9px;
}
.i-mark-info code a{
	color: #f46c62;
	font-size: 13px;
}
.i-mark-info:hover code{
	display: inline-block;
}
.mark-desc{
	max-width: 70%;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
}
.w100p{
	width: 100%;
}

.qzz{
	position: relative;
}
.qzz i{
	position: absolute;
	display: inline-block;
	background: url(/static/beta/images/index/new-icon.gif) 0 0 no-repeat;
	width: 22px;
	height: 14px;
	right: -23px;
	top: -10px;
}
.c42b3e5{
	color: #42b3e5;
}
.cf26e66{
	color: #f26e66;
}

.hover-layer .resume-list-table .hover td {
  background: #F5FBFE;
}
.hover-layer .resume-list-table td {
  cursor: pointer;
}
.resume-list-table td {
  background: #fff;
}
.unmarked{
	padding: 20px;
}