*{
    padding: 0;
    margin: 0;
    border:0;
}

body{
    background: #000;
    color: #fff;
    font-size: 14px;
    font-family:"Hiragino Sans GB" , "microsoft yahei", Helvetica,Arial, sans-serif;
}

.clearfix{*zoom:1;}
.clearfix:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
}


.talented-banner img{
    width: 100%;
}

.mobile-main{
    width: 90%;
    margin: auto;
    background: url(../img/2.jpg) no-repeat 0 0;
    background-size: 100% 200px;
}

.mobile-main>p:first-child{
    text-align: center;
    padding: 40px;
    line-height: 24px;
}

.mobile-main-detail>p:first-child{
    padding-top: 45px;
    text-align: center;
    background: url(../img/3.jpg) no-repeat center 0;
    background-size: 130px 40px;
    line-height: 24px;
    color: #ffe347;
}


.talented-mobile-detail{

}

.talented-mobile-detail>div{
    float: left;
}

.talented-mobile-detail>div:nth-child(1){
    width: 15%;
    font-size: 15px;
    color: #6e4500;
}

.talented-mobile-detail>div:nth-child(1) p{
    line-height: 56px;
    color: #d17e3b;
}
.talented-mobile-detail>div:nth-child(1) p:first-child{
    line-height: 24px;
    padding-top: 22px;
    margin-bottom: 21px;
}

.talented-mobile-detail>div:nth-child(1) p:nth-child(4){
    margin-top: 1px;
    margin-bottom: 17px;
}
.talented-mobile-detail>div:nth-child(1) p:nth-child(6){
    margin-top: 3px;
}
.talented-mobile-detail>div:nth-child(1) p:nth-child(7){
    margin-top: 2px;
}

.talented-mobile-detail>div:nth-child(1) p:nth-child(8){
    margin-top: 18px;
}
.talented-mobile-detail>div:nth-child(2){
    width: 10%;
    height: 560px;
    background: url(../img/3.5.jpg) no-repeat center 0;
    background-size: 14px 560px;
}
.talented-mobile-detail>div:nth-child(3){
    padding-left:5%;
    padding-top: 19px;
    width: 70%;
}

.talented-mobile-detail>div:nth-child(3) div{
    position: relative;
}

.talented-mobile-detail>div:nth-child(3) div:after{
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    left: -8px;
    top: 10px;
    content: "";
    border-right: 8px solid #342100;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.talented-mobile-detail>div:nth-child(3) div.position-top{
    padding: 7px 0 5px 0;
    line-height: 24px;
}
.talented-mobile-detail>div:nth-child(3) div.position-top:after{
    top: 25px;
}

.talented-mobile-detail>div:nth-child(3) div{
    line-height: 30px;
    background-color: #342100;
    margin-bottom: 13px;
    text-align: center;
}

.talented-mobile-detail>div:nth-child(3) div strong{
    font-style: normal;
    color: #ffe347;
}

.time-reserve{
    padding-top: 50px;
    padding-bottom: 30px;
    background: url(../img/4.jpg) no-repeat center 0;
    background-size: 120px 40px;
}

.time-reserve a{
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFE431;
}

.activit-guests{
    padding-top: 90px;
    background: url(../img/jf0.jpg) no-repeat center 38px/120px 30px;
}
.activit-guests>div{
    position: relative;
    width: 50%;
    float: left;
    text-align: center;
    padding-bottom: 15px;
}

.activit-guests>div p:first-of-type{
    padding-top: 4px;
}
.activit-guests>div img{
    width: 120px;
    height: 120px;
}
.activit-guests>div p.guests-name{
    color: #ffe347;
    font-size: 14px;
}
.activit-guests>div p.guests-descript{
    color: #fff;
    font-size: 12px;
}


.activity-gift{
    padding-top: 80px;
    background: url(../img/jf5.jpg) no-repeat center 30px/120px 30px;
}
.activity-gift div{
    float: left;
    width: 50%;
    text-align: center;
}

.activity-gift div img{
    width: 120px;
    height: 120px;
}
.activity-gift div p{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    padding:13px 0;
}
.activity-gift div p.line-height{
    line-height: 24px;
    padding-bottom: 10px;
}


.location{
    margin-top: 20px;
}

.location>p{
    padding-right: 10%;
    line-height: 22px;
}

.location>p span{
    color: #ffe347;
}
.pb10{
    padding-bottom: 10px;
}

.co-organizers{
    padding-top: 13px;
}

.co-organizers>p{
    font-size: 11px;
    line-height: 30px;
}

.co-organizers>div{
    width: 100%;
    height: 36px;
    margin-bottom: 22px;
    background: url(../img/Partner.jpg) no-repeat left center/280px 28px;
}




.mobile-bottom{
    height: 120px;
    padding-top: 30px;
    border-top: 2px solid #FFE431;
    background: url(../img/6.jpg) no-repeat 0 0;
    background-size: 100% 150px;
}

.mobile-bottom>div{
    width: 90%;
    margin: 0 auto;
}

.mobile-bottom>div>div{
    height: 80px;
    padding-left: 90px;
    padding-top: 8px;
    background: url(../img/5.jpg) no-repeat 0 0;
    background-size: 80px 80px;
    line-height: 22px;
}
