
<div class="main main-mode" >
                <div class="header">
                    <h1>你需要进行支付</h1>
                    <div class="sub-title sub-title-star">请选择第三方平台支付模式，也可以使用聘宝金币支付。遇到问题？<a href="javascript:;" id="JS_pbqqdiy_btn">联系聘宝人才顾问</a></div>
                </div>

                <div class="price content box-content box-content-p30">
                    <div class="text-center ajax-loading" ng-if="loadingThis" ng-hide="true">
                        <img src="/static/partner/images/loading.gif" alt="loading">
                        <br>页面装载中...
                    </div>
                    <div class="box-col box-col-center">
                        <div class="user-mode user-mode-pay active" ng-click="choosePayMethod($event,'alipay')" ng-mouseover="hoverMe($event,true)"
                ng-mouseout="hoverMe($event,false)">
                            <a class="pay-icons pay-icons-alipay">支付宝</a>
                        </div>
                    </div>
                    <!-- <div class="box-col box-col-right">
                        <div class="user-mode user-mode-pay" ng-click="choosePayMethod($event,'wechat')" ng-mouseover="hoverMe($event,true)"
                ng-mouseout="hoverMe($event,false)">
                            <a class="pay-icons pay-icons-wechat">微信支付</a>
                        </div>
                    </div> -->
                </div>

                <div class="price content box-content pd-top-0 lh180" ng-if="coin <= 0">
                    <span class="c607d8b f14">您的聘宝金币：<span class="cf46c62">{- coin -}</span>个，暂不能使用金币支付！</span>
                </div>
                <div class="price content box-content pd-top-0 lh180" ng-if="coin <= modeFee && coin > 0">
                    <span class="c607d8b f14">您的聘宝金币：<span class="cf46c62">{- coin -}</span>个，暂不能使用金币支付！</span>
                </div>
                <div class="price content box-content pd-top-0 lh180" ng-if="coin > modeFee">
                    <span class="c607d8b f14">您的聘宝金币：<span class="cf46c62">{- coin -}</span>个，可以使用金币支付！</span>

                </div>
                <p class="checkbox-p" ng-if="coin > modeFee">
                    <label class="agreement-line">
                        <input type="checkbox" ng-model="userCoin" required name="userCoin" id="userCoin"/>
                        使用我的金币支付，消耗金币<span class="cf46c62">{- modeFee -}</span>个，(支付成功后剩余金币：
                        <span class="cf46c62" ng-if="coin <= modeFee && coin > 0">{- modeFee - coin -}</span>
                        <span class="cf46c62" ng-if="coin > modeFee">{- coin - modeFee -}</span>
                        个)
                    </label>
                </p>

                <div class="price content box-content pd-top-0" >
                    <span class="c607d8b f14">请支付会员费用：<span class="price-focus">¥ {- modeFee -}</span>元<br>
                    <label class="agreement-error" class="invalid" style="display: none;"></label>
                </div>

                <p class="form-control align-center" >
                    <a href="javascript:void(0);" class="btn btn-welcome-submit" ng-click="paynow()">去支付</a>
                </p>

            </div><!-- main -->

