 <div class="modal fade" id="add_tag_modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加邮件标签</h4>
      </div>
      <div class="modal-body">
          标签名:
        <input id="tag_name" type="text" name="tag_name">
        <button type="button" class="btn btn-primary btn-sm" onclick="add_tag();">保存</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
