<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
    *{margin: 0;padding:0;}
</style>
<div style="background:url(http://pinbot.me/static/email_images/yx_bg.gif) left top repeat #2f363f; width:100%; padding: 60px 0; font-family:'Hiragino Sans GB', 'microsoft yahei', Helvetica, Arial, pxsans-serif;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td background="http://pinbot.me/static/email_images/yx_bg.gif" style="background:url(http://pinbot.me/static/email_images/yx_bg.gif) left top repeat #2f363f;">

                <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
                    <tr>
                        <td style="vertical-align:top">

                            <!-- head start -->
                                <table width="650" border="0" cellpadding="0" cellspacing="0" align="center"  style="margin: 0 auto;">
                                    <tr>
                                        <td bgcolor="#000000" style="padding:18px 0; background:#000000;">
                                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                                <tr>
                                                    <td><a href="http://www.pinbot.me/" target="_blank" title="聘宝 | 专业人才推荐"><img border="0" src="http://www.pinbot.me/static/beta/email/logo.png" alt="聘宝 | 专业人才推荐"></a></td>
                                                    <td style="text-align:right;font-size:12px;color:#999">聘宝 | 专业人才推荐</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            <!-- head end-->

                            <!-- content start -->
                                <table width="650" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;background:#fff;">
                                    <tr>
                                        <td>
                                            <p style="padding: 70px;padding-bottom: 15px;line-height: 35px;font-size: 16px;letter-spacing: 1px;">
                                                <span>{{ company_name }}</span>，你好！<br>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是聘宝人才顾问，我们通过网络了解到贵公司正在招聘<span style="color:#42b3e5">{{ title }}</span>的职位。聘宝是一款精确匹配企业需求，推荐优质人才的智能招聘系统。
                                            </p>
                                            <p style="padding: 20px 40px;line-height: 35px;font-size: 16px;letter-spacing: 1px;background: #f8f8f8;width: 435px;margin: 0 auto;">
                                                经过聘宝的推荐，有一位求职者对您公司的<span style="color:#42b3e5">{{ title }}</span>职位非常有意愿，您只需要点击下方链接即可查看该候选人简历<br>
                                                    <a href="{{ active_url }}" style="color:#42b3e5;display:block;width: 435px;word-break: break-all;margin: 0 auto;font-size: 14px;letter-spacing: 0;">{{ active_url }}</a>
                                            </p>
                                            <p style="width: 415px;margin: 60px auto 10px; text-align: center;">
                                                想要了解更多聘宝的信息，可通过以下方式我们：
                                            </p>
                                            <p style="text-align: center;margin-bottom: 70px;">
                                                <a href="http://www.pinbot.me" style="color:#42b3e5">聘宝官网</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;官方QQ（9580917）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信公众号（浩泊云动聘宝）
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <table width="650" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                </table>
                            <!-- content end -->

                            <!-- footer start -->
                                <table width="650" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                    <tr>
                                        <td style="padding:10px 0;">
                                            <table width="415" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                                <tr>
                                                    <td style="text-align:center;font-size:16px;color:#7d7d7d">
                                                        <p style="color:#626262;font-size:15px;padding-top:20px;">此邮件为系统邮件，请勿直接回复</p>
                                                        <p style="color:#666; font-size:16px;padding:10px 0 10px; margin:0;"><a href="http://www.pinbot.me/" style="color:#666;font-size:16px; text-decoration:none;" target="_blank" title="聘宝">关于我们</a> | <a href="http://weibo.com/u/3739464981" style="color:#666;font-size:16px;text-decoration:none;" target="_blank" title="关注聘宝">关注聘宝</a></p>
                                                        <p style="color:#666; font-size:16px; padding:0px 0 10px; margin:0;">Copyright &copy; 2013 - 2016 HopperClouds, Inc.</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            <!-- footer end-->

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

</div>
