<script>
var _hmt = _hmt || [];
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript async src='" + _bdhmProtocol + "hm.baidu.com/hm.js%3Faa94de8e59587ee7c35e18e6fdc1a8a2' type='text/javascript'%3E%3C/script%3E"));
var _bdhmProtocol2 = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript async src='" + _bdhmProtocol2 + "hm.baidu.com/h.js%3Fb0ca4aee112304177230069cec8c7515' type='text/javascript'%3E%3C/script%3E"));
</script>
