 <!--    <style>
    .menu-bg{
        position: relative;
        top: 75px;
        width: 1140px;
        height: 40px;
        margin: 0 auto;
        margin-top: -40px;
        z-index:7500;
    }
    .menu-bg-snow{
        background: url(/static/b_common/img/menu_bg_snow.png) 0px 3px no-repeat;
    }
    .logo-menu-bg-fix{
        /*margin-left:35px;*/
    }
    .menu-bg-icon{
        position: absolute;
        top: 20px;
    }
    .menu-bg-snow-boy{
        width: 54px;
        height: 68px;
        right: 310px;
        top: 25px;
        margin: 0 auto;
        margin-top: -60px;
        background: url(/static/b_common/img/menu_bg_snowboy.png) 0px 0px no-repeat;
    }
    .menu-bg-snow-1{
        width: 54px;
        height: 68px;
        right: 130px;
        top: 45px;
        margin: 0 auto;
        margin-top: -60px;
        background: url(/static/b_common/img/menu_bg_snow1.png) 0px 0px no-repeat;
    }
    .menu-bg-snow-2{
        width: 54px;
        height: 68px;
        right: 225px;
        top: 50px;
        margin: 0 auto;
        margin-top: -60px;
        background: url(/static/b_common/img/menu_bg_snow2.png) 0px 0px no-repeat;
    }
    </style>
    <div class="menu-bg menu-bg-snow">
        <div class="menu-bg-icon menu-bg-snow-boy"></div>
        <div class="menu-bg-icon menu-bg-snow-1"></div>
        <div class="menu-bg-icon menu-bg-snow-2"></div>
    </div> -->