<table cellpadding="0" cellspacing="0" border="0" width="100%" height="65">
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
    <tr>
        <td bgcolor="#fff" style="background:#fff; vertical-align:top">

            <!-- head start -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center"  style="margin: 0 auto;">
                    <tr>
                        <td bgcolor="#30373F" style="padding:10px 0;">
                            <table width="595" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                <tr>
                                    <td><a href="http://www.pinbot.me/" target="_blank" title="聘宝 | 专业人才推荐"><img border="0" src="http://pinbot.me/static/beta/email/logo.png" alt="聘宝 | 专业人才推荐"></a></td>
                                    <td style="text-align:right;font-size:12px;color:#999">聘宝 | 专业人才推荐</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            <!-- head end-->

            <!-- content start -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                    <tr>
                        <td bgcolor="#F7F7F7" style="padding:35px 0 0;background:#F7F7F7">
                            <table width="595" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                <tr>
                                    <td style="text-align:center;">
                                        <h4 style="width:141px;text-align:center;padding:20px 0; border-top:solid 1px #3498DB; border-bottom:solid 1px #3498DB;margin: 0 auto;">用户新增专属定制成功</h4>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size:14px;color:#333; padding:30px 20px 0px;">亲爱的聘宝管理员，</p>
                                        <p style="color:#666;font-size:12px;padding:10px 20px 0px; line-height:1.8em;">{{ user.first_name }}({{ user.username }}) 在 {{ feed.add_time|date:'Y-m-d H:i' }}新增定制   {{ feed.keywords }}，请点击这里<a href="http://www.pinbot.me/statis/feed_result/?username={{ user.username }}#/group/{{ feed.feed_obj_id }}"><span style="color:#f90">查看</span></a></p>
                                        <p style="color:#666;font-size:12px;padding:0px 20px; line-height:1.8">感谢您的辛勤劳动和付出，<strong style="color:#666666">祝您生活愉快！</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align:center;padding:60px 35px 70px;">
                                        <a href="http://pinbot.me" title="返回聘宝" target="_blank" style="display:inline-block;background:#2F383F;color:#fff;padding:15px 55px; font-size:12px; text-decoration:none;">返回聘宝</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            <!-- content end -->

            <!-- footer start -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                    <tr>
                        <td bgcolor="#EAEAEA" style="padding:10px 0;">
                            <table width="595" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                <tr>
                                    <td>
                                        <p style="color:#333; font-size:14px; padding:20px 0 10px;">聘宝 专业人才推荐</p>
                                        <p style="color:#666; font-size:12px; padding:0px 0 10px;">精准推荐 专属服务</p>
                                    </td>
                                    <td style="text-align:right;font-size:12px;color:#999">
                                        <p style="color:#666; font-size:14px;padding:20px 0 10px;"><a href="http://www.pinbot.me/" style="color:#666;font-size:12px; text-decoration:none;" target="_blank" title="聘宝">关于我们</a> | <a href="http://weibo.com/u/3739464981" style="color:#666;font-size:12px;text-decoration:none;" target="_blank" title="关注聘宝">关注聘宝</a></p>
                                        <p style="color:#666; font-size:12px; font-family:Verdana,arial;padding:0px 0 10px;">Copyright © 2016 HopperClouds Inc.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            <!-- footer end-->

        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="65">
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
