<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>聘宝</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://www.pinbot.me/static/alpha/styles/common.min.css" type="text/css" rel="stylesheet" />
<link href="css/single_page.min.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div class="header clearfix">
    <a href="http://www.pinbot.me/" title="聘宝 | 专业人才推荐" class="logo">聘宝 | 专业人才推荐</a>
    <span>聘宝 | 专业人才推荐</span>
</div>
<div class="banner">
    <a href="http://www.pinbot.me/signup" title="立即注册聘宝" data-bg="images/bg1.jpg"></a>
    <a href="http://www.pinbot.me/signup" title="立即注册聘宝" data-bg="images/bg2.jpg"></a>
    <a href="http://www.pinbot.me/signup" title="立即注册聘宝" data-bg="images/bg3.jpg"></a>
    <a href="http://www.pinbot.me/signup" title="立即注册聘宝" data-bg="images/bg4.jpg"></a>
    <a href="http://www.pinbot.me/signup" title="立即注册聘宝" data-bg="images/bg5.jpg"></a>
</div>
<div class="advantage">
    <img data-src="images/c1.png" src="images/blank.gif" alt="">
    <img data-src="images/c2.png" src="images/blank.gif" alt="">
    <img data-src="images/c3.png" src="images/blank.gif" alt="">
    <img data-src="images/c4.png" src="images/blank.gif" alt="">
</div>
<p class="info">
    试运营期就吸引近<span>1000</span>家互联网企业注册使用<br>
    推荐的人才平均达到<span>50%</span>面试率<br>
    高端技术人才入职成本相比行业水平降低<span>30%</span>
</p>
<div class="text-center">
    <a href="#" title="去官网看看" class="to-pinbot">去官网看看</a>
</div>
<div class="footer clearfix">
    <div class="left">
        <strong>聘宝 专业人才推荐</strong>
        精准推荐  专属服务
    </div>
    <div class="right">
        关于我们 | 关注聘宝<br>Copyright © 2016 HopperClouds Inc.
    </div>
</div>
<script src="http://www.pinbot.me/static/alpha/scripts/jq.js?20140814"></script>
<script type="text/javascript" src="js/activity.min.js"></script>
</body>
</html>