<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<style>
    *{margin: 0;padding:0;}
</style>
</head>
<body style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="65">
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
    <tr>
        <td bgcolor="#fff" style="background:#fff; vertical-align:top">

            <!-- head start -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center"  style="margin: 0 auto;">
                    <tr>
                        <td bgcolor="#30373F" style="padding:10px 0;">
                            <table width="595" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                <tr>
                                    <td><a href="http://www.pinbot.me/" target="_blank" title="聘宝 | 专业人才推荐"><img border="0" src="http://pinbot.me/static/beta/email/logo.png" alt="聘宝 | 专业人才推荐"></a></td>
                                    <td style="text-align:right;font-size:12px;color:#999">聘宝 | 专业人才推荐</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            <!-- head end-->

            <!-- content start -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                    <tr>
                        <td bgcolor="#F7F7F7" style="padding:0 0 0;background:#F7F7F7">
                            <table style="width:626px;margin:0 auto;" width="626">
                                <tr>
                                    <td>
                                        <p style="text-align:center">
                                            <img src="http://pinbot.me/static/beta/email/card_img.jpg" width="626" height="287" alt="">
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:14px;color:#2a2a2a; text-align: left; padding:20px 0; line-height:25px;">滴滴滴滴… …QQ弹出一位HR的消息：“我刚下载了4位推荐候选人的简历，兴致勃勃地给对方电话约面，要么是有其他offer了，要么是对我们产品没兴趣，还有嫌远了冬天不想早起，我这求贤若渴的心被浇的拨凉拨凉的。”这样的事儿一直摧残着勤劳善良的HR们，也困扰了聘宝许久。老用户们都知道聘宝针对未能约面是有反馈补偿的，但这样事后补救，补得了点数补不好受伤的<br><br>
                                        于是，我们痛定思痛，在反复打磨与测试后，推出了针对候选人求职意愿的深水炸弹：企业名片！<br><br>
                                        你只需花几分钟完善企业信息及职位信息，在看中心仪的候选人时选择发送企业名片，只需花费3个聘宝点数即可掌握候选人求职意愿。若对方跟你两情相悦则可进一步联系并扣除9个聘点，若对方不感兴趣，便不会再产生更多的支出。
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; border-left: solid 5px #e5e5e5; border-right: solid 5px #e5e5e5; text-align: center;">
                                        <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                            <tr>
                                                <td style="font-size:15px; color:#fc7524; text-align: center;font-weight:bold; padding:10px 0;">免费获赠点数</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; color:#2a2a2a; font-weight: bold; line-height: 25px;font-size: 14px; ">这样用心良苦的功能更新，你难道不要立即尝试吗？11月11日之前成功发送<span style="color:#fc7524">一次</span>企业名片即可获赠<span style="color:#fc7524">30</span>个聘宝点数。
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#707070; text-align: left;padding:10px 0 0; line-height:20px; font-size:12px;">如有问题，请联系我们<br>QQ:800031490</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;padding:50px 0;">
                                        <a href="http://www.pinbot.me/companycard/get/" target="_blank" style="display:inline-block;background:#4caece;color:#fff;padding:15px 55px; font-size:14px; text-decoration:none;">立即填写企业名片</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            <!-- content end -->

            <!-- footer start -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                    <tr>
                        <td bgcolor="#EAEAEA" style="padding:10px 0;">
                            <table width="595" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                <tr>
                                    <td>
                                        <p style="color:#333; font-size:14px; padding:20px 0 10px;">聘宝 专业人才推荐</p>
                                        <p style="color:#666; font-size:12px; padding:0px 0 10px;">精准推荐 专属服务</p>
                                    </td>
                                    <td style="text-align:right;font-size:12px;color:#999">
                                        <p style="color:#666; font-size:14px;padding:20px 0 10px;"><a href="http://www.pinbot.me/" style="color:#666;font-size:12px; text-decoration:none;" target="_blank" title="聘宝">关于我们</a> | <a href="http://weibo.com/u/3739464981" style="color:#666;font-size:12px;text-decoration:none;" target="_blank" title="关注聘宝">关注聘宝</a></p>
                                        <p style="color:#666; font-size:12px; font-family:Verdana,arial;padding:0px 0 10px;">Copyright © 2016 HopperClouds Inc.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            <!-- footer end-->

        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="65">
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
</body>
</html>