<!doctype html>
<html style="margin:0;padding:0">
<head style="margin:0;padding:0">
  <meta charset="utf-8" style="margin:0;padding:0">

</head>
<body style="margin:0;padding:0">

<div style="margin:0;padding:0;background:#f6f6f6;width:800px;margin:0 auto;font-family:&quot;Microsoft YaHei&quot;, Helvetica, Arial, Sans-serif">
  <div style="margin:0;padding:0;padding:20px">

    <div style="margin:0;padding:0">
      <img src="http://t1.pinbot.me/email/tuiguang/banner.png" width="760px" height="260px" alt="&#32856;&#23453;LOGO" style="margin:0;padding:0;border:none">
    </div>

    <div style="margin:0;padding:0;padding:0 70px;border-bottom:1px solid #ccc">

      <div style="margin:0;padding:0;margin:100px 0 150px">
        <h1 style="margin:0;padding:0;text-align:center">
          <img src="http://t1.pinbot.me/email/tuiguang/pinbot.png" width="244px" height="68px" alt="PINBOT" style="margin:0;padding:0;border:none">
        </h1>
        <p style="margin:0;padding:0;line-height:1.6;text-align:center;font-size:16px;margin-top:14px;padding-bottom:3px">
          你也许是第一次听说 <strong style="margin:0;padding:0">聘宝</strong>。但，
        </p>

        <ul style="margin:0;padding:0;list-style-type:none !important;margin-bottom:160px">
          <li style="margin:0;padding:0;list-style-type:none !important;margin-top:15px;font-size:18px">
            <strong style="margin:0;padding:0;font-weight:bold;margin-right:5px">聘宝</strong> 已为超过 <em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold;margin:0 5px">300</em> 家互联网公司累积推荐超 <em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold;margin:0 5px;margin:0">100000</em> 封优质人才简历。
          </li>
          <li style="margin:0;padding:0;list-style-type:none !important;margin-top:15px;font-size:18px">
            <strong style="margin:0;padding:0;font-weight:bold;margin-right:5px">聘宝</strong> 进行的每一封简历推荐，背后都是<em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold;margin:0 5px">上千</em>封简历的甄选。
          </li>
          <li style="margin:0;padding:0;list-style-type:none !important;margin-top:15px;font-size:18px">
            <strong style="margin:0;padding:0;font-weight:bold;margin-right:5px">聘宝</strong> 精确推荐的简历中，平均每 <em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold;margin:0 5px">6</em> 封简历就可能产生一名意向候选人。
          </li>
        </ul>

        <div style="margin:0;padding:0">
          <div style="margin:0;padding:0;float:left">
            <h2 style="margin:0;padding:0;font-size:22px;vertical-align:text-bottom;margin-bottom:20px"> <strong style="margin:0;padding:0;font-size:31px">聘宝</strong> <span style="margin:0;padding:0;margin:0 5px;font-weight:normal">/</span> 一款智能猎头产品，</h2>
            <p style="margin:0;padding:0;line-height:1.6;line-height:1.8;font-size:14px">
              涵盖海量人才数据，整合 <strong style="margin:0;padding:0;font-size:16px">猎头专家组</strong> 招聘经验<br style="margin:0;padding:0">
              坚持简历严选，<strong style="margin:0;padding:0;font-size:16px">千里挑一</strong><br style="margin:0;padding:0">
              通过人才订阅功能，将合适的人才推荐到你面前 <br style="margin:0;padding:0">
            </p>
          </div>
          <a href="http://www.pinbot.me/" style="margin:0;padding:0;float:right;margin-top:-30px"><img src="http://t1.pinbot.me/email/tuiguang/btn.png" alt="&#20813;&#36153;&#30003;&#35831;&#65292;&#31435;&#21363;&#20307;&#39564;" style="margin:0;padding:0;border:none"></a>
          </div>
          <div style="clear: both;margin:0;padding:0"></div>
        </div>


        <div style="margin:0;padding:0">
          <h2 style="margin:0;padding:0;text-align:center;font-size:21px;padding-bottom:40px;background:url(&quot;http://t1.pinbot.me/email/tuiguang/sep-1.png&quot;) center bottom no-repeat">听聘宝客户怎么说</h2>

          <div style="margin:0;padding:0;padding:115px 0 110px">
            <p style="margin:0;padding:0;line-height:1.6;width:204px;margin:0 auto 4px;font-size:16px;padding-left:50px"><span style="margin:0;padding:0;font-size:14px;margin-right:20px">2月24日</span><span style="margin:0;padding:0;margin-right:4px;font-weight:normal">/</span><em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold;margin-right:5px"> 京东</em>来了</p>
            <p style="margin:0;padding:0;line-height:1.6;width:204px;margin:0 auto 4px;font-size:16px;padding-left:50px"><span style="margin:0;padding:0;font-size:14px;margin-right:20px">2月21日</span><span style="margin:0;padding:0;margin-right:4px;font-weight:normal">/</span><em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold;margin-right:5px"> 天猫</em>来了</p>
            <p style="margin:0;padding:0;line-height:1.6;width:204px;margin:0 auto 4px;font-size:16px;padding-left:50px"><span style="margin:0;padding:0;font-size:14px;margin-right:20px">2月20日</span><span style="margin:0;padding:0;margin-right:4px;font-weight:normal">/</span><em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold;margin-right:5px"> GLU</em>来了</p>
            <p style="margin:0;padding:0;line-height:1.6;width:204px;margin:0 auto 4px;font-size:16px;padding-left:50px"><span style="margin:0;padding:0;font-size:14px;margin-right:20px">2月18日</span><span style="margin:0;padding:0;margin-right:4px;font-weight:normal">/</span><em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold;margin-right:5px"> 去哪儿</em>来了</p>
            <p style="margin:0;padding:0;line-height:1.6;width:204px;margin:0 auto 4px;font-size:16px;padding-left:50px"><span style="margin:0;padding:0;font-size:14px;margin-right:20px">2月17日</span><span style="margin:0;padding:0;margin-right:4px;font-weight:normal">/</span><em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold;margin-right:5px"> tap4fun</em>来了</p>
            <p style="margin:0;padding:0;line-height:1.6;width:204px;margin:0 auto 4px;font-size:16px;padding-left:50px;padding-left:180px;font-size:14px;font-weight:bold">...</p>
          </div>

          <div style="margin:0;padding:0;padding:0 45px;font-size:14px">
            <ul style="margin:0;padding:0;list-style-type:none !important">
              <li style="margin:0;padding:0;list-style-type:none !important;margin-bottom:20px;line-height:1.7">
                页面简洁舒适，尤其感觉用户体验越来越强大了，<br style="margin:0;padding:0">
                希望聘宝可以引领一个全网招聘系统的全新局面，为招聘hr谋福利。 <span style="margin:0;padding:0;margin:0 5px 0 10px">/</span><em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold">光宇游戏 </em>
              </li>
              <li style="margin:0;padding:0;list-style-type:none !important;margin-bottom:20px;line-height:1.7">
                简历自动筛选，大大提高效率，每天都离不开它! <span style="margin:0;padding:0;margin:0 5px 0 10px">/</span><em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold">粤动科技</em>
              </li>
              <li style="margin:0;padding:0;list-style-type:none !important;margin-bottom:20px;line-height:1.7">
                非常棒的一款招聘工具，模式新颖独特。 <span style="margin:0;padding:0;margin:0 5px 0 10px">/</span><em style="margin:0;padding:0;font-style:normal;color:#c33;font-weight:bold">墨龙科技 </em>
              </li>
            </ul>
          </div>
        </div>

        <div style="margin:0;padding:0;margin-top:100px">
          <h2 style="margin:0;padding:0;text-align:center;font-size:21px;padding-bottom:40px;background:url(&quot;http://t1.pinbot.me/email/tuiguang/sep-1.png&quot;) center bottom no-repeat;background:url(&quot;http://t1.pinbot.me/email/tuiguang/sep-2.png&quot;) center bottom no-repeat">谁可以成为聘宝客户</h2>
          <div style="margin:0;padding:0;padding:80px 0">
            <p style="margin:0;padding:0;line-height:1.6;text-align:center;font-size:14px;color:#666"> 现在，聘宝暂对以下地区 <strong style="margin:0;padding:0;font-size:18px;margin:0 5px;color:#333">IT互联网企业</strong> 开放 </p>
            <p style="margin:0;padding:0;line-height:1.6;text-align:center;font-size:14px;font-size:20px;padding:10px 0 20px">
              <span style="margin:0;padding:0;font-weight:bold;margin:0 10px">北京</span>
              <span style="margin:0;padding:0;font-weight:bold;margin:0 10px">上海</span>
              <span style="margin:0;padding:0;font-weight:bold;margin:0 10px">广州</span>
              <span style="margin:0;padding:0;font-weight:bold;margin:0 10px">深圳</span>
              <span style="margin:0;padding:0;font-weight:bold;margin:0 10px">成都</span>
              <span style="margin:0;padding:0;font-weight:bold;margin:0 10px">重庆</span>
              <span style="margin:0;padding:0;font-weight:bold;margin:0 10px">杭州</span>
            </p>
            <p style="margin:0;padding:0;line-height:1.6;text-align:center;font-size:14px;color:#666">
              不属于这些地区？试试分享给你这些城市的好友们 <a href="http://www.pinbot.me" style="margin:0;padding:0;color:#c33">http://pinbot.me</a>
            </p>
          </div>
        </div>

      </div>


      <div style="margin:0;padding:0;padding:50px 0">
        <p style="margin:0;padding:0;line-height:1.6;text-align:center;font-size:14px">
          <span style="margin:0;padding:0;margin:0 20px">聘宝官方QQ群：<strong style="margin:0;padding:0;font-size:16px">9580917</strong></span>
          <span style="margin:0;padding:0;margin:0 20px">新浪微博：<a href="http://weibo.com/u/3739464981" style="margin:0;padding:0;color:#111"><strong style="margin:0;padding:0;font-size:16px">@聘宝</strong></a></span>
          <span style="margin:0;padding:0;margin:0 20px">电话：<strong style="margin:0;padding:0;font-size:16px">028-83330727</strong></span>
        </p>
        <p style="margin:0;padding:0;line-height:1.6;text-align:center;font-size:14px;margin-top:20px">
          Copyright &copy; 2016 HopperClouds Inc.
        </p>
      </div>


    </div>
  </div>
</body>
</html>

