<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<style>
    *{margin: 0;padding:0;}
</style>
</head>
<body style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="65">
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
    <tr>
        <td bgcolor="#fff" style="background:#fff; vertical-align:top">

            <!-- head start -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center"  style="margin: 0 auto;">
                    <tr>
                        <td bgcolor="#30373F" style="padding:10px 0;">
                            <table width="595" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                <tr>
                                    <td><a href="http://www.pinbot.me/" target="_blank" title="聘宝 | 专业人才推荐"><img border="0" src="http://pinbot.me/static/beta/email/logo.png" alt="聘宝 | 专业人才推荐"></a></td>
                                    <td style="text-align:right;font-size:12px;color:#999">聘宝 | 专业人才推荐</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            <!-- head end-->

            <!-- content start -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                    <tr>
                        <td bgcolor="#F7F7F7" style="padding:0 0 0;background:#F7F7F7">
                            <table style="width:615px;margin:0 auto;">
                                <tr>
                                    <td>
                                        <p style="text-align:center">
                                            <img src="http://pinbot.me/static/beta/email/faster.jpg" width="626" height="239" alt="">
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:14px;color:#000; text-align: center; padding:20px 0;">| 这是一个拼“快”的时代 |</td>
                                </tr>
                                <tr>
                                    <td style="font-size:14px;color:#2a2a2a; text-align: left; padding:20px 0; line-height:20px;">手机要抢，黄金要抢，人才也要抢，谁说不是呢！<br><br>

可现实生活中总有许多无奈，抢手机网速太慢，抢黄金大妈守门，抢人才......什么，还得找销售加QQ？寒暄完了还得等合同文件？这都什么年代啦！<br><br>

产品用的爽，支付体验差，没道理！从前付款流程繁杂，为你带来不便，我们道歉！<br><br>

聘宝在线支付功能高调上线，查阅协议，支付款项，开具发票，均能够在线完成！<br><br>

前一分钟你发现了心仪的候选人，后一分钟就可以通过在线支付完成套餐购买，当别人还在反复沟通走付款流程时，你已经快人一步接触到候选人，加大了招聘成功的几率。<br><br>

这一次，掌握先机，不再错过！<br><br>

贴心提示：聘宝仍然保留传统线下支付通道，如有需要的用户请与聘宝顾问联系。
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;padding:50px 0;">
                                        <a href="http://www.pinbot.me/" title="回到聘宝" target="_blank" style="display:inline-block;background:#4caece;color:#fff;padding:15px 55px; font-size:12px; text-decoration:none;">回到聘宝</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            <!-- content end -->

            <!-- footer start -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                    <tr>
                        <td bgcolor="#EAEAEA" style="padding:10px 0;">
                            <table width="595" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;">
                                <tr>
                                    <td>
                                        <p style="color:#333; font-size:14px; padding:20px 0 10px;">聘宝 专业人才推荐</p>
                                        <p style="color:#666; font-size:12px; padding:0px 0 10px;">精准推荐 专属服务</p>
                                    </td>
                                    <td style="text-align:right;font-size:12px;color:#999">
                                        <p style="color:#666; font-size:14px;padding:20px 0 10px;"><a href="http://www.pinbot.me/" style="color:#666;font-size:12px; text-decoration:none;" target="_blank" title="聘宝">关于我们</a> | <a href="http://weibo.com/u/3739464981" style="color:#666;font-size:12px;text-decoration:none;" target="_blank" title="关注聘宝">关注聘宝</a></p>
                                        <p style="color:#666; font-size:12px; font-family:Verdana,arial;padding:0px 0 10px;">Copyright © 2016 HopperClouds Inc.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            <!-- footer end-->

        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="65">
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
</body>
</html>