/* ------- start variables -------- */
/* for test */
/* main red button */
/* sprite */
/* z-index */
/* main red button */
/* main blue button */
/* dark blue button */
/* dark white button */
/* main background color */
/* main font color */
/* main border color */
/* main font family */
/* main font size */
/* ------- start variables -------- */
/* ------- start mixins -------- */
.no-space {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.clear-both {
  clear: both;
}
.userSelectNone {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*
content-box 在宽度和高度之外绘制元素的内边距和边框
border-box 为元素设定的宽度和高度决定了元素的边框盒
*/
/*
所有主流浏览器都不支持 appearance 属性
 */
.transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.transitionTransform {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}
.modalBoxShadow {
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.btnBoxShadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1) inset;
}
/* backface-visibility 属性定义当元素不面向屏幕时是否可见。 */
/* ------- end mixins -------- */
/*index header 主页会宽一些*/
.inner-wrap {
  width: 90%;
}
#header {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
#header h1 a {
  background: url(/static/b_index/img/logo_162x48.png) no-repeat 0 0;
  background-size: contain;
}
.main-nav {
  margin-left: 100px;
}
.main-nav li {
  margin-left: 40px;
}
.main-nav li a {
  color: #fff;
  display: block;
  height: 30px;
  margin-top: 10px;
  line-height: 40px;
  padding: 0 4px;
}
.main-nav li a:hover {
  color: #fff;
}
.main-nav li a.on {
  color: #44B5E8;
  border-bottom: 1px solid #44B5E8;
}
.nav-meta {
  float: right;
  margin-top: 14px;
  position: relative;
  z-index: 7600 !important;
}
.nav-meta a {
  margin-left: 0px;
  font-size: 14px;
}
.nav-meta > a {
  padding: 0px !important;
}
.nav-meta > div > a {
  margin-left: -14px !important;
  font-size: 14px;
}
.nav-meta a:hover {
  background: #44B5E8;
}
.nav-meta > div > a:first-child:hover {
  background: transparent !important;
}
.nav-meta .btn {
  width: 48px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  color: #fff;
}
/*.nav-meta .qz {
    background: @pb-btn-dark-bule;
}
.nav-meta .signin {
    background: @pb-btn-blue;
}
.nav-meta .signup {
    background: @pb-font-main-red;
}*/
.btn-no-bg {
  background: transparent !important;
  width: 48px !important;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  color: #fff !important;
  position: relative;
  top: -6px;
  left: 0px;
}
.nav-meta .user-ctrl {
  color: #fff;
  display: inline-block;
  height: 59px;
  width: 168px;
  line-height: 61px;
  margin-top: -14px;
  margin-left: 0;
  position: relative;
}
.nav-meta .user-ctrl:hover {
  background: #607D8B;
}
.nav-meta .user-ctrl a {
  margin: 0;
  display: inline-block;
  padding: 19px 20px;
}
.nav-meta .user-ctrl .name {
  display: inline-block;
  width: 95px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 18px;
  line-height: 16px;
  color: #fff;
  font-size: 16px;
}
.nav-meta .user-ctrl .i-head-img {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(/static/b_index/img/user_b_32x32.png) no-repeat center;
  position: absolute;
  top: 10px;
  right: 16px;
}
.nav-meta .user-ctrl-menu {
  display: none;
  position: absolute;
  background: #39414a;
  padding: 0;
  width: 168px;
  top: 59px;
  left: 0;
}
.nav-meta .user-ctrl-menu li:hover {
  background: #30373f;
}
.nav-meta .user-ctrl-menu li a {
  color: #fff;
  margin-left: 0;
  display: block;
  padding: 10px 20px;
  width: inherit;
}
.nav-meta .user-ctrl-menu li a .i-circle {
  width: 8px;
  height: 8px;
  display: block;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  border-radius: 100%;
  background: #F46C62;
  position: absolute;
  top: 55px;
  left: 90px;
}
/*end of index header*/
/*slider*/
.swipe {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swipe ul {
  -webkit-transition: left 800ms ease-in 0;
  -moz-transition: left 800ms ease-in 0;
  -o-transition: left 800ms ease-in 0;
  -ms-transition: left 800ms ease-in 0;
  transition: left 800ms ease-in 0;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}
#slider img {
  width: 100%;
}
#pagenavi {
  position: absolute;
  left: 0;
  bottom: 16px;
  text-align: center;
  width: 100%;
}
#pagenavi a {
  width: 50px;
  height: 4px;
  line-height: 99em;
  background: #627d89;
  margin: 0 4px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}
#pagenavi a.active {
  background: #f86b61;
}
/*end of slider*/
/*layout*/
.layout {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.sec-title {
  text-align: center;
  margin: 70px 0;
  padding: 0px;
  line-height: 100%;
  font-size: 36px;
  color: #434343;
}
.sec-title-bg {
  background: url(/static/b_index/img/linebg.png) center 15px no-repeat;
  margin: 0px;
  position: relative;
  width: 1150px;
  top: 0px;
  left: -178px;
  overflow-y: hidden;
}
.sec-title-sub {
  font-size: 16px;
  color: #607D8B;
  margin: 0px;
  margin-top: 32px;
  margin-bottom: 44px;
  overflow-y: hidden;
}
.standard-title {
  margin: 90px 0 30px;
}
.little-title {
  margin-top: -15px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #607D8B;
  text-align: center;
}
.introduce-title {
  margin-top: 0;
}
.client-title {
  margin: 60px 0;
  position: relative;
}
#how-it-works li {
  position: relative;
  width: 100%;
  margin: 0px;
  margin-bottom: 120px;
}
/*#how-it-works li:after {
    content: "";
    border-bottom: 1px solid @pb-bg-main-light;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -140px;
}*/
/*processs*/
#how-it-works li.process {
  text-align: center;
}
#how-it-works li.process .i-gt {
  color: #CFD8DC;
  position: absolute;
  top: 50px;
  top: 30px \9\0;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('/static/b_index/img/jiantou_50x50.png') no-repeat center center;
  left: 0;
}
#how-it-works li.process .i-gt-1 {
  left: 240px;
}
#how-it-works li.process .i-gt-2 {
  left: 550px;
}
#how-it-works li.process .circle {
  display: inline-block;
  width: 150px;
  height: 120px;
  background: transparent;
  z-index: 200;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  margin-left: 150px;
  cursor: default;
}
#how-it-works li.process .circle:first-child {
  margin-left: 0;
}
#how-it-works li.process .description {
  position: absolute;
  color: #AAA;
  width: 170%;
  left: -58px;
  left: -48px \9\0;
  font-size: 18px;
  bottom: -85px;
}
#how-it-works li.process .description-title {
  font-size: 22px;
  bottom: -50px;
  color: #434343;
}
#how-it-works li.process .inner {
  display: inline-block;
  -webkit-perspective: 100px;
  -moz-perspective: 100px;
  -ms-perspective: 100px;
  perspective: 100px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0;
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0;
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0;
}
#how-it-works li.process .front {
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
  overflow: hidden;
  position: absolute;
  left: -65px;
  left: 20px \9\0;
  top: 0;
  width: 104px;
  height: 104px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  border-radius: 100%;
}
#how-it-works li.process .a1 .front {
  background: url('/static/b_index/img/1.png') 0 -65px no-repeat;
  border: 7px solid #daf3fe;
}
#how-it-works li.process .a2 .front {
  background: url('/static/b_index/img/2.png') 0 -65px no-repeat;
  border: 7px solid #dde7eb;
}
#how-it-works li.process .a3 .front {
  background: url('/static/b_index/img/3.png') 0 -65px no-repeat;
  border: 7px solid #fee2e0;
}
#how-it-works li.process .i-img {
  -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0;
  -moz-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0;
  -o-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0;
  position: absolute;
  left: 52%;
  top: 50%;
  display: inline-block;
  width: 54px;
  height: 54px;
  margin: -27px 0 0 -27px;
}
#how-it-works li.process .a1 .i-img {
  background: url('/static/b_index/img/user_50x50.png') no-repeat left top;
}
#how-it-works li.process .a2 .i-img {
  background: url('/static/b_index/img/pen_50x50.png') no-repeat left top;
}
#how-it-works li.process .a3 .i-img {
  background: url('/static/b_index/img/pay_50x50.png') no-repeat left top;
}
/*end of process*/
/*price-standard*/
#how-it-works li.price-standard:after {
  bottom: -80px;
}
#how-it-works li.price-standard ul {
  overflow: hidden;
  text-align: center;
}
#how-it-works li.price-standard li {
  display: inline-block;
  width: 184px;
  margin: 0;
  border: 1px solid #d2d7db;
  margin-left: 16px;
  height: 200px;
}
#how-it-works li.price-standard li:after {
  content: "";
  display: block;
  position: absolute;
  height: 38px;
  border: 0;
  top: -38px;
  left: -1px;
  width: 186px;
}
#how-it-works li.price-standard li.price1 {
  border-top: 38px solid #cfd9db;
}
#how-it-works li.price-standard li.price2 {
  border-top: 38px solid #9fb0b8;
}
#how-it-works li.price-standard li.price3 {
  border-top: 38px solid #7c94a0;
}
#how-it-works li.price-standard li.price4 {
  border-top: 38px solid #607D8B;
}
#how-it-works li.price-standard li.price1:after {
  background: #cfd9db;
}
#how-it-works li.price-standard li.price2:after {
  background: #9fb0b8;
}
#how-it-works li.price-standard li.price3:after {
  background: #7c94a0;
}
#how-it-works li.price-standard li.price4:after {
  background: #607D8B;
}
#how-it-works li.price-standard li span {
  color: #617d8a;
  font-size: 16px;
  display: block;
  text-align: left;
  padding: 30px 20px 10px;
  line-height: 2;
}
#how-it-works li.price-standard li span.price {
  font-size: 24px;
  padding: 0;
  text-align: center;
}
#how-it-works li.price-standard li span.price .cf46c62 {
  color: #f46c62;
  font-size: 24px;
  display: inline-block;
  padding: 0;
}
/*end of price-standard*/
/*introduce*/
#how-it-works li.introduce {
  margin-bottom: 0
;
  padding-top: 0px;
  width: 100%;
}
#how-it-works li.introduce:after {
  bottom: 0;
}
#how-it-works li.introduce li {
  margin-bottom: 0;
  overflow: hidden;
  min-height: 195px;
}
#how-it-works li.introduce li:after {
  content: "";
  border: 0;
}
#how-it-works li.introduce li .words {
  width: 500px;
  margin-top: 0px;
}
/*#how-it-works li.introduce li .w1 {
    width: 45%;
}
#how-it-works li.introduce li .w2 {
    width: 54%;
}
#how-it-works li.introduce li .w3 {
    width: 45%;
}
#how-it-works li.introduce li .w4 {
    width: 46%;
}
#how-it-works li.introduce li .w5 {
    width: 49%;
}
#how-it-works li.introduce li .w6 {
    width: 49%;
}*/
#how-it-works li.introduce li .words h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #44B5E8;
  font-weight: normal;
  line-height: 100% !important;
}
#how-it-works li.introduce li .words p {
  color: #5e7c8b;
  line-height: 150%;
  font-weight: normal;
  font-size: 16px;
}
#how-it-works li.introduce li .words p a {
  color: #45b5e8;
  text-decoration: underline;
}
#how-it-works li.introduce li .words p a:hover {
  color: #F46C62;
  text-decoration: none;
}
#how-it-works li.introduce li .words p.tips {
  background: #ecf1f4;
  color: #5d7d8b;
  padding: 5px 20px;
  margin-top: 10px;
  position: absolute;
  font-size: 16px;
  display: none;
  left: 133px;
  line-height: 1.5;
}
#how-it-works li.introduce li .words p.tips:before {
  content: '';
  height: 10px;
  width: 10px;
  display: block;
  border: 1px solid #ecf1f4;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  position: absolute;
  top: -6px;
  left: 22px;
  background: #ecf1f4;
}
#how-it-works li.introduce li .words p.tips a {
  color: #f46c62;
  border-bottom: 1px solid #f46c62;
}
#how-it-works li.introduce li .words p .tips-a {
  color: #44B5E8;
  border-bottom: 1px solid #44B5E8;
}
/*end of introduce*/
/*comment*/
.client-title:before,
.client-title:after {
  content: "";
  display: block;
  width: 28px;
  height: 26px;
  background: url(/static/b_index/img/quotes1_28x26.png) no-repeat center;
  position: absolute;
  left: 10%;
  top: 95px;
  z-index: 2;
}
.client-title:after {
  background: url(/static/b_index/img/quotes2_28x26.png) no-repeat center;
  left: 88%;
}
#comment {
  position: relative;
  overflow: hidden;
}
#comment li {
  text-align: center;
  color: #434343;
  font-size: 16px;
  margin-bottom: 60px;
}
#comment li:after {
  content: "";
  border: 0;
}
#comment li p {
  display: inline-block;
  vertical-align: middle;
}
#comment li p.quote {
  max-width: 550px;
  text-align: left;
}
#comment li p.from {
  margin-right: -4px;
}
/*end of comment*/
/*clients*/
#how-it-works .clients {
  width: 750px;
  height: 234px;
  margin: 0 auto 150px;
  text-align: center;
  position: relative;
}
#how-it-works .clients li {
  margin-bottom: 0;
  width: 180px;
  height: 64px;
  display: inline-block;
  padding: 10px 0;
  position: relative;
}
#how-it-works .clients li:after {
  content: "";
  border: 0;
}
#how-it-works .clients .c1 {
  background: url(/static/b_index/img/zaker.jpg) no-repeat center;
}
#how-it-works .clients .c2 {
  background: url(/static/b_index/img/yidao.jpg) no-repeat center;
}
#how-it-works .clients .c3 {
  background: url(/static/b_index/img/TW.jpg) no-repeat center;
}
#how-it-works .clients .c4 {
  background: url(/static/b_index/img/uber.jpg) no-repeat center;
}
#how-it-works .clients .c5 {
  background: url(/static/b_index/img/momo.jpg) no-repeat center;
}
#how-it-works .clients .c6 {
  background: url(/static/b_index/img/kuwo.jpg) no-repeat center;
}
#how-it-works .clients .c7 {
  background: url(/static/b_index/img/jinritoutiao.jpg) no-repeat center;
}
#how-it-works .clients .c8 {
  background: url(/static/b_index/img/glu.jpg) no-repeat center;
}
#how-it-works .clients .c9 {
  background: url(/static/b_index/img/bilibili.jpg) no-repeat center;
}
#how-it-works .clients .c10 {
  background: url(/static/b_index/img/camera360.jpg) no-repeat center;
}
#how-it-works .clients .c11 {
  background: url(/static/b_index/img/36kr.jpg) no-repeat center;
}
#how-it-works .clients .c12 {
  background: url(/static/b_index/img/qiniu.jpg) no-repeat center;
}
#how-it-works .clients .line {
  position: absolute;
  display: block;
  background: #ddd;
  padding: 0;
}
#how-it-works .clients .row-line {
  width: 750px;
  height: 1px;
}
#how-it-works .clients .col-line {
  width: 1px;
  height: 234px;
  top: 15px;
}
#how-it-works .clients .row-line-1 {
  top: 90px;
}
#how-it-works .clients .row-line-2 {
  bottom: 60px;
}
#how-it-works .clients .col-line-1 {
  left: 195px;
}
#how-it-works .clients .col-line-2 {
  left: 375px;
}
#how-it-works .clients .col-line-3 {
  left: 560px;
}
/*end of clients*/
/*end of layout*/
/*footer*/
#footer {
  background: #30373f;
  padding: 18px 0 15px;
  width: 100%;
}
#footer .about-us {
  display: none;
}
#footer .about {
  float: left;
}
#footer .about .copyright {
  font-size: 12px;
  color: #666;
  line-height: 28px;
  white-space: nowrap !important;
}
#footer .contact {
  float: right;
  margin-top: -77px;
}
#footer .contact li {
  display: inline;
  margin-left: 20px;
}
#footer .contact li a {
  color: #ccc;
  text-decoration: none;
  margin-left: 6px;
  font-size: 13px;
}
#footer .contact li a:hover {
  color: #eee;
}
#footer.footer-index {
  padding: 50px 0;
}
#footer.footer-index .f-links h2 {
  color: #eee;
  font-size: 16px;
}
#footer.footer-index .f-links ul {
  margin: 15px 0;
  position: relative;
  left: -10px;
}
#footer.footer-index .f-links ul li {
  display: inline-block;
  padding-bottom: 5px;
}
#footer.footer-index .f-links ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 13px;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}
#footer.footer-index .f-links ul li a:hover {
  text-decoration: underline;
}
#footer.footer-index .f-links ul li a.first {
  padding-left: 0;
}
#footer.footer-index .f-links ul li a.last {
  border-right: 0;
}
#footer.footer-index .about {
  width: 40%;
}
#footer.footer-index .about-us {
  display: block;
  color: #ccc;
  font-size: 13px;
}
#footer.footer-index .about-us h2 {
  color: #eee;
  font-size: 16px;
}
#footer.footer-index .about-us p {
  line-height: 1.5;
  margin: 15px 0;
}
#footer.footer-index .contact li {
  display: block;
  margin-bottom: 14px;
}
.placeholder {
  display: inline-block;
  width: 28px;
  height: 28px;
  vertical-align: middle;
}
.ic {
  background: url(/static/b_index/img/footer-contact.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.ic-tel {
  background-position: -10px -7px;
  width: 28px;
  height: 28px;
}
.ic-mail {
  background-position: -46px -7px;
  width: 28px;
  height: 28px;
}
.ic-weibo {
  background-position: -82px -7px;
  width: 28px;
  height: 28px;
}
.ic-weixin {
  background: url(/static/b_index/img/wechat_28x28.png) no-repeat center;
  width: 28px;
  height: 28px;
}
.weixin a {
  position: relative;
}
.weixin a:before {
  content: '';
  height: 0;
  width: 0;
  display: none;
  border: 10px transparent solid;
  border-bottom-width: 0;
  border-top-color: #607D8B;
  position: absolute;
  top: -15px;
  left: 56px;
}
.weixin a img {
  display: none;
  width: 180px;
  position: absolute;
  top: -205px;
  left: -30px;
  border: 5px solid #607D8B;
}
.weixin a.zp:hover img {
  display: inline-block;
}
.weixin a.zp:hover:before {
  display: block;
}
.weixin a.qz:hover img {
  display: inline-block;
}
.weixin a.qz:hover:before {
  display: block;
}
/*end of footer*/
.cf56c62 {
  color: #f56c62;
}
/* start new home 0912 */
.banner {
  /*height:267px;
    overflow-y:hidden;*/
}
.layout-new {
  overflow: visible !important;
  width: 794px !important;
}
.layout-new #comment-box {
  width: 794px !important;
  height: 48px !important;
  overflow: hidden !important;
  margin: 0 auto;
}
#how-it-works li.introduce li > span {
  display: block;
  width: 284px !important;
  height: 195px !important;
}
#how-it-works li.introduce li > span.robot {
  background: url(/static/b_index/img/pinbot_new_index.png) 0 0 no-repeat;
}
#how-it-works li.introduce li > span.shakehands {
  background: url(/static/b_index/img/pinbot_new_index.png) -284px 0 no-repeat;
}
#how-it-works li.introduce li > span.talk {
  background: url(/static/b_index/img/pinbot_new_index.png) -568px 0 no-repeat;
}
.sec-title-mg-tb-70 {
  margin: 70px 0px !important;
}
i.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ffd254;
  vertical-align: middle;
  margin-right: 22px;
  border-radius: 100%;
  text-indent: -99999px;
  position: relative;
  top: -2px;
  left: 0px;
}
.user-mode-intro {
  display: block;
  width: 100%;
  /*min-width: 1150px !important;*/
  height: 366px;
  overflow: hidden;
  margin-bottom: 44px;
}
.user-mode-intro > li {
  width: 50% !important;
  height: 366px;
  color: #fff;
  list-style: none;
  float: left;
  margin-bottom: 0px !important;
}
.user-mode-intro > li > div.intro-box {
  margin: 0 auto;
  font-size: 16px;
}
.user-mode-intro > li > div > span {
  display: block;
}
.user-mode-intro > li > div.intro-box-diy {
  width: 305px;
}
.user-mode-intro > li > div.intro-box-noworry {
  width: 190px;
}
.user-mode-intro > li > div > span.intro-title {
  font-size: 24px;
  text-align: center;
  margin: 0px;
  margin-bottom: 48px;
  margin-top: 44px;
  position: relative;
  top: 0px;
  left: 0px;
}
.user-mode-intro > li > div > a {
  display: block;
  width: 100%;
  font-size: 16px;
}
.user-mode-intro > li > div > a.btn {
  display: block;
  width: 240px;
  height: 46px;
  font-size: 16px;
  color: #fff !important;
  margin: 0 auto;
  text-align: center;
  line-height: 46px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.user-mode-intro > li > div > a.btn-blue {
  background-color: #44B5E8;
}
.user-mode-intro > li > div > a.btn-red {
  background-color: #ef5646;
}
.user-mode-intro > li > div > span.intro-desc {
  line-height: 220%;
}
.user-mode-intro span.intro-annotation {
  display: block;
  text-align: center;
  font-size: 14px !important;
}
.user-mode-diy {
  background-color: #607D8B;
}
.user-mode-noworry {
  background-color: #607D8B;
}
.user-mode-intro span.underline {
  text-decoration: underline;
}
.hilight-intro {
  width: 980px;
  margin-top: 60px;
  height: 174px !important;
  overflow-y: hidden !important;
}
.hilight-intro .intro-icon {
  width: 150px;
  height: 150px;
  float: left;
}
.hilight-intro .intro-icon.left {
  background: url(/static/b_index/img/pinbot_new_index.png) -2px -195px no-repeat;
}
.hilight-intro .intro-icon.right {
  background: url(/static/b_index/img/pinbot_new_index.png) -287px -195px no-repeat;
}
.hilight-intro .intro-box-hilight {
  float: left;
  margin-left: 35px !important;
  width: 225px;
}
.left-fix .intro-icon {
  float: right !important;
}
.left-fix .intro-box-hilight {
  float: right !important;
  margin-right: 80px !important;
}
.hilight-intro > li > div > span.intro-title {
  color: #44B5E8 !important;
}
.hilight-intro > li > div > span.intro-desc {
  color: #607D8B !important;
  font-size: 14px !important;
  line-height: 150% !important;
}
.hilight-intro > li > div > span.intro-title {
  font-size: 24px;
  text-align: left;
  margin: 0px;
  margin-bottom: 20px !important;
  margin-top: 10px !important;
  position: relative;
  top: 0px;
  left: 0px;
}
.hilight-intro > li > div > span.intro-title-fix {
  margin-top: 10px !important;
}
.full-div {
  position: absolute;
  left: 0px;
  margin: 0px 0px;
  width: 100%;
  height: 358px;
  overflow: hidden;
  padding: 0px;
}
.mg-top-330 {
  margin-top: 444px;
}
.faq {
  position: absolute;
  left: 0px;
  margin: 70px 0px;
  width: 100%;
  height: 214px;
  overflow: hidden;
  background-color: #607D8B;
  padding: 0px;
  padding-top: 70px;
  padding-bottom: 0px;
  min-width: 1198px;
}
.faq > div:first-child {
  margin-top: -30px;
}
.bottom-line {
  height: 1px;
  border: 0px;
  border-bottom: 1px solid #CFD8DC !important;
  display: block;
  position: relative;
  width: 100%;
  top: 10px;
  left: 0px;
  margin-top: 414px;
}
.faq .fullwidth .faq-box {
  width: 50%;
  height: 100%;
  float: left;
}
.faq-box ul li.faq-info {
  width: 380px !important;
  height: 100%;
  font-size: 16px;
  color: #CFD8DC;
  float: left;
}
.faq-left ul li.faq-info {
  float: right;
  margin-right: 80px !important;
}
.faq-right ul li.faq-info {
  float: left;
}
p.question,
p.answer {
  line-height: 220% !important;
}
.faq-box ul li.faq-info .question {
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}
.faq-box ul li > p > span {
  color: #ffd76d;
  font-size: 22px;
  letter-spacing: 4px;
  display: inline-block;
  margin-right: 4px;
}
.faq-container {
  width: 80%;
  min-width: 1120px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  top: 0px;
  left: 20px;
}
/*.faq:before{
    content:"";
    display:block;
    width:40px !important;
    height:70px !important;
    z-index:9999px !important;
    background: url(/static/b_index/img/pinbot_new_index.png) 0px -345px no-repeat;
    cursor:pointer;
    position:relative;
    top:30px;
    left:60px;
    float:left;
}
.faq:after{
    content:"";
    display:block;
    width:40px !important;
    height:70px !important;
    z-index:9999px !important;
    background: url(/static/b_index/img/pinbot_new_index.png) -284px -345px no-repeat;
    cursor:pointer;
    position:relative;
    top:-365px;
    left:-60px;
    float:right;
}*/
.user-mode-diy > div {
  position: relative;
  top: 0px;
  left: 40px !important;
}
.user-mode-noworry > div {
  position: relative;
  top: 0px;
  left: -40px !important;
}
.slider-arrows {
  width: 100%;
  height: 70px;
  overflow: hidden;
  margin: 0px !important;
  position: absolute;
  top: 110px;
  left: 0px;
  z-index: 100 !important;
}
.slider-arrows .prev-page {
  display: inline-block;
  width: 40px !important;
  height: 70px !important;
  overflow: hidden;
  background: url(/static/b_index/img/pinbot_new_index.png) 0px -345px no-repeat;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 80px;
  float: left;
}
.slider-arrows .next-page {
  display: inline-block;
  width: 40px !important;
  height: 70px !important;
  overflow: hidden;
  background: url(/static/b_index/img/pinbot_new_index.png) -284px -345px no-repeat;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: -80px;
  float: right;
}
/* end new home 0912 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10 rule sets go here */
  #how-it-works li.process .front {
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
    -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
    -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
    overflow: hidden;
    position: absolute;
    left: -45px !important;
    top: 0;
    width: 104px;
    height: 104px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    border-radius: 100%;
  }
}
/*ipad竖屏*/
@media (min-width: 760px) and (max-width: 1023px) {
  .inner-wrap {
    width: 80%;
  }
  .nav-meta .user-ctrl {
    height: 61px;
  }
  .nav-meta .user-ctrl a {
    padding: 20px;
  }
  .nav-meta .user-ctrl-menu {
    top: 61px;
  }
  .layout {
    width: 95%;
    padding: 0;
  }
  .sec-title {
    font-size: 28px;
  }
  #how-it-works li {
    width: 100%;
  }
  #how-it-works li.process .circle {
    width: 120px;
  }
  #how-it-works li.process .description {
    width: 120%;
    left: 9px;
    bottom: -105px;
    text-align: left;
    margin-left: -25px;
    line-height: 1.2;
  }
  #how-it-works li.process .description-title {
    margin-left: 0;
    bottom: -50px;
  }
  #how-it-works li.process .i-gt-1 {
    left: 27%;
  }
  #how-it-works li.process .i-gt-2 {
    left: 65%;
  }
  #how-it-works li.price-standard li {
    width: 174px;
    margin-left: 3px;
  }
  #how-it-works li.price-standard li:after {
    width: 176px;
  }
  #how-it-works li.introduce li .words p {
    font-size: 16px;
  }
  #how-it-works li.introduce li .words p.tips {
    left: 25%;
  }
  #how-it-works li.introduce li .words h3 {
    font-size: 28px;
  }
  .client-title:after {
    left: 85%;
  }
  #comment li p.quote {
    max-width: 310px;
  }
  #footer.footer-index .f-links ul li {
    margin-left: -4px;
  }
  #footer.footer-index .f-links ul li:first-child {
    margin-left: 0;
  }
  #footer.footer-index .f-links ul li a {
    padding: 0 5px;
  }
  #footer .contact li a {
    margin-left: 2px;
  }
}
