{% extends 'base_crm.html' %}
{% load compress %}
{% load endless %}
{% load candidate_tags %}

{% block sidebar %}
{% include 'sidebar.html' with company_active="active" company_sub_active="active" %}
{% endblock %}
{% block content %}


<form action="." method="get" q_args_json="{{ q_args_json }}" id="search_form">
    <div class="box box-solid">
        <div class="row box-body">
            <div class="col-xs-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="keywords" placeholder="按照公司名或者是账号搜索" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-flat" type="submit" >搜索</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-solid">
        <div class="box-body">
            <div class="row">
                <div class="form-inline">
                    <div class="col-xs-10">
                        <div class="form-group">
                            <label for="exampleInputEmail3">管理员</label>
                            <select id="select_admin" class="form-control select2" name="admin_id">
                                <option value="-1">不限</option>
                                {% for admin in admin_list %}
                                    <option value="{{ admin.id }}">{{ admin.username }}</option>
                                {% endfor%}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">确定</button>
                        <button type="button" class="btn btn-default" id="clear_query_btn">清空</button>
                    </div>
                </div>
                <div class="col-xs-2">
                    <a href="#" data-toggle="modal" class="btn btn-success" data-target="#exportModal">导出数据</a>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                {% paginate 20 paginate_query %}
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th>公司名称</th>
                            <th>帐号</th>
                            <th>电话</th>
                            <th>注册时间</th>
                            <th>公司职位</th>
                            <th>下载</th>
                            <th>活跃情况</th>
                            <th>分配管理员</th>
                            <th>用户档案</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in company_list %}
                        <tr class="number-{{ candidate.user.id }}">
                            <td><a href="{% url 'crm-company-detail' company.user.id %}">{{ company.company_name }}</a></td>
                            <td>{{ company.user.username }}</td>
                            <td>{{ company.phone }}</td>
                            <td>{{ company.user.date_joined|date:'Y-m-d H:i' }}</td>
                            <td>{{ company.job_count }}</td>
                            <td>
                                <a href="{% url 'crm-company-detail' company.user.id %}#tab_uncontact">
                                    {{ company.download_count }}
                                </a>
                            </td>
                            <td>{% if company.active_count %}活跃({{ company.active_count }}个活跃定制){% endif %}</td>
                            <td>
                                {{ company.user.crm_client_info.admin.username }} <br>
                                <a href="#" data-toggle="modal" data-target="#assignModal" data-client_id="{{ company.user.id }}" data-obj_id="{{ company.user.crm_client_info.id }}">分配</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="#" data-toggle="modal" class="cancel_assign" data-client_id="{{ company.user.id }}">取消分配</a>
                            </td>
                            <td><a href="{% url 'crm-company-archives' %}?keywords=&admin_id=-1&user_id={{ company.user.id }}">点击查看</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                {% get_pages %}
                {{ pages }}
            </div>
        </div>
    </div>
</div>

{% include "company/modal/export.html" %}
{% include "company/assign_modal.html" %}

{% endblock %}

{% block footer %}
<script src="{{ STATIC_URL }}crm/company/moment.min.js"></script>
{% compress js %}
<script src="{{ STATIC_URL }}crm/company/daterangepicker.js"></script>
<script src="{{ STATIC_URL }}crm/company/list.js"></script>
<script>$('#reservation').daterangepicker();</script>
{% endcompress %}
{% endblock %}
