<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <title>甜橙金融</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="renderer" content="webkit">
<script>
var doc = document.documentElement;
var ua = navigator.userAgent.replace(/[^0-9a-z,; _\(\)\/\.\-]/ig,"");
doc.setAttribute('data-useragent', ua);

</script>

<link href="/static/b_common/css/common.css" type="text/css" rel="stylesheet" />
<link href="/static/activity/orange_financial/Newfarming.css?20150302" type="text/css" rel="stylesheet" />

<style>
.container{
    width:80%;
    margin: 0 auto;*/
    /*background: #fff;*/
}
.transparent{
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    zoom: 1;
}
.loading{
    display: block;
    width: 100%;
    padding: 200px 0px;
    background-color: #fff;
}
.loading > div{
    display: block;
    padding-top: 105px;
    width: 185px;
    height: 70px;
    text-align: center;
    background: url(/static/partner/images/loading.gif) center center no-repeat;
    background-color: #fff;
}
.box-height{
    height: 0px;
}
</style>
<link href="/static/activity/orange_financial/orange_top.css" type="text/css" rel="stylesheet" />
</head>
<body >

<!--[if lt IE 8]>
    <script>alert('您的浏览器版本过低，请升级！')</script>
    <p class="browserupgrade">您的浏览器版本<strong>过低</strong>，请<a rel="nofollow" href="http://browsehappy.com/">升级</a>！</p>
<![endif]-->
<!-- <div class="bg bg-1">
    <div class="container loading box-height"><div>页面装载中...请稍后！</div></div>
    <div class="container">
        <div class="transparent box-height">
            <div class="transparent box-height">Welcome</div>
        </div>


</div> -->
    <div class="orange-header">
        <div class="orange-container orange-header-banner">
            <div class="orange-logo">
                <div class="orange-orange-bg">3月12日</div>
            </div>
        </div>
    </div>
    <div class="orange-introduction">
        <h1>上海专场招聘会</h1>
        <p class="padding">中国电信全力打造的兼具金融、电信、互联网文化的跨界国家高新技术企业</p>
        <p>支付＋通信＋理财 的差异化商业模式</p>
        <p class="pt10"><strong>10</strong>大事业群&nbsp;&nbsp;&nbsp;&nbsp;<strong>14</strong>个部门&nbsp;&nbsp;&nbsp;&nbsp;<strong>34</strong>种岗位</p>
        <div class="orange-arrow">
            <p>蓄势待发</p>
        </div>
    </div>
    <div class="orange-welfare">
        <div class="container welfare-container">
            <div class="welfare-bg"></div>
            <div class="welfare-word-box">
                <h3><strong>全方位的福利</strong>才配得上青春又多金的团队</h3>
                <p>工资弹性涨幅 正式编制</p>
                <p class="padding-bottom">常见的五险一金升级为豪华八险二金</p>
                <p>寒冬酷暑我们有</p>
                <p class="cff770a">防暑降温补贴</p>
                <p>发展兴趣爱好有</p>
                <p class="cff770a">工间体操、健身基金、终端补贴、书报补贴社团活动</p>
                <p>关怀身体健康有</p>
                <p class="cff770a">年度体检、特殊医疗补贴、空气净化器、住院慰问金、防御疫苗注射</p>
                <p class="padding-top">甚至<br><strong class="cff770a">提供员工宿舍</strong>，公司承担一半房租，直接<strong class="cff770a">拎包入住！</strong></p>
            </div>
        </div>
    </div>
    <div class="orange-company-introduction">
        <h2>光环围绕的<strong>甜橙金融</strong></h2>
        <p>国家金卡工程优秀成果金蚂蚁奖/优秀成果奖<br>“金贝壳奖”最具行业影响力品牌<br>网民最信赖支付品牌<br>互联网金融最具价值企业支付创新奖<br>亚洲最权威“光芒体验大奖”理财购物类铜奖<br>“互联网+”创新应用奖、创新平台奖<br>中国年度最具发展潜力雇主奖</p>
        <p class="hero"><i></i><strong>英雄</strong>，时代的巨轮等待你的推动，互联网金融的琼浆只有亲自饮过才知道美妙！</p>
    </div>
    <div>
        <div class="outer bg1"><ul class="ban-container orange-style clearfix">
            <li><div class="ban-container-out first-li"><div class="inner-class-style"><p>产品类</p></div></div></li>
            <li>
                <div class="ban-container-out a1">
                    <div class="inner-class-style">
                        <div class="inner-top">翼支付无线事业群</div>
                        <p class="working-job">产品经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out a2">
                    <div class="inner-class-style">
                        <div class="inner-top">数据与清算部</div>
                        <p class="working-job">大数据产品经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out a3">
                    <div class="inner-class-style">
                        <div class="inner-top">保险业务事业群</div>
                        <p class="working-job">产品经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out a4">
                    <div class="inner-class-style">
                        <div class="inner-top">财富管理事业部</div>
                        <p class="working-job-1">互联网金融理财产品/项目经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out a5">
                    <div class="inner-class-style">
                        <div class="inner-top">产品创新部</div>
                        <p class="working-job">产品经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out a6">
                    <div class="inner-class-style">
                        <div class="inner-top">征信公司</div>
                        <p class="working-job">产品经理</p>
                    </div>
                </div>
            </li>
        </ul></div>
        <div class="outer bg2"><ul class="ban-container halfblack-style clearfix">
            <li><div class="ban-container-out first-li"><div class="inner-class-style"><p>研发设计类</p></div></div></li>
            <li>
                <div class="ban-container-out b1">
                    <div class="inner-class-style">
                        <div class="inner-top">O2O事业群</div>
                        <p class="working-job">HTML5前端工程师</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out b2">
                    <div class="inner-class-style">
                        <div class="inner-top">翼支付无线事业群</div>
                        <p class="working-job">项目管理经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out b3">
                    <div class="inner-class-style">
                        <div class="inner-top">征信公司</div>
                        <p class="working-job">数据挖掘工程师/专家</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out b4">
                    <div class="inner-class-style">
                        <div class="inner-top">征信公司</div>
                        <p class="working-job">数据挖掘工程师</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out b5">
                    <div class="inner-class-style">
                        <div class="inner-top">O2O事业群</div>
                        <p class="working-job">UI设计师</p>
                    </div>
                </div>
            </li>
        </ul></div>
        <div class="outer bg3"><ul class="ban-container pink-style clearfix">
            <li><div class="ban-container-out first-li"><div class="inner-class-style"><p>市场运营类</p></div></div></li>
            <li>
                <div class="ban-container-out c1">
                    <div class="inner-class-style">
                        <div class="inner-top">财富管理事业部</div>
                        <p class="working-job">营销宣传</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out c2">
                    <div class="inner-class-style">
                        <div class="inner-top">战略客户事业群</div>
                        <p class="working-job">市场经理(销售)</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out c3">
                    <div class="inner-class-style">
                        <div class="inner-top">征信公司</div>
                        <p class="working-job">市场合作经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out c4">
                    <div class="inner-class-style">
                        <div class="inner-top">O2O事业群</div>
                        <p class="working-job">运营经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out c5">
                    <div class="inner-class-style">
                        <div class="inner-top">产品创新部</div>
                        <p class="working-job">银行合作产品及运营</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out c6">
                    <div class="inner-class-style">
                        <div class="inner-top">保险业务事业群</div>
                        <p class="working-job">市场合作拓展</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out c7">
                    <div class="inner-class-style">
                        <div class="inner-top">保险业务事业群</div>
                        <p class="working-job">产品运营</p>
                    </div>
                </div>
            </li>
        </ul></div>
        <div class="outer bg4"><ul class="ban-container blue-style clearfix">
            <li><div class="ban-container-out first-li"><div class="inner-class-style"><p>拓展销售类</p></div></div></li>
            <li>
                <div class="ban-container-out d1">
                    <div class="inner-class-style">
                        <div class="inner-top">O2O事业群</div>
                        <p class="working-job">拓展经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out d2">
                    <div class="inner-class-style">
                        <div class="inner-top">O2O事业群</div>
                        <p class="working-job">O2O行业拓展经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out d3">
                    <div class="inner-class-style">
                        <div class="inner-top">电子货币事业群</div>
                        <p class="working-job-1">行业积分合作渠道拓展经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out d4">
                    <div class="inner-class-style">
                        <div class="inner-top">保险业务事业群</div>
                        <p class="working-job">拓展经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out d5">
                    <div class="inner-class-style">
                        <div class="inner-top">保险业务事业群</div>
                        <p class="working-job">产品营销</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out d6">
                    <div class="inner-class-style">
                        <div class="inner-top">电子货币事业群</div>
                        <p class="working-job">流量经营直销经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out d7">
                    <div class="inner-class-style">
                        <div class="inner-top">翼支付无线事业群</div>
                        <p class="working-job">商户拓展经理</p>
                    </div>
                </div>
            </li>
        </ul></div>
        <div class="outer bg5"><ul class="ban-container red-style clearfix">
            <li><div class="ban-container-out first-li"><div class="inner-class-style"><p>行政类</p></div></div></li>
            <li>
                <div class="ban-container-out e1">
                    <div class="inner-class-style">
                        <div class="inner-top">综合部</div>
                        <p class="working-job">法律监管</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out e2">
                    <div class="inner-class-style">
                        <div class="inner-top">人力资源部</div>
                        <p class="working-job">人力资源经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out e3">
                    <div class="inner-class-style">
                        <div class="inner-top">财务资金部</div>
                        <p class="working-job">税务管理经理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out e4">
                    <div class="inner-class-style">
                        <div class="inner-top">财务资金部</div>
                        <p class="working-job">数据稽核</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out e5">
                    <div class="inner-class-style">
                        <div class="inner-top">财务资金部</div>
                        <p class="working-job">税务管理</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out e6">
                    <div class="inner-class-style">
                        <div class="inner-top">财务资金部</div>
                        <p class="working-job">综合财物</p>
                    </div>
                </div>
            </li>
        </ul></div>
        <div class="outer bg6"><ul class="ban-container grey-style clearfix">
            <li><div class="ban-container-out first-li"><div class="inner-class-style"><p>分析类</p></div></div></li>
            <li>
                <div class="ban-container-out f1">
                    <div class="inner-class-style f1">
                        <div class="inner-top">数据与清算部</div>
                        <p class="working-job">大数据分析师</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out f2">
                    <div class="inner-class-style">
                        <div class="inner-top">财富管理事业部</div>
                        <p class="working-job-1">理财业务运营岗及数据分析</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="ban-container-out f3">
                    <div class="inner-class-style">
                        <div class="inner-top">财富管理事业部</div>
                        <p class="working-job-1">理财产品研究/行业研究岗</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="ban-container foot-page-pd" id="js-email">
            <div class="foot-page">
                <div class="footDiv">
                <p class="foot-word-1">更多优秀职位期待你的投递，请发送简历至邮箱：</p>
                <p class="foot-word-2">hello@hopperclouds.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="orange-map">
        <div class="orange-container map-container">
            <h2>如果简历通过初审，将有人事顾问与你联系并进一步通知面试详情</h2>
            <p>天翼电子商务有限公司上海公司</p>
            <p>地址：上海市虹口区四川北路859号中信广场</p>
            <div class="map-box">
                <a href="http://j.map.baidu.com/roU28"><img src="/static/activity/orange_financial/img/map.jpg"></a>
            </div>
            <p>powered by pinbot<br>本活动由「聘宝」独家承办</p>
        </div>
    </div>

<script src="/static/common/js/pb.common.js"></script>
<script src="/static/activity/orange_financial/func.js?20150302"></script>
<script>
    $('.ban-container li').mouseenter(function(){
        var _this = $(this);
        var topText = _this.find('div.inner-top').text();
        var jobText = _this.find('p').text();
        var workingJob = _this.find('p.working-job-1');
        _this.find('div.inner-top').text('我要投递').addClass('inner-top-black');
        _this.find('div.inner-class-style').addClass('inner-hover-style');
        _this.find('div.ban-container-out').not($('.first-li')).addClass('ban-black-out');
        _this.find('p.working-job').text('点击查看职位详情').addClass('f14');
        _this.find('p.working-job-1').text('点击查看职位详情').addClass('f14');
        if(_this.find('p').hasClass('working-job-1')){
            _this.find('p').removeClass('working-job-1').addClass('working-job');
        }
        _this.mouseleave(function(){
            _this.find('div.inner-top').text(topText).removeClass('inner-top-black');
            _this.find('div.inner-class-style').removeClass('inner-hover-style');
            _this.find('div.ban-container-out').removeClass('ban-black-out');
            _this.find('p').text(jobText);
            _this.find('p.working-job').text(jobText).removeClass('f14');
            _this.find('p.working-job-1').text(jobText).removeClass('f14');
            workingJob.removeClass('working-job').addClass('working-job-1');

        })
    });

    //弹框位置
        function layerLocation(){
            var layerobj = $('.modal-dialog');
            var objH = 450;
            var winH = $(window).height();
            layerobj.css({'top':(winH-objH)/2+'px'});
        }
        layerLocation();
    var winW = $(window).width();
    if (winW <= 760) {
        $('.inner-top').click(function() {
            return false;
        })
    } else {
        $('.inner-top-black').click(function() {
                window.open('mailto:hello@hopperclouds.com');

        });
    }
</script>
<script>
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript async src='" + _bdhmProtocol + "hm.baidu.com/hm.js%3Faa94de8e59587ee7c35e18e6fdc1a8a2' type='text/javascript'%3E%3C/script%3E"));
var _bdhmProtocol2 = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript async src='" + _bdhmProtocol2 + "hm.baidu.com/h.js%3Fb0ca4aee112304177230069cec8c7515' type='text/javascript'%3E%3C/script%3E"));


</script>
</body>
</html>
