<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>七夕不孤单 帮聘宝寻真爱 - 聘宝，专业人才推荐</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="renderer" content="webkit">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

        <link rel="stylesheet" href="{{ STATIC_URL }}activity/qixi2015/css/normalize.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}activity/qixi2015/css/main.css">

        <script src="{{ STATIC_URL }}activity/qixi2015/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        {% if debug %}
        <div id="meter"></div>
        {% endif %}
        <!--[if lt IE 9]>
            <script>alert('您的浏览器版本过低，请升级！')</script>
            <p class="browserupgrade">您的浏览器版本<strong>过低</strong>，请<a rel="nofollow" href="http://browsehappy.com/">升级</a>！</p>
        <![endif]-->

        <div class="container header">
            <div class="logo"><a title="聘宝，专业人才推荐" href="http://www.pinbot.me/">聘宝，专业人才推荐</a></div>
            <div class="clouds cloudsAfter">
                <div class="cloud x1"></div>
                <!-- Time for multiple clouds to dance around -->
                <div class="cloud x2"></div>
            </div>
            <div class="moon" title=""></div>
            <div class="clouds cloudsBefore">
                <div class="cloud x3"></div>
                <div class="cloud x4"></div>
            </div>

        </div>

        <div class="container box">
            <div class="clouds cloudsBefore2">
                <div class="cloudBlue x5"></div>
                <div class="cloudBlue x6"></div>

                <!-- <div class="cloudBlue x7"></div>
                <div class="cloudBlue x8"></div>

                <div class="cloudBlue x9"></div>
                <div class="cloudBlue x10"></div>
                <div class="cloudBlue x11"></div> -->
            </div>
            <div class="light">
                <p>
                    在这个有中国式含蓄的甜蜜日子里，聘宝能不能和心心念念的TA相见呢？用我们自己的方式，度过这特别的一天。</p>
                <p>
如果你愿意帮聘宝实现这个七夕愿望，<span class="red"><strong>推荐成功3名新用户</strong></span>，可获得一份<br><span class="rainbow">星空棒棒糖礼盒</span>
                </p>
            </div>
            <div class="dark pdTop20">
                <div class="bbt"></div>
            </div>
        </div>

        <div class="container box">
            <div class="divider"></div>
        </div>

        <div class="container box">
            <div class="clouds cloudsBefore2">

                <div class="cloudBlue x81"></div>

            </div>
            <div class="light">
                <p>
                    当你推荐的新用户与聘宝修成正果时（对方购买任意预存款礼包），你还能<strong>额外获得礼包价格的5%感谢金。</strong><br>
<span class="red">如：你邀请的新用户购买<strong>6600元</strong>预存款礼包，你可获得<strong>330元</strong>感谢金。</span>
                </p>
            </div>
        </div>

        <div class="container box">
            <div class="clouds cloudsBefore2">

                    <div class="cloudBlue x71"></div>

            </div>
            <div class="divider"></div>
        </div>

        <div class="container box">
            <div class="clouds cloudsBefore2">

                <div class="cloudBlue x91"></div>
                <div class="cloudBlue x101"></div>
                <div class="cloudBlue x111"></div>

            </div>
            <div class="dark title">
                <span>帮聘宝寻真爱，只需四步</span>
            </div>
            <div class="light">
                <p>
                    <ul>
                        <li>
                            <span class="iconBall"><span class="red">1</span></span><span class="para">
                                <a class="btn mgRight40" href="http://pinbot.me/promotion_point/link/?hmsr=%E6%B4%BB%E5%8A%A8%E9%A1%B5%E9%9D%A2&hmmd=%E4%B8%BB%E6%8C%89%E9%92%AE&hmpl=%E5%B8%AE%E8%81%98%E5%AE%9D%E5%AF%BB%E7%9C%9F%E7%88%B1&hmkw=&hmci=">登录聘宝</a> &#9756; 点它
                            </span>
                        </li>
                        <li>
                            <span class="iconBall"><span class="red">2</span></span><span class="para">
                                进入“推广伙伴”，复制你的专属推广链接，邀请好友。<br>
                                <span class="imgBox"><img src="{{ STATIC_URL }}activity/qixi2015/img/screenshot1.png" border="0"></span>
                            </span>
                        </li>
                        <li>
                            <span class="iconBall"><span class="red">3</span></span><span class="para">
                                所有通过你的专属推广链接注册并激活的用户，都能在<span class="red">跟踪记录</span>里<br>查询到。<br>
                                <span class="imgBox"><img src="{{ STATIC_URL }}activity/qixi2015/img/screenshot2.png" border="0"></span>
                            </span>
                        </li>
                        <li>
                            <span class="iconBall"><span class="red">4</span></span><span class="para">
                                成功邀请好友后，请发送记录截图给聘宝小助手领取奖励。<br>
                                <span class="red underline">(微信号：pinbot007)</span>
                            </span>
                        </li>
                    </ul>
                </p>
                <div class="cb"></div>
            </div>
        </div>

        <div class="container footer">
            <div class="bottom"></div>
            <div class="company">* 此活动最终解释权归聘宝所有</div>

        </div>

        <div class="stars">
            <div class="star starLeft1"></div>
            <div class="star starLeft2"></div>
            <div class="star starLeft3"></div>
            <div class="star starLeft4"></div>
            <div class="star starLeft5"></div>
            <div class="star starLeft6"></div>
            <div class="star starLeft7"></div>
            <div class="star starLeft8"></div>
            <div class="star starLeft9"></div>
            <div class="star starLeft10"></div>
            <div class="star starLeft11"></div>
            <div class="star starLeft12"></div>
            <div class="star starLeft13"></div>

            <div class="star starRight1"></div>
            <div class="star starRight2"></div>
            <div class="star starRight3"></div>
            <div class="star starRight4"></div>
            <div class="star starRight5"></div>
            <div class="star starRight6"></div>
            <div class="star starRight7"></div>
            <div class="star starRight8"></div>
            <div class="star starRight9"></div>
            <div class="star starRight10"></div>
            <div class="star starRight11"></div>
            <div class="star starRight12"></div>
            <div class="star starRight13"></div>
            <div class="star starRight14"></div>
        </div>



        <script src="{{ STATIC_URL }}activity/qixi2015/js/vendor/jquery-1.11.2.min.js"></script>
        {% if debug %}
        <script src="{{ STATIC_URL }}activity/qixi2015/js/vendor/fpsmeter.min.js"></script>
        {% endif %}
        <!-- <script src="{{ STATIC_URL }}activity/qixi2015/js/main.js"></script> -->

{% if debug %}{% else %}
{% include 'baidu_tj.html' %}
{% endif %}
    </body>
</html>
