<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>聘宝江湖 深圳站－ 聘宝，新一代智能猎头</title>
        <meta name="keywords" content="聘宝江湖 深圳站" />
        <meta name="description" content="12月18日深圳人才储备战，80个席位限量开抢">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="renderer" content="webkit">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

        <link rel="stylesheet" href="{{ STATIC_URL }}activity/qixi2015/css/normalize.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}activity/talented_reserve/css/talented_reserve.min.css">
    </head>
    <body>

        <!--[if lt IE 9]>
            <script>alert('您的浏览器版本过低，请升级！')</script>
            <p class="browserupgrade">您的浏览器版本<strong>过低</strong>，请<a rel="nofollow" href="http://browsehappy.com/">升级</a>！</p>
        <![endif]-->

        <div class="header">
            <div></div>
        </div>
        <div class="talented-main">
            <p>年底了，候选人不跳槽了，年终总结 、年会策划咱忙着呢，招聘松口气了？</br>
                开年了，瞪眼看别人速度牵手小鲜肉，你却还在苦逼的扣着预算，傻眼了？</br>
                人才储备战，从来不嫌早。</br>
                年底稍作努力，来年毫不费力。
            </p>
            <div class="time-reserve">
                <div></div>
                <a href="http://form.mikecrm.com/f.php?t=lkYIZn">限量开抢</a>
            </div>
            <div class="activity-process">
                <div class="activity-title"></div>
                <div>
                    <div class="activity-process-detail">
                        <p class="left1">
                            <em></em>
                            <strong>主题演讲</strong>
                            十问十答深入聘宝
                        </p>
                        <p class="left2">
                            <em></em>
                            <strong>人才粮食</strong>
                            预约</br>
                            优质人才
                        </p>
                        <p class="left3">
                            <em></em>
                            <strong>现身说法</strong>
                            行家园桌教你储备
                        </p>
                        <p class="left4">
                            <em></em>
                            <strong>套餐预购</strong>
                            千元补贴准时开抢
                        </p>
                        <p class="left5">
                            <strong>分组交流</strong>
                            猎头顾问现场答疑
                        </p>
                        <i class="left6">14:30</i>
                        <i class="left7">15:30</i>
                        <i class="left8">16:40</i>
                        <i class="left9">17:30</i>
                        <i class="left10 time-bottom">15:00</i>
                        <i class="left11 time-bottom">15:40</i>
                        <i class="left12 time-bottom">16:5  0</i>
                        <i class="left13 time-bottom">17:10</i>
                        <i class="left14 time-bottom">16:00</i>
                    </div>
                    <div class="activity-process-line"></div>
                    <div class="activity-process-lottery">
                        <p class="left16">签到入场<em></em></p>
                        <p class="left17">抽奖<em></em></p>
                        <p class="left18">抽奖<em></em></p>
                        <p class="left19">抽奖<em></em></p>
                    </div>
                </div>
                <div class="activit-guests clearfix">
                    <div>
                        <img src="{{ STATIC_URL }}activity/talented_reserve/img/head-1.jpg">
                        <p class="guests-name">奶兄（吴建华）</p>
                        <p class="guests-descript">人力资源第三方独立观察者</p>
                    </div>
                    <div>
                        <img src="{{ STATIC_URL }}activity/talented_reserve/img/head-2.jpg">
                        <p class="guests-name">陈雨点</p>
                        <p class="guests-descript">前世界500强资深HR总监<br>变革投资（BGcapital）合伙人</p>
                    </div>
                    <div>
                        <img src="{{ STATIC_URL }}activity/talented_reserve/img/head-3.jpg">
                        <p class="guests-name">陆瑾</p>
                        <p class="guests-descript">深圳面包旅行招聘负责人</p>
                    </div>
                    <div>
                        <img src="{{ STATIC_URL }}activity/talented_reserve/img/head-4.jpg">
                        <p class="guests-name">甘本全</p>
                        <p class="guests-descript">小恩爱（深圳）HR</p>
                    </div>
                    <div>
                        <img src="{{ STATIC_URL }}activity/talented_reserve/img/head-5.jpg">
                        <p class="guests-name">李燕萍</p>
                        <p class="guests-descript">云印（深圳）招聘培训主管</p>
                    </div>
                </div>

                <div class="activity-gift clearfix">
                    <div>
                         <img src="{{ STATIC_URL }}activity/talented_reserve/img/gift-1.png">
                         <p>聘宝多功能抱枕</p>
                    </div>
                    <div>
                         <img src="{{ STATIC_URL }}activity/talented_reserve/img/gift-2.png">
                         <p>超声波香薰机</p>
                    </div>
                    <div>
                         <img src="{{ STATIC_URL }}activity/talented_reserve/img/gift-3.png">
                         <p>小米移动电源</p>
                    </div>
                    <div>
                         <img src="{{ STATIC_URL }}activity/talented_reserve/img/gift-4.png">
                         <p>《招聘面试新法》</p>
                    </div>
                    <div>
                         <img src="{{ STATIC_URL }}activity/talented_reserve/img/gift-5.png">
                         <p>《拆掉思维里的墙》</p>
                    </div>
                </div>
                <div class="location">
                    <p class="location-time"><span>时间</span>&nbsp;&nbsp;&nbsp;2015年12月18日</p>
                    <p class="location-time pb10"><span>地点</span>&nbsp;&nbsp;&nbsp;深圳市南山软件产业基地4栋B座1楼10-13号&nbsp;&nbsp;飞马旅ONSTAGE</p>
                    <div>
                        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
                        <html xmlns="http://www.w3.org/1999/xhtml">
                        <head>
                        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
                        <meta name="keywords" content="百度地图,百度地图API，百度地图自定义工具，百度地图所见即所得工具" />
                        <meta name="description" content="百度地图API自定义地图，帮助用户在可视化操作下生成百度地图" />
                        <title>百度地图API自定义地图</title>
                        <!--引用百度地图API-->
                        <style type="text/css">
                            html,body{margin:0;padding:0;}
                            .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
                            .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
                        </style>
                        <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
                        </head>

                        <body>
                          <!--百度地图容器-->
                          <div style="width:595px;height:165px;border:#ccc solid 1px;" id="dituContent"></div>
                        </body>
                        <script type="text/javascript">
                            //创建和初始化地图函数：
                            function initMap(){
                                createMap();//创建地图
                                setMapEvent();//设置地图事件
                                addMapControl();//向地图添加控件
                                addMarker();//向地图中添加marker
                            }

                            //创建地图函数：
                            function createMap(){
                                var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
                                var point = new BMap.Point(113.944682,22.529636);//定义一个中心点坐标
                                map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
                                window.map = map;//将map变量存储在全局
                            }

                            //地图事件设置函数：
                            function setMapEvent(){
                                map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
                                map.enableScrollWheelZoom();//启用地图滚轮放大缩小
                                map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
                                map.enableKeyboard();//启用键盘上下左右键移动地图
                            }

                            //地图控件添加函数：
                            function addMapControl(){
                                                //向地图中添加比例尺控件
                            var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
                            map.addControl(ctrl_sca);
                            }

                            //标注点数组
                            var markerArr = [{title:"地点",content:"深圳市南山软件产业基地4栋B座1楼10-13号",point:"113.944907|22.529586",isOpen:0,icon:{w:21,h:21,l:46,t:0,x:6,lb:5}}
                                 ];
                            //创建marker
                            function addMarker(){
                                for(var i=0;i<markerArr.length;i++){
                                    var json = markerArr[i];
                                    var p0 = json.point.split("|")[0];
                                    var p1 = json.point.split("|")[1];
                                    var point = new BMap.Point(p0,p1);
                                    var iconImg = createIcon(json.icon);
                                    var marker = new BMap.Marker(point,{icon:iconImg});
                                    var iw = createInfoWindow(i);
                                    var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
                                    marker.setLabel(label);
                                    map.addOverlay(marker);
                                    label.setStyle({
                                                borderColor:"#808080",
                                                color:"#333",
                                                cursor:"pointer"
                                    });

                                    (function(){
                                        var index = i;
                                        var _iw = createInfoWindow(i);
                                        var _marker = marker;
                                        _marker.addEventListener("click",function(){
                                            this.openInfoWindow(_iw);
                                        });
                                        _iw.addEventListener("open",function(){
                                            _marker.getLabel().hide();
                                        })
                                        _iw.addEventListener("close",function(){
                                            _marker.getLabel().show();
                                        })
                                        label.addEventListener("click",function(){
                                            _marker.openInfoWindow(_iw);
                                        })
                                        if(!!json.isOpen){
                                            label.hide();
                                            _marker.openInfoWindow(_iw);
                                        }
                                    })()
                                }
                            }
                            //创建InfoWindow
                            function createInfoWindow(i){
                                var json = markerArr[i];
                                var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
                                return iw;
                            }
                            //创建一个Icon
                            function createIcon(json){
                                var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
                                return icon;
                            }

                            initMap();//创建和初始化地图
                        </script>
                        </html>
                    </div>

                    <div class="co-organizers">
                        <p>感谢协办方：</p>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="talented-bottom">
            <div>
                如有疑问请扫码添加聘宝助手</br>
                或致电：028-83330727</br>
                &copy;聘宝出品
            </div>
        </div>

{% if debug %}{% else %}
{% include 'baidu_tj.html' %}
{% endif %}

    </body>
</html>
