{% extends 'base_newset.html' %}
{% block content %}
{%if step == 1 %}

    <div class="">
        <div class="layout">

            <div class="main main-white">
                <div class="header ">
                    <div class="stepBox">
                        <ul class="steps-info-line">
                            <li></li>
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="steps-info">
                            <li class="step1 active">
                                <span class="step-icon"><span>1</span></span>
                                <span class="step-info">输入邮箱</span>
                            </li>
                            <li class="step2">
                                <span class="step-icon"><span>2</span></span>
                                <span class="step-info">验证邮箱</span>
                            </li>
                            <li class="step3">
                                <span class="step-icon"><span>3</span></span>
                                <span class="step-info">重置密码</span>
                            </li>
                        </ul>
                    </div>
                    <ul class="step-title mg-btm-20">
                        <li class="step-title-prev "><a class="" href="#">上一步</a></li>
                        <li class="step-title-center"><h1>找回我的密码<span class="sub-title">我要使用<span class="c63c2ec underline cursor-point verify-by-mobile">手机验证</span>找回密码</span></h1></li>
                        <li class="step-title-next "><a class="" href="＃">下一步</a></li>
                    </ul>
                </div>

                <div class="register-form-div">
                    <h1 class="mobile">找回我的密码<span class="sub-title">我要使用<span class="c63c2ec underline cursor-point verify-by-mobile">手机验证</span>找回密码</span></h1>
                </div>

                <p class="pc register-pc" style="display:none;">
                    <!--
                      {% if message == 'code error' %}
                      <label class="city-no-star"><span class="cff0000 fs12">验证码输入错误!</span></label>
                      {% endif %}
                      {% if message == 'user not exist' %}
                      <label class="city-no-star"><span class="cff0000 fs12">用户不存在,请检查你的邮箱！</span></label>
                      {% endif %}
                      {% if message == 'input error' %}
                      <label class="city-no-star"><span class="cff0000 fs12">用户不存在,请检查你的邮箱！</span></label>
                      {% endif %}
                    -->
                </p>

                <div class="register-form-div">

                    <form id="resetForm" method="POST" action="/users/resetpassword/">
                        <div class="account-div">

                            <p id="email">
                                <label class="pc pc-hide">请输入注册邮箱</label><input type="text" tabindex="1" name="email" value="" required  autocomplete="off" class="big-placeholder" placeholder="请输入注册邮箱" />
                                <label class="mobile" alt="请输入注册邮箱" placeholder="请输入注册邮箱"></label>
                                {% if message == 'user not exist' %}
                                  <label id="email-error" class="invalid" for="email">该邮箱未验证，请验证邮箱／手机找回密码！</label>
                                {% elif message == 'input error' %}
                                  <label id="email-error" class="invalid" for="email">该邮箱未验证，请验证邮箱／手机找回密码！</label>
                                {% else %}
                                  <label id="email-error" class="invalid" for="email" style="display: none;"></label>
                                {% endif %}
                            </p>
                            <p id="code" class="code codefix">

                                <label class="pc pc-hide">请输入验证码</label><input type="text" tabindex="2" name="code" value="" required autocomplete="off" placeholder="请输入验证码" maxlength="20" minlength="6" class=" confirm-code big-placeholder w250 {% if message == 'code error' %}invalid{% endif %}" />
                                <label class="mobile" alt="请输入验证码" placeholder="请输入验证码"></label>

                                {% if message == 'code error' %}
                                  <label id="code-error" class="invalid" for="code">验证码输入错误!</label>
                                {% else %}
                                  <label id="code-error" class="invalid" for="code" style="display: none;"></label>
                                {% endif %}
                                <img src="/users/get_check_code_image/"  alt="验证码" class="captcha" title="看不清？点击刷新" id="captcha"/>
                            </p>
                        </div>

                        <p class="form-control align-center">

                            <label class="pc"></label><button type="button" tabindex="9" class="btn btn-red-submit confirm reset-btn">找回密码</button>

                        </p>
                        <p class="mobile copyright">
                            <label>Copyright &copy; 2013 - 2016 HopperClouds, Inc.</label>
                        </p>

                        {% csrf_token %}
                    </form>
                </div>

            </div>
        </div>
    </div>



{% endif %}
{%if step == 2 %}

    <div class="">
        <div class="layout">

            <div class="main main-white">
                <div class="header pd-10">
                    <div class="stepBox">
                        <ul class="steps-info-line">
                            <li></li>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li></li>
                        </ul>
                        <ul class="steps-info">
                            <li class="step1 active">
                                <span class="step-icon"><span>1</span></span>
                                <span class="step-info">输入邮箱</span>
                            </li>
                            <li class="step2 active">
                                <span class="step-icon"><span>2</span></span>
                                <span class="step-info">验证邮箱</span>
                            </li>
                            <li class="step3">
                                <span class="step-icon"><span>3</span></span>
                                <span class="step-info">重置密码</span>
                            </li>
                        </ul>
                    </div>
                    <ul class="step-title mg-btm-20">
                        <li class="step-title-prev "><a class="" href="#">上一步</a></li>
                        <li class="step-title-center"><h1>找回密码</h1></li>
                        <li class="step-title-next "><a class="" href="＃">下一步</a></li>
                    </ul>
                </div>

                <div class="register-form-div">
                    <h1 class="mobile">找回密码</h1>
                </div>
                <p class="pc register-pc">
                    <label class="city-no-star">

                      <span class="icons-email"></span>

                      <span class="c607d8b fs12">您的邮箱重置密码已发送至邮箱：<a class=" ac44b5e8 fs12" href="mailto:{{email}}}">{{email}}</a><br>
                      请尽快登录邮箱点击激活链接，重置您的密码。
                      </span>

                    </label>

                </p>

                <div class="register-form-div">

                        <p class="form-control align-center">
                            <label class="pc"></label><a tabindex="9" class="btn btn-red-submit confirm check-my-email " href="{{mail_host_url}}" rel="nofollow">去我的邮箱</a>

                        </p>
                        <p class="mobile copyright">
                            <label>Copyright &copy; 2013 - 2016 HopperClouds, Inc.</label>
                        </p>

                </div>

            </div>
        </div>
    </div>

{% endif %}
{%if step == 3 %}
{%if validlink %}
  <div class="">
        <div class="layout">

            <div class="main main-white">
                <div class="header pd-10">
                    <div class="stepBox">
                        <ul class="steps-info-line">
                            <li></li>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li></li>
                        </ul>
                        <ul class="steps-info">
                            <li class="step1 active">
                                <span class="step-icon"><span>1</span></span>
                                <span class="step-info">输入邮箱</span>
                            </li>
                            <li class="step2 active">
                                <span class="step-icon"><span>2</span></span>
                                <span class="step-info">验证邮箱</span>
                            </li>
                            <li class="step3 active">
                                <span class="step-icon"><span>3</span></span>
                                <span class="step-info">重置密码</span>
                            </li>
                        </ul>
                    </div>
                    <ul class="step-title mg-btm-20">
                        <li class="step-title-prev "><a class="" href="#">上一步</a></li>
                        <li class="step-title-center"><h1>重置我的密码</h1></li>
                        <li class="step-title-next "><a class="" href="＃">下一步</a></li>
                    </ul>
                </div>

                <div class="register-form-div">
                    <h1 class="mobile">重置我的密码</h1>
                </div>
                <p class="pc register-pc">
                    <label class="city-no-star">

                      <span class="c607d8b fs12">您的邮箱：<a class=" ac44b5e8 fs12" href="mailto:{{username}}}">{{username}}</a>
                      </span>

                    </label>

                </p>

                <div class="register-form-div">

                    <form id="resetForm2" method="POST" action="">
                        <div class="account-div">

                            <p id="new_password1">
                                <label class="pc pc-hide">请输入您的新密码</label><input type="password" tabindex="1" name="new_password1" value="" required autofocus autocomplete="off" class="big-placeholder" placeholder="请输入您的新密码" id="password_new" />
                                <label class="mobile" alt="请输入您的新密码" placeholder="请输入您的新密码"></label>
                                <label id="new_password1-error" class="invalid" for="new_password1" style="display: none;"></label>
                            </p>
                            <p id="new_password2">
                                <label class="pc pc-hide">请确认新密码</label><input type="password" tabindex="2" name="new_password2" value="" required autocomplete="off" placeholder="请确认新密码" maxlength="20" minlength="6" class="big-placeholder" id="password_confirm"/>

                                <label class="mobile" alt="请确认新密码" placeholder="请确认新密码"></label>
                                <label id="new_password2-error" class="invalid" for="new_password2" style="display: none;"></label>
                            </p>
                        </div>

                        <p class="form-control align-center">
                            <label class="pc"></label>

                            {%if type == 'activate'%}
                              <button id="JS_reset_submit" type="button" tabindex="9" class="btn btn-red-submit confirm login-btn">确定</button>
                              {%else%}
                                  <button type="button" tabindex="9" class="btn btn-red-submit confirm reset2-btn">确定</button>
                            {%endif%}

                        </p>
                        <p class="mobile copyright">
                            <label>Copyright &copy; 2013 - 2016 HopperClouds, Inc.</label>
                        </p>

                        {% csrf_token %}
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--你还没有填写企业名片-->
        <script id="JS_no_card" type="text/html">
            <div class="service-agreement">
                <p style="text-align:center;color:#333;font-size:14px;padding:10px 0;"><i class="i-gou"></i>恭喜你成功注册聘宝！</p>
                <p style="text-align:center; font-size:14px; color:#333;padding: 40px 0;">聘宝建议你立即完善<span style="color:#ef7e40">企业名片</span>，方便你提前了解候选人的意愿。
                </p>
                <div class="no-card-info">
                    <a href="/companycard/get/" title="完成企业名片" class="layer-button blue-button">完善企业名片</a><br><br>
                    <a href="/signin/" title="" class="a-blue">暂不填写，直接登录聘宝</a>
                </div>
            </div>
        </script>

{% else %}
  <div class="">
        <div class="layout">

            <div class="main main-white">
                <div class="header pd-10">
                    <div class="stepBox">
                        <ul class="steps-info-line">
                            <li></li>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li></li>
                        </ul>
                        <ul class="steps-info">
                            <li class="step1 active">
                                <span class="step-icon"><span>1</span></span>
                                <span class="step-info">输入邮箱</span>
                            </li>
                            <li class="step2 active">
                                <span class="step-icon"><span>2</span></span>
                                <span class="step-info">验证邮箱</span>
                            </li>
                            <li class="step3">
                                <span class="step-icon"><span>3</span></span>
                                <span class="step-info">重置密码</span>
                            </li>
                        </ul>
                    </div>
                    <ul class="step-title mg-btm-20">
                        <li class="step-title-prev "><a class="" href="#">上一步</a></li>
                        <li class="step-title-center"><h1>找回密码</h1></li>
                        <li class="step-title-next "><a class="" href="＃">下一步</a></li>
                    </ul>
                </div>

                <div class="register-form-div">
                    <h1 class="mobile">找回密码</h1>
                </div>
                <p class="pc register-pc">
                    <label class="city-no-star">

                      <span class="icons-email"></span>

                      <span class="cff0000 fs12">链接失效请重新申请！</span>

                    </label>

                </p>

                <div class="register-form-div">

                        <p class="form-control align-center">

                            <label class="pc"></label><a tabindex="9" class="btn btn-red-submit confirm check-my-email " href="/users/resetpassword/" rel="nofollow">重新申请</a>

                        </p>
                        <p class="mobile copyright">
                            <label>Copyright &copy; 2013 - 2016 HopperClouds, Inc.</label>
                        </p>

                </div>

            </div>
        </div>
    </div>
{% endif %}
{% endif %}

{% endblock %}



