/* job */
.job-tip{
    font-size: 24px;
    color: #777;
    padding: 20px 0;
    border-bottom: solid 1px #ddd;
}
.job-tip span,.tags{
    display: inline-block;
    vertical-align: middle;
    max-width: 85%;
}
.i-view{
    background: url(../img/arrow_r_48x48.png) left top no-repeat;
    width: 32px;
    height: 32px;
    background-size: 100%;
    margin-left: 5px;
    -webkit-animation: move-right 1.5s infinite ease-in-out;
    animation: move-right 1.5s infinite ease-in-out;
}
.job-tip a{
    display: inline-block;
    vertical-align: middle;
}
.tag-list{
    padding: 20px 0;
    border-bottom: solid 1px #ddd;
}
.tag-list span{
    font-size: 24px;
    color: #777;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
.i-edit{
    display: inline-block;
    vertical-align: middle;
    background: url(../img/edit_r_32x32.fw.png) left top no-repeat;
    width: 32px;
    height: 32px;
    background-size: 100%;
    margin-left: 5px;
}
.grey-bg{
    background: #f2f2f2;
    padding: 30px 0 230px;
}
.job-content{
    width: 90%;
    border-top: solid 6px #0091fa;
    background: #fff;
    margin: 0 auto;
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}
.item-box{
    padding: 30px 50px 50px;
}
.item-box h1{
    color: #444;
    font-size: 30px;
}
.company-desc,.job-title,.job-desc{
    padding: 20px 0;
}
.job-address{
    font-size: 18px;
    color: #777;
    padding: 0 0 15px;
}
.job-category{
    color: #444;
    padding-bottom: 15px;
    font-size: 18px;
}
.job-category span{
    margin-right: 10px;
}
.job-url{
    padding-bottom: 15px;
}
.job-url a{
    font-size: 16px;
    text-decoration: underline;
}
.company-desc{
    font-size: 18px;
    color: #444;
    background: #d0f0ff;
    padding: 30px 50px 50px;
}
.job-title{
    font-size: 24px;
    color: #444;
}
.other-info{
    font-size: 20px;
    color: #444;
    padding: 20px 0;
}
.job-desc{
    font-size: 18px;
    color: #777;
    line-height: 1.5em;
}
.skill-desc{
    padding: 20px 0 0;
    font-size: 18px;
    color: #777;
    line-height: 1.5em;
}
.desc-title{
    font-size: 18px;
    color: #777777;
    padding: 20px 0 0;
}
.key-points{
    font-size: 18px;
    color: #777;
}
.pb-recommend{
    padding: 6px 8px 8px;
    margin-right: 20px;
    background: #0091FA;
    color: #fff;
    font-size: 15px;
    display: inline-block;
}
.welfare span{
    margin: 0 10px 20px 0;
    display: inline-block;
    background: #0091FA;
    color: #fff;
    font-size: 14px;
    padding: 6px;
}
.job-desc-toggle{
    font-size: 18px;
    color: #008add;
    cursor: pointer;
}
.panel-praise{
    position: absolute;
    text-align: center;
    top: 100%;
    left: 50%;
    margin-top: -25px;
    width: 100px;
    margin-left: -50px;
}
.btn-praise{
    display: inline-block;
    width: 32px;
    height: 31px;
    padding: 10px;
    border-radius: 50%;
    text-indent: -9999em;
    overflow: hidden;
    background: url(../img/praise_grey.png) center center no-repeat #fff;
    background-size: 28px 28px !important;
    box-shadow: 0px 2px 7px rgba(0,0,0,.3);
    cursor: pointer;
}
.panel-praise.active .btn-praise{
    background: url(../img/praise.png) center center no-repeat #fff;
}
.praise-count{
    color: #777;
}
.panel-praise.active .praise-count{
    color: #0091fa;
}
.add{
    font-size: 18px;
    opacity: 0;
    color: #40c4ff;
    position: absolute;
    top: 37px;
    display: block;
    font-weight: bold;
    left: 0;
    width: 100%;
}
.add.active{
    -webkit-animation: praise 1s 1 ease-in-out;
    animation: praise 1s 1 ease-in-out;
}
.i-slideup{
    background: url(../img/arrow_2_46x32.fw.png) 0 0 no-repeat;
    display: inline-block;
    width: 30px;
    height: 20px;
    background-size: 100% 100%;
}

/* fix-footer */
.fix-footer{
    position: fixed;
    bottom: 0;
    padding: 30px 0;
    background: #0091fa;
    width: 100%;
    left: 0;
}
.probability-process{
    bottom: 100%;
    position: absolute;
    left: 0;
    background: rgba(255,255,255,.8);
    width: 100%;
}
.probability-process h5{
    padding: 10px 0;
}
.process{
    background: #DDDDDD;
    height: 12px;
    overflow: hidden;
    line-height: 12px;
}
.process span{
    display: inline-block;
    height: 100%;
    line-height: 12px;
}
.red-process span{
    background: #ee534f;
}
.orange-process span{
    background: #f67b02;
}
.green-process span{
    background: #00bfa5;
}
.button-alpha-default{
    display: inline-block;
    border: solid 1px #fff;
    background: none;
    color: #fff;
}
.button-alpha-default:not([disabled]):hover{
    background: #b3e5fc;
    color: #fff;
    border: solid 1px #b3e5fc;
}

.btn4 .button{
    margin: 0 10px;
}
.btn4 .button i{
    display: none;
}
.i-delivery,.i-mark,.i-fresh,.i-delete{
    width: 28px;
    height: 21px;
    display: inline-block;
    vertical-align: top;
}
.i-delivery{
    background: url(../img/tou_42x32.fw.png) left top no-repeat;
    background-size: 100%;
    height: 21px;
    width: 32px;
}
.i-mark{
    background: url(../img/star_w_42x32.fw.png) left top no-repeat;
    background-size: 100%;
}
.i-fresh{
    background: url(../img/refresh_42x32.fw.png) left top no-repeat;
    background-size: 100%;
}
.i-delete{
    background: url(../img/recycle_42x32.fw.png) left top no-repeat;
    background-size: 100%;
}
.btn4 .button.active .i-delivery{
    background: url(../img/yitou_42x32.fw.png) left top no-repeat;
    background-size: 100%;
}
.btn4 .button.active .i-mark{
    background: url(../img/star_y_42x32.fw.png) left top no-repeat;
    background-size: 100%;
}
.o80p{
    opacity: .8;
}
.select-tip{
    padding: 0 0 20px;
    font-size: 24px;
    color: #fff;
}
.button-long{
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    max-width: 90%;
}
.i-correct{
    display: inline-block;
    vertical-align: middle;
    background: url(../img/tick_1_32x25.fw.png) left top no-repeat;
    width: 23px;
    height: 16px;
    background-size: 100%;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
}
.i-close{
    display: inline-block;
    vertical-align: middle;
    background: url(../img/close_1_32x32.fw.png) left top no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100%;
    position: absolute;
    right: 30px;
    top: 30px;
    margin-top: -10px;
    cursor: pointer;
}

.end-recommend{
    font-size: 30px;
    color: #4E4E4E;
    padding: 50px 0 20px;
}
.also{
    color: #999;
    font-size: 20px;
}
.more-handle .button{
    margin-top: 50px;
}
.message textarea{
    width: 100%;
}
.message button{
    margin-top: 50px;
}

/* media queries */
@media ( min-width: 320px ) and ( max-width: 760px ) {  /* 手机设备 */
    .job-tip{
        font-size: 16px;
        padding: 10px 0;
    }
    .tag-list{
        padding: 10px 0;
    }
    .tag-list span{
        font-size: 16px;
        margin: 0 5px;
    }
    .i-view,.i-edit{
        width: 20px;
        height: 20px;
    }
    .grey-bg{
        padding:15px 0 150px;
    }
    .grey-bg.list-bg{
        padding:15px 0 155px;
    }
    .fix-footer{
        padding: 20px 0;
    }
    .btn4 .button{
        margin: 0 5px;
    }
    .btn4 .button span{
        display: none;
    }
    .btn4 .button i{
        display: inline-block;
    }
    .button-long{
        padding: 8px 10px;
        width: 90%;
    }
    .select-tip{
        font-size: 16px;
        padding-bottom: 10px;
    }
    .i-close{
        top: 20px;
        right: 10px;
    }
    .job-content{
        border-top: solid 4px #0091fa;
    }
    .item-box {
        padding: 10px 20px 50px;
    }
    .item-box h1{
        font-size: 22px;
    }
    .job-title,.job-desc{
        padding: 10px 0;
    }
    .job-address{
        font-size: 16px;
        padding: 0 0 15px;
    }
    .job-category{
        color: #444;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .job-url{
        padding-bottom: 10px;
    }
    .job-url a{
        font-size: 14px;
    }
    .company-desc{
        font-size: 15px;
        padding: 10px 20px 30px;
    }
    .job-title{
        font-size: 20px;
    }
    .welfare span{
        font-size: 13px;
        padding: 5px;
        margin: 0 5px 10px 0;
    }
    .other-info{
        font-size: 18px;
        padding: 10px 0;
    }
    .job-desc{
        font-size: 16px;
    }
    .skill-desc{
        padding: 10px 0 0;
        font-size: 16px;
    }
    .desc-title{
        font-size: 16px;
        padding-top: 10px;
    }
    .end-recommend{
        font-size: 24px;
        padding: 30px 0 10px;
    }
    .also{
        color: #999;
        font-size: 16px;
    }
    .key-points{
        font-size: 15px;
    }
    .more-handle .button{
        margin-top: 25px;
    }
    .pb-recommend{
        font-size: 12px;
        margin-right: 10px;
        padding: 5px;
    }
    .btn-praise{
        width: 20px;
        height: 20px;
        background-size: 22px 22px !important;
    }
    .praise-count{
        font-size: 14px;
        line-height: 1.8em;
    }
    .job-desc-toggle{
        font-size: 16px;
    }
    .i-slideup {
        width: 20px;
        height: 14px;
    }
    .panel-praise{
        margin-top: -20px;
    }
    @media ( min-width: 481px ) and ( max-width: 760px ){   /* 大屏手机设备 */

    }
}
@media ( min-width: 761px ) and ( max-width: 1024px ) { /* pad设备(不区分横竖屏) */
    .item-box{
        padding: 25px 30px;
    }
    .fix-footer-btns .button{
        padding: 16px 0;
        width: 21%;
    }
}
@media ( min-width: 1025px ){   /* pc设备(默认) */


}

@-webkit-keyframes move-right{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(10px,0);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes move-right{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(10px,0);
    }
    100%{
        transform: translate(0,0);
    }
}

@-webkit-keyframes praise{
    0%{
        top: 37px;
        opacity: 1;
        scale: 1;
    }
    100%{
        top: 0px;
        opacity: 0;
        transform: scale(1.5);
    }
}
@keyframes praise{
    0%{
        top: 37px;
        opacity: 1;
        scale: 1;
    }
    100%{
        top: 0px;
        opacity: 0;
        transform: scale(1.5);
    }
}