<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>聘宝给你发过节费啦</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://www.pinbot.me/static/alpha/styles/common.min.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_URL }}alpha/styles/activity.min.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div class="banner" data-bg="{{ STATIC_URL }}activation/p1.jpg" id="JS_banner"></div>
<div class="content">
    <div class="img-list">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p2.jpg" width="100%" height="250" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p3.jpg" width="100%" height="250" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p4.jpg" width="100%" height="347" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p5.jpg" width="100%" height="403" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p6.jpg" width="100%" height="250" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p7.jpg" width="100%" height="250" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p8.jpg" width="100%" height="440" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p9.jpg" width="100%" height="347" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p10.jpg" width="100%" height="213" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p11.jpg" width="100%" height="250" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p12.jpg" width="100%" height="158" alt="">
        <img src="{{ STATIC_URL }}activation/blank.gif" data-src="{{ STATIC_URL }}activation/p13.jpg" width="100%" height="342" alt="">
    </div>
    <a href="http://pinbot.me/event/guojie/promote?username={{username}}&click=2" title="登陆聘宝" class="login"><img src="{{ STATIC_URL }}activation/hand.gif" alt="" width="52" height="51"></a>
    <a href="http://weibo.com/u/3739464981" title="微博" class="weibo"></a>
</div>
<script src="http://www.pinbot.me/static/alpha/scripts/jq.js?20140814"></script>
<script type="text/javascript" src="{{ STATIC_URL }}alpha/scripts/activity.min.js"></script>

<div style="display: none!important">
<!-- <script src="http://s9.cnzz.com/z_stat.php?id=1253307522&web_id=1253307522" language="JavaScript"></script>
<a href="http://hao.360.cn">360导航</a>
<a href="http://se.360.cn">360安全浏览器</a> -->
</div>
</body>
</html>